Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Use `transferFrom` to distribute rewards from a `rewardsHolder`
  contracts/CumulativeMerkleDrop.sol
  test/CumulativeMerkle.test.js
Due: lint-sol, lint-sol-v1

Set the rewardsHolder in the constructor
  contracts/CumulativeMerkleDrop.sol
  test/CumulativeMerkle.test.js
Due: lint-sol, lint-sol-v1

Refactor `ethereum.ChainKeyToOperatorKeyPair` function
  cmd/start.go
  pkg/chain/ethereum/key.go
Due: none

Adjust relay chain's `GetKeys` function
  pkg/beacon/relay/chain/chain.go
  pkg/chain/ethereum/ethereum.go
  pkg/chain/local/local.go
Due: none

Adjust `Signing` interface to use the operator key
  pkg/chain/chain.go
  pkg/chain/ethereum/ethereum.go
  pkg/chain/ethereum/signer.go
  pkg/chain/local/key.go
  pkg/chain/local/local.go
  pkg/chain/local/signer.go
Due: none

Adjust stake waiter in `start.go`
  cmd/start.go
Due: none

Adjust `diagnostics` package
  cmd/start.go
  pkg/diagnostics/diagnostics.go
Due: none

Adjust `cmd/network.go` tools
  cmd/network.go
Due: none

Adjust `eth_connectivity` metric code
  cmd/start.go
  pkg/metrics/metrics.go
Due: none

Adjustments in the membership validator
  pkg/beacon/relay/group/membership_validator.go
Due: none

Adjust beacon initializer function
  cmd/start.go
  pkg/beacon/beacon.go
Due: none

Improving code around staking and authorization
  solidity/random-beacon/scripts/staking.ts
Due: lint-eslint, lint-config

Improving install.sh
  scripts/install.sh
Due: none

Registering operator for a staking provider
  solidity/random-beacon/scripts/staking.ts
Due: lint-eslint, lint-config

Importing ethers from Hardhat
  solidity/random-beacon/scripts/unlock-eth-accounts.ts
Due: lint-eslint, lint-config

Expose `DefaultCurve` global variables
  pkg/chain/ethereum/key.go
  pkg/chain/local/key.go
  pkg/chain/local/local.go
  pkg/net/libp2p/key.go
  pkg/net/local/key.go
  pkg/net/local/local.go
Due: none

Unit tests adjustments
  pkg/beacon/relay/dkg/result/signing_test.go
  pkg/beacon/relay/group/membership_validator_test.go
  pkg/chain/local/stake_monitor_test.go
  pkg/firewall/firewall_test.go
  pkg/internal/dkgtest/dkgtest.go
  pkg/internal/entrytest/entrytest.go
  pkg/net/libp2p/authenticated_connection_test.go
  pkg/net/libp2p/channel_test.go
  pkg/net/libp2p/libp2p_test.go
  pkg/net/libp2p/signing_test.go
  pkg/net/libp2p/unicast_channel_test.go
  pkg/net/local/broadcast_channel_test.go
  pkg/net/local/unicast_channel_test.go
  pkg/net/watchtower/watchtower_test.go
Due: none

Rename `net/libp2p/key.go` converters to not use package name
  pkg/net/libp2p/authenticated_connection.go
  pkg/net/libp2p/authenticated_connection_test.go
  pkg/net/libp2p/channel.go
  pkg/net/libp2p/channel_test.go
  pkg/net/libp2p/key.go
  pkg/net/libp2p/libp2p.go
  pkg/net/libp2p/libp2p_test.go
  pkg/net/libp2p/signing_test.go
  pkg/net/libp2p/unicast_channel.go
  pkg/net/libp2p/unicast_channel_test.go
Due: none

Move `ephemeral` package from `net` to `crypto`
  pkg/beacon/relay/gjkr/export_test.go
  pkg/beacon/relay/gjkr/integration_test.go
  pkg/beacon/relay/gjkr/marshaling.go
  pkg/beacon/relay/gjkr/marshaling_test.go
  pkg/beacon/relay/gjkr/member.go
  pkg/beacon/relay/gjkr/message.go
  pkg/beacon/relay/gjkr/message_test.go
  pkg/beacon/relay/gjkr/protocol.go
  pkg/beacon/relay/gjkr/protocol_accusations_test.go
  pkg/beacon/relay/gjkr/protocol_commitments_test.go
  pkg/beacon/relay/gjkr/protocol_ecdh_test.go
  pkg/beacon/relay/gjkr/protocol_reconstructions_test.go
  pkg/beacon/relay/gjkr/protocol_sharing_test.go
  pkg/crypto/ephemeral/full_ecdh_test.go
  pkg/crypto/ephemeral/interface.go
  pkg/crypto/ephemeral/private_key.go
  pkg/crypto/ephemeral/private_key_test.go
  pkg/crypto/ephemeral/symmetric_key.go
  pkg/crypto/ephemeral/symmetric_key_test.go
  pkg/internal/pbutils/pbutils.go
Due: none

Add require checks for rewardsHolder and token contract
  contracts/CumulativeMerkleDrop.sol
  test/CumulativeMerkle.test.js
Due: lint-sol, lint-sol-v1

Unit tests that cover the new code introduced during keys refactoring
  pkg/chain/ethereum/key_test.go
  pkg/chain/ethereum/signer_test.go
  pkg/chain/local/key_test.go
  pkg/chain/local/signer_test.go
  pkg/net/libp2p/key_test.go
  pkg/operator/key_test.go
Due: none

Converting script to a HH task for account unlocking
  scripts/install.sh
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/scripts/unlock-eth-accounts.ts
  solidity/random-beacon/tasks/index.ts
  solidity/random-beacon/tasks/unlock-eth-accounts.ts
  solidity/random-beacon/tsconfig.json
Due: lint-eslint, lint-config

Fix for unicast channel related test errors
  pkg/net/libp2p/unicast_channel_test.go
Due: none

Converting staking script to a HH task
  scripts/install.sh
  solidity/random-beacon/scripts/staking.ts
  solidity/random-beacon/tasks/index.ts
  solidity/random-beacon/tasks/staking.ts
Due: lint-eslint, lint-config

Removing client config leftovers
  scripts/install.sh
Due: none

Making files in tasks/ to ignore no-extraneous-dependencies
  solidity/random-beacon/.eslintrc
  solidity/random-beacon/tasks/staking.ts
  solidity/random-beacon/tasks/unlock-eth-accounts.ts
Due: lint-eslint, lint-config

Checking if Geth is running
  scripts/install.sh
  scripts/pre-install.sh
Due: none

Removing Celo specific configuration and installation scripts
  .github/workflows/contracts-v1.yml
  infrastructure/docker/celo/.gitignore
  infrastructure/docker/celo/Dockerfile
  infrastructure/docker/celo/README.md
  infrastructure/docker/celo/celo-init/genesis.json
  infrastructure/docker/celo/celo-init/keystore/UTC--2021-02-10T18-53-12.801965000Z--2b2976824682233807a197081119da511af12f7a
  infrastructure/docker/celo/celo-init/keystore/UTC--2021-02-10T18-53-38.775101000Z--a44297a7789725e1ca4824c973d00bef3cdcef02
  infrastructure/docker/celo/celo-init/keystore/UTC--2021-02-10T18-55-06.502151000Z--eaec663a8a226e92ea2ff82ba75cf9562dd7a349
  infrastructure/docker/celo/celo-init/keystore/UTC--2021-02-10T18-55-24.803143000Z--ac7ecbf5a908d5bbb8185637f8e5475230f7fc98
  infrastructure/docker/celo/celo-init/keystore/UTC--2021-02-10T18-55-40.325817000Z--221df07ac9806020e4ff2ad2003e5f5d64bbaaa4
  infrastructure/docker/celo/celo-init/keystore/UTC--2021-02-15T15-10-55.477499000Z--bb123eeb3654437b2bcaad97568c8782988b2cd9
  infrastructure/docker/celo/celo-init/keystore/UTC--2021-02-15T15-14-56.273917000Z--04bdc8f5051f21cf6e788ea451bb81a75266b473
  infrastructure/docker/celo/celo-init/keystore/UTC--2021-02-15T15-16-18.889236000Z--591b8eee648270f3f87f74057531953a21b497df
  infrastructure/docker/celo/celo-init/password.txt
  infrastructure/docker/celo/start.sh
  scripts/install-celo.sh
Due: none

Update keep-common dependency version
  go.mod
  go.sum
Due: none

Generated bindings for V2 contracts
  pkg/chain/ecdsa/gen/abi/SortitionPool.go
  pkg/chain/ecdsa/gen/abi/WalletRegistry.go
  pkg/chain/ecdsa/gen/cmd/SortitionPool.go
  pkg/chain/ecdsa/gen/cmd/WalletRegistry.go
  pkg/chain/ecdsa/gen/contract/SortitionPool.go
  pkg/chain/ecdsa/gen/contract/WalletRegistry.go
  pkg/chain/random-beacon/gen/abi/RandomBeacon.go
  pkg/chain/random-beacon/gen/abi/SortitionPool.go
  pkg/chain/random-beacon/gen/cmd/RandomBeacon.go
  pkg/chain/random-beacon/gen/cmd/SortitionPool.go
  pkg/chain/random-beacon/gen/contract/RandomBeacon.go
  pkg/chain/random-beacon/gen/contract/SortitionPool.go
  pkg/chain/tbtc-v2/gen/abi/Bridge.go
  pkg/chain/tbtc-v2/gen/cmd/Bridge.go
  pkg/chain/tbtc-v2/gen/contract/Bridge.go
  pkg/chain/threshold-network/gen/abi/TokenStaking.go
  pkg/chain/threshold-network/gen/cmd/TokenStaking.go
  pkg/chain/threshold-network/gen/contract/TokenStaking.go
Due: none

Update Dockerfile with V2 contracts
  Dockerfile
Due: none

v0.0.0
  pkg/chain/threshold-network/gen/_solidity/package.json
Due: none

Get rid of the current group selection code
  pkg/beacon/beacon.go
  pkg/beacon/relay/chain/chain.go
  pkg/beacon/relay/chain/group_ticket.go
  pkg/beacon/relay/event/event.go
  pkg/beacon/relay/groupselection/groupselection.go
  pkg/beacon/relay/groupselection/groupselection_test.go
  pkg/beacon/relay/groupselection/ticket.go
  pkg/beacon/relay/groupselection/ticket_generate.go
  pkg/beacon/relay/groupselection/ticket_generate_test.go
  pkg/beacon/relay/groupselection/ticket_sort.go
  pkg/beacon/relay/groupselection/ticket_sort_test.go
  pkg/beacon/relay/groupselection/ticket_submission.go
  pkg/beacon/relay/groupselection/ticket_submission_test.go
  pkg/beacon/relay/node.go
  pkg/chain/ethereum/ethereum.go
  pkg/chain/local/local.go
Due: none

Add a deploy script for Ropsten network
  .gitignore
  deploy/00_deploy_token_mock.js
  deploy/01_deploy_t_merkle_distributor.js
  deploy/02_mint_token.js
  deploy/deploy.js
  hardhat.config.js
  hardhat.networks.js
  package-lock.json
  package.json
Due: none

Update README to demonstrate deployment to Ropsten
  README.md
  deploy/deploy.js
Due: none

Updated versions of libp2p modules
  go.mod
  go.sum
Due: none

Align client code to work with new versions of p2plib modules
  pkg/net/libp2p/libp2p.go
  pkg/net/libp2p/transport.go
Due: none

Rename `cmd/network.go` functions to match the returning value
  cmd/network.go
Due: none

Fix a typo in the comment about the ethereum curve
  pkg/chain/ethereum/key.go
Due: none

Fix `PublicKeyBytesToAddress` comment
  pkg/chain/chain.go
Due: none
