Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Adjust dkg test utils to recent main changes
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-eslint, lint-config

Make linter happy
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use @keep-network/hardhat-helpers
  solidity/random-beacon/package.json
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/functions/index.ts
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Repair failing group creation tests
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

DKG submitResult, approveResult, and challengeResult made external
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Expiring groups before group selection
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Removed fields from relay library
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

cleanup after merge
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Slithering
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Removed sortition pool field from the DKG library
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Extract submission eligibility logic to separate library
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/libraries/Submission.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/Submission.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Eliminate gas station pattern
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/GasStation.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improved algorithm for shuffling signers array in Group creation tests
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Added governable parameter ineligibleOperatorNotifierReward
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Allow passing `protocolSubmissionBlock`
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/libraries/Submission.sol
  solidity/random-beacon/test/Submission.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Make `Submission.sol` and embedded library
  solidity/random-beacon/contracts/libraries/Submission.sol
  solidity/random-beacon/contracts/test/SubmissionStub.sol
  solidity/random-beacon/test/Submission.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Early draft of `notifyRelayEntryOperatorIneligibleForRewards`
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Changing the way we count active groups
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Getting rid of the stale group concept
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/GroupsStub.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/Groups.Expiration.test.ts
  solidity/random-beacon/test/Groups.Termination.test.ts
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Cleanup after the conflict resolution dust
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
Due: lint-eslint, lint-config

Rewording the test scenario
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Add functions needed for add to calendar button
  solidity-v1/dashboard/src/components/AddToCalendar.jsx
Due: format-dashboard

Setting group lifetime to two weeks
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Removing dead code
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Style add to calendar button
  solidity-v1/dashboard/src/components/AddToCalendar.jsx
  solidity-v1/dashboard/src/components/Dropdown.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/css/add-to-calendar.less
  solidity-v1/dashboard/src/css/app.less
Due: lint-js-v1, format-dashboard

Implementation of `notifyRelayEntryOperatorIneligibleForRewards`
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/libraries/Submission.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix compilation errors in relay entry code
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update eligible submitter index counting for DKG
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update unit tests to use dynamic submitter index
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/utils/dkg.ts
  solidity/random-beacon/test/utils/groups.ts
  solidity/random-beacon/test/utils/submission.ts
Due: lint-eslint, lint-config

Moved DKG result signature validation to challengeDkgResult
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add "Add to calendar" button to proper places
  solidity-v1/dashboard/src/components/AddToCalendar.jsx
  solidity-v1/dashboard/src/components/coverage-pools/PendingWithdrawals.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/InitiateWithdraw.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/css/add-to-calendar.less
  solidity-v1/dashboard/src/css/pending-withdrawals.less
  solidity-v1/dashboard/src/sagas/coverage-pool.js
Due: lint-js-v1, format-dashboard

Add Exchange Rate to Available to withdraw tile
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
Due: format-dashboard

Remove unused variables
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
Due: format-dashboard

Add tooltip to exchange rate
  solidity-v1/dashboard/src/components/coverage-pools/ExchangeRate.jsx
Due: format-dashboard

Darken the color of the sub nav inactive item
  solidity-v1/dashboard/src/css/header.less
Due: format-dashboard

Change `NEW` chip font
  solidity-v1/dashboard/src/css/header.less
Due: format-dashboard

Enable buttons in withdraw and deposit forms
  solidity-v1/dashboard/src/components/coverage-pools/DepositForm.jsx
  solidity-v1/dashboard/src/components/coverage-pools/WithdrawAmountForm.jsx
Due: format-dashboard

Removed no longer needed solhintignore for hardhat-dependency-plugin
  solidity/random-beacon/.solhintignore
Due: lint-eslint, lint-config

Added a check ensuring the group that is being added is not an activated one
  solidity/random-beacon/contracts/libraries/BLS.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Keep challenged DKG result tests in a separate context
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
