Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Fetching members hash from dkg result
  solidity/random-beacon/contracts/DKGValidator.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/DKGValidator.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adding tests around slashing a malicious dkg result submitter
  solidity/ecdsa/contracts/WalletFactory.sol
  solidity/ecdsa/test/WalletFactory.DKG.test.ts
Due: lint-sol, lint-sol-v1

Emit membersHash in DkgResultSubmitted event
  solidity/ecdsa/contracts/libraries/DKG.sol
Due: lint-sol, lint-sol-v1

Implement Wallets library
  solidity/ecdsa/contracts/libraries/Wallets.sol
Due: lint-sol, lint-sol-v1

Implement WalletRegistry
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Add contract dependencies packages
  solidity/ecdsa/package.json
Due: none

Implement deployment scripts
  solidity/ecdsa/deploy/01_deploy_sortition_pool.ts
  solidity/ecdsa/deploy/02_deploy_dkg_validator.ts
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
  solidity/ecdsa/deploy/04_approve_wallet_registry.ts
  solidity/ecdsa/deploy/05_transfer_ownership_to_governance.ts
  solidity/ecdsa/hardhat.config.ts
  solidity/ecdsa/package.json
Due: none

Implement unit tests for WalletRegistry
  solidity/ecdsa/contracts/test/StakingStub.sol
  solidity/ecdsa/contracts/test/WalletRegistryStub.sol
  solidity/ecdsa/package.json
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
  solidity/ecdsa/test/data/ecdsa.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/ecdsa/test/utils/dkg.ts
  solidity/ecdsa/test/utils/groups.ts
  solidity/ecdsa/test/utils/operators.ts
  solidity/ecdsa/test/utils/submission.ts
  solidity/ecdsa/test/utils/wallets.ts
Due: lint-sol, lint-sol-v1

Ignore BytesLib.sol for slither
  solidity/ecdsa/slither.config.json
Due: none

Update eslint configuration
  solidity/ecdsa/.eslintignore
  solidity/ecdsa/.eslintrc
Due: none

Update yarn.lock
  solidity/ecdsa/yarn.lock
Due: none

Disable slither for notifySeedTimedOut
  solidity/ecdsa/contracts/libraries/DKG.sol
Due: lint-sol, lint-sol-v1

Configure VSC for Mocha tests
  solidity/ecdsa/.mocha.env
  solidity/ecdsa/.mocharc.json
  solidity/ecdsa/.vscode/settings.json
Due: none

Replace resource tooltip
  solidity-v1/dashboard/src/components/ResourceTooltip.jsx
  solidity-v1/dashboard/src/components/Tooltip.jsx
  solidity-v1/dashboard/src/css/tooltip.less
Due: format-dashboard

Restyle `Total Value Locked` tooltip
  solidity-v1/dashboard/src/components/coverage-pools/MetricsSection.jsx
Due: format-dashboard

Add tooltips to Inline Progress Bar
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
  solidity-v1/dashboard/src/components/ProgressBar.jsx
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Add margin to AddToCalendar button
  solidity-v1/dashboard/src/css/add-to-calendar.less
Due: format-dashboard

Fix `start_dashboard` script
  scripts/start_dashboard.sh
Due: none

Add tests for DKGValidator
  solidity/ecdsa/test/DKGValidator.test.ts
Due: none

Add tests for duplicated misbehaved
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

Add `@threshold-network/solidity-contracts` dep
  scripts/start_dashboard.sh
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Use BytesLib and Submission from @keep-network/random-beacon
  solidity/ecdsa/contracts/DKGValidator.sol
  solidity/ecdsa/contracts/libraries/BytesLib.sol
  solidity/ecdsa/contracts/libraries/DKG.sol
  solidity/ecdsa/contracts/libraries/Submission.sol
  solidity/ecdsa/package.json
Due: lint-sol, lint-sol-v1

Remove not used functions from StakingStub
  solidity/ecdsa/contracts/test/StakingStub.sol
Due: lint-sol, lint-sol-v1

Removed no longer valid comment
  solidity/ecdsa/contracts/libraries/Wallets.sol
Due: lint-sol, lint-sol-v1

Replace walletID counter with public key hash
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
  solidity/ecdsa/test/utils/dkg.ts
  solidity/ecdsa/test/utils/wallets.ts
Due: lint-sol, lint-sol-v1

Create stake on threshold timeline
  solidity-v1/dashboard/src/components/modal/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/ClaimTokens.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/InitiateWithdraw.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/components/CovPoolTimeline.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/components/index.js
  solidity-v1/dashboard/src/components/modal/coverage-pools/deposit/InitiateDeposit.jsx
  solidity-v1/dashboard/src/components/modal/threshold/StakeOnThreshold.jsx
  solidity-v1/dashboard/src/components/modal/threshold/components/StakeOnThresholdTimeline.jsx
  solidity-v1/dashboard/src/components/modal/threshold/components/index.js
  solidity-v1/dashboard/src/components/modal/withTimeline.jsx
  solidity-v1/dashboard/src/constants/constants.js
Due: lint-js-v1, format-dashboard

Add styles for the content of the stake to t modal
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/components/TokenAmount.jsx
  solidity-v1/dashboard/src/components/modal/threshold/StakeOnThreshold.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/css/buttons.less
  solidity-v1/dashboard/src/static/svg/arrows-right.svg
  solidity-v1/dashboard/src/static/svg/t-logo.svg
  solidity-v1/dashboard/src/utils/token.utils.js
Due: lint-js-v1, format-dashboard

Fix typo
  solidity-v1/dashboard/src/components/modal/coverage-pools/InitiateWithdraw.jsx
Due: format-dashboard

Add semi-active status to timeline elements
  solidity-v1/dashboard/src/components/Timeline.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/components/CovPoolTimeline.jsx
  solidity-v1/dashboard/src/components/modal/threshold/components/StakeOnThresholdTimeline.jsx
  solidity-v1/dashboard/src/css/timeline.less
  solidity-v1/dashboard/src/pages/coverage-pools/HowItWorksPage.jsx
Due: format-dashboard

Update documentation for DKGValidator
  solidity/ecdsa/contracts/DKGValidator.sol
Due: lint-sol, lint-sol-v1

Add TODO to revisit in the future
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Improve threshold exchange rate
  solidity-v1/dashboard/src/components/modal/threshold/StakeOnThreshold.jsx
  solidity-v1/dashboard/src/constants/constants.js
Due: lint-js-v1, format-dashboard

Slashing submitter
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/test/StakingStub.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: lint-sol, lint-sol-v1

Use walletID in submitSignature instead of public key
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
Due: lint-sol, lint-sol-v1

Add TODO to Wallets that it's just a stub
  solidity/ecdsa/contracts/libraries/Wallets.sol
Due: lint-sol, lint-sol-v1

Update docs when wallet is created
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Removing wallet id from the event
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: lint-sol, lint-sol-v1

Constructor cleanup
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

DkgMaliciousResultProved-
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: lint-sol, lint-sol-v1
