Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Remove bottom-border from grants accordion
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
Due: format-dashboard

Seize upon justified DKG challenge
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improve wording, make descriptions more precise
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Use List in WithdrawGrantedTokens modal
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
Due: format-dashboard

Change View More to button
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
Due: format-dashboard

Remove unnecessary classes
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
  solidity-v1/dashboard/src/css/allocation-progress-bar.less
Due: format-dashboard

Governable pool rewards ban duration
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix failing DKG tests
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Remove unnecessary styles
  solidity-v1/dashboard/src/css/progress-bar.less
Due: format-dashboard

DKG: ban misbehaving operators from rewards in sortition-pool
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/GroupsStub.sol
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/utils/dkg.ts
  solidity/random-beacon/test/utils/groups.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Clarify when group creation starts and what are its stages
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Don't add the DKG generation time to eligibility window of 1st operator
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Remove unnecessary class
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
  solidity-v1/dashboard/src/css/allocation-progress-bar.less
Due: format-dashboard

Remove unnecessary class
  solidity-v1/dashboard/src/css/forms.less
Due: format-dashboard

Punish inactive operators with excluding from rewards
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Remove unnecessary class and comments
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
Due: format-dashboard

Add margin bottom to the list in How it Works page
  solidity-v1/dashboard/src/pages/threshold/HowItWorksPage.jsx
Due: format-dashboard

Lock sortition pool in relay request transaction
  docs/rfc/rfc-19-random-beacon-v2.adoc
Due: none

Update icons
  solidity-v1/dashboard/src/static/svg/keep-t-upgrade-logo.svg
  solidity-v1/dashboard/src/static/svg/t-token-symbol.svg
Due: format-dashboard

Improve description of UACs related to DKG result
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Use TokenAmountSkeleton in Threshol Upgrade page
  solidity-v1/dashboard/src/components/skeletons/TokenAmountSkeleton.jsx
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Clarify punishing for relay entry timeout
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Remove TODO about pool ownership
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Replace info-row class
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
Due: format-dashboard

Clarify UACs relating to callbacks
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Add center class to List items
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
Due: format-dashboard

Create DEFAULT_GRANTS_TO_DISPLAY constant
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
Due: format-dashboard

Remove formik from withdraw grants modal
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
Due: format-dashboard

Surround slashing and banning with try/catch
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/StakingStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Minor relay entry code improvements
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Governable relay entry timeout notification reward
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Refactor Accordion inside withdraw grants modal
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
Due: format-dashboard

Move input to Accordion item
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
Due: format-dashboard

Use preExpanded prop in accordion
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
Due: format-dashboard

Use chevron ivon as expand button in accordion
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
  solidity-v1/dashboard/src/static/svg/chevron-down.svg
  solidity-v1/dashboard/src/static/svg/chevron-up.svg
Due: format-dashboard

Remove unnecessary div
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
Due: format-dashboard

Change nomenclature of DKG locking
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improved comments and test naming
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/Groups.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Minor DKG tests improvements
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Refactor `reportRelayEntryTimeout` tests
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config
