Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Don't return resultHash from DKG functions
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Initial implementation of Groups
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Make Slither happy
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add/rephrase UACs
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Add size prop to the modal component
  solidity-v1/dashboard/src/components/modal-component/Modal.jsx
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/css/modal.less
Due: format-dashboard

Use a new modal API to open modal for mobile users
  solidity-v1/dashboard/src/components/MobileUsersModal.jsx
  solidity-v1/dashboard/src/components/modal-component/MobileUsersModal.jsx
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/hooks/useModalWindowForMobileUsers.js
Due: lint-js-v1, format-dashboard

Document resetting of DKG timeout timer by challenge notification
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Cleanup App root component
  solidity-v1/dashboard/src/App.js
Due: lint-js-v1, format-dashboard

Make `groupSize` constant for `Relay` library
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/TestRelay.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix failing eligibility tests
  solidity/random-beacon/contracts/test/TestRelay.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Don't remove challenged group
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Pull common test dkg utils to a separate file
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-eslint, lint-config

Expose function to get a group
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Expose function to get groups
  solidity/random-beacon/contracts/test/TestRandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add WIP unit test
  solidity/random-beacon/test/RandomBeacon.Groups.ts
Due: lint-eslint, lint-config

Emit DkgStarted instead GroupCreationStarted
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove TODO about slashing in timeout
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Gas optimizations
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/TestRelay.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove redundant state from `RandomBeacon`
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use seed in DKG events
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename TestRandomBeacon -> RandomBeaconStub
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add test to submitDkgResult after a challenge
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Add test to approveDkgResult after a challenge
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Use challenge block number in test
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Revert "Use seed in DKG events"
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Enable TODO tests
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Use it("should.... pattern for test names
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Align tests after main merge
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
  solidity/random-beacon/test/RandomBeacon.Groups.ts
Due: lint-eslint, lint-config

Combine addPendingGroup and setGroupMembers
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Drafting callback functionality
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Callback.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Create how it works page for Threshold
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/components/Routing.jsx
  solidity-v1/dashboard/src/components/SideMenu.jsx
  solidity-v1/dashboard/src/css/app.less
  solidity-v1/dashboard/src/css/threshold-page.less
  solidity-v1/dashboard/src/pages/coverage-pools/index.js
  solidity-v1/dashboard/src/pages/tbtc-migration/index.js
  solidity-v1/dashboard/src/pages/threshold/HowItWorksPage.jsx
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
  solidity-v1/dashboard/src/pages/threshold/index.js
  solidity-v1/dashboard/src/static/svg/t-token-symbol.svg
Due: lint-js-v1, format-dashboard

Removing external callback function and some refactoring
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Callback.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Drop `nonReentrant` from `submitRelayEntry`
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add missing param to `RandomBeaconStub`
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update modal styles
  solidity-v1/dashboard/src/css/modal.less
Due: format-dashboard

Add HOC for modal
  solidity-v1/dashboard/src/components/modal-component/withBaseModal.jsx
Due: format-dashboard

Update modals in Bonding section
  solidity-v1/dashboard/src/components/BondingSection.jsx
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal-component/bonding/AddETHModal.jsx
  solidity-v1/dashboard/src/components/modal-component/bonding/WithdrawETHModal.jsx
  solidity-v1/dashboard/src/components/modal-component/bonding/index.js
  solidity-v1/dashboard/src/components/modal-component/index.js
  solidity-v1/dashboard/src/components/modal-component/withBaseModal.jsx
  solidity-v1/dashboard/src/constants/constants.js
Due: lint-js-v1, format-dashboard

Refactor punishment and slashing calculations
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update ModalRoot component
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/reducers/modal.js
Due: lint-js-v1, format-dashboard

Fix ModalOverlay
  solidity-v1/dashboard/src/components/modal-component/Modal.jsx
Due: format-dashboard
