Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Commit latest yarn.lock
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Added unit test making sure nonces are not deleted for closed wallet
  solidity/ecdsa/test/WalletRegistry.Inactivity.ts
Due: none

Remove duplicated SignerWithAddress
  solidity/random-beacon/test/utils/operators.ts
Due: lint-eslint, lint-config

Adding view keyword and casting slashing amount to uint96
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Implemented heartbeat failure handling in EDSA notifyOperatorInactivity
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaPubKey.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
  solidity/ecdsa/test/WalletRegistry.Inactivity.ts
Due: lint-sol, lint-sol-v1

Improved Wallets library functions documentation
  solidity/ecdsa/contracts/libraries/Wallets.sol
Due: lint-sol, lint-sol-v1

Map operators to staking providers for seize and slash
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use unique addresses for staking roles
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/system/e2e.test.ts
  solidity/random-beacon/test/utils/operators.ts
Due: lint-eslint, lint-config

Use getUnnamedSigners function
  solidity/random-beacon/test/RandomBeacon.Authorization.test.ts
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-eslint, lint-config

Use params for amount instead of hardcoded value
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Eslint warn on prefer-destructuring
  solidity/random-beacon/.eslintrc
Due: lint-eslint, lint-config

Use allowUnlimitedContractSize for hardhat
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Fix code formatting problems
  solidity/random-beacon/.eslintignore
  solidity/random-beacon/.solhintignore
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/Reimbursable.test.ts
Due: lint-eslint, lint-config

Check there is enough signers configured
  solidity/random-beacon/test/utils/operators.ts
Due: lint-eslint, lint-config

Minor imprevements to operators registration script
  solidity/random-beacon/test/utils/operators.ts
Due: lint-eslint, lint-config

Use unique accounts for operators staking and registration
  solidity/ecdsa/hardhat.config.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/ecdsa/test/utils/operators.ts
Due: none

Improve commet around defied accounts
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Elimiated EcdsaPubKey library
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaPubKey.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
Due: lint-sol, lint-sol-v1

Add tests for rewarding notifier for slashing
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Clarify test accounts configuration
  solidity/ecdsa/hardhat.config.ts
  solidity/ecdsa/test/utils/operators.ts
Due: none

Set authorizationDecreaseDelay in constructor
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix typo in notifier variable name
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Extracting rewards and slashing gov params to a lib contract
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/GovernanceRewardsAndSlashing.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adjusting tests to a new gov params lib structure
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Type uint256 -> uint96 for relayEntrySubmissionFailureSlashingAmount
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix thirdParty signer get
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Fix how reward is calculated in tests
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Reconfigure minimumAuthorization in tests
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Rename GovernanceRewardsAndSlashing -> GovernanceAssetParams
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/GovernanceAssetParams.sol
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Moving authorization params to the asset gov params lib
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/GovernanceAssetParams.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Moving relay params to the gov lib
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/GovernanceBeaconParams.sol
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove prefer-destructuring:warn from eslintrc
  solidity/random-beacon/.eslintrc
Due: lint-eslint, lint-config

Replace application with beacon in the doc
  solidity/random-beacon/contracts/libraries/Authorization.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improve documentation
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename Authorization library to Beacon Authorization
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/BeaconAuthorization.sol
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improve documentation
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use pre package for @keep-network/sortition-pools
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Adding group creation params
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/GovernanceBeaconParams.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove except to test if CI fails
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Moving dkg params to the beacon params lib
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/GovernanceBeaconParams.sol
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
