Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Cleared up annoying linter warnings
  solidity/random-beacon/contracts/DKGValidator.sol
  solidity/random-beacon/test/Groups.Expiration.test.ts
  solidity/random-beacon/test/Groups.Termination.test.ts
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Refactor injected connecter to reflect MetaMask
  solidity-v1/dashboard/src/components/WalletOptions.jsx
  solidity-v1/dashboard/src/connectors/index.js
  solidity-v1/dashboard/src/connectors/metamask-injected.js
  solidity-v1/dashboard/src/hooks/useAutoConnect.js
Due: lint-js-v1, format-dashboard

create Tally connector
  solidity-v1/dashboard/src/connectors/index.js
  solidity-v1/dashboard/src/connectors/tally-injected.js
  solidity-v1/dashboard/src/constants/constants.js
Due: lint-js-v1, format-dashboard

Adjust to new sortition pool version
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Make `Heartbeat.sol` external library
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Repair relay entry tests
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

implement tally modal
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/components/modal/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal/wallets/TallyModal.jsx
  solidity-v1/dashboard/src/components/modal/wallets/index.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/static/svg/tally.svg
Due: lint-js-v1, format-dashboard

fixes for injected providers
  solidity-v1/dashboard/src/connectors/metamask-injected.js
  solidity-v1/dashboard/src/connectors/tally-injected.js
Due: lint-js-v1, format-dashboard

wire tally provider
  solidity-v1/dashboard/src/components/CurrentWalletIconTooltip.jsx
  solidity-v1/dashboard/src/components/WalletOptions.jsx
  solidity-v1/dashboard/src/hooks/useAutoConnect.js
Due: lint-js-v1, format-dashboard

Uncommenting tests because group termination is implemented
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

README: Overview and Prior Work
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

README: Build
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Get rid of group checksum
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

README: Group Creation
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Fix typo in `FailureClaim` struct docs
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improve tests of `notifyFailedHeartbeat`
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

README: Relay Request and Relay Entry
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Modified signature validation: get only signer addresses on challenge
  solidity/random-beacon/contracts/DKGValidator.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove `submitterIndex` from `submitRelayEntry`
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

README: Callbacks
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Remove unused imports
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Rename `FailedHeartbeatNotified` event
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove `ineligibleOperators` field from event
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add `withdrawIneligibleRewards` function
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Pass `nonce` as param of `notifyFailedHeartbeat`
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

README: Timeouts
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Check claim sender signed the claim
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

README: Fees and Rewards
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Remove unused import from callback tests
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
Due: lint-eslint, lint-config

Satisfy Slither warning about uninitialized var
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove `groupId` from `RelayEntrySubmitted`
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

README: Heartbeats
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Small improvements in `Hearbeat` lib docs
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

README: links between sections
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Extract `Heartbeat.groupThreshold` to a constant
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Do `toEthSignedMessageHash` only once
  solidity/random-beacon/contracts/DKGValidator.sol
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add doc about using pub key in claim signatures
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Minor relay test improvements
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Extract `sortitionPoolRewardsBanDuration` to params
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Remove `.only`
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
