Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Add additional cases to DKG tests
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Move storing misbehaved members from Groups to DKG
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use Progress Bar Legend
  solidity-v1/dashboard/src/components/ProgressBar.jsx
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
  solidity-v1/dashboard/src/css/allocation-progress-bar.less
Due: format-dashboard

Fix typos
  solidity-v1/dashboard/src/components/ProgressBar.jsx
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
Due: format-dashboard

Add tooltipComponent prop to UpgradeTokensTile
  solidity-v1/dashboard/src/components/threshold/UpgradeTokensTile.jsx
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Remove `createGroup`
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Emit events on pool locking/unlocking
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Relay entry tests and docs adjustments
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/test/StakingStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Replace unnecessary classes
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/css/typography.less
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
Due: format-dashboard

Replaced a const ban period with a variable
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Updating min stake governance param
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adding tests for updateable minimum stake
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Extract list to separate component
  solidity-v1/dashboard/src/css/threshold-page.less
  solidity-v1/dashboard/src/pages/threshold/HowItWorksPage.jsx
Due: format-dashboard

Setting min stake to 100k
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Slithering, do not use too many digitswq
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix TBTCToken import
  solidity-v1/dashboard/src/lib/keep/contracts/index.js
Due: lint-js-v1, format-dashboard

Add link to the T Dapp
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/pages/threshold/HowItWorksPage.jsx
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: lint-js-v1, format-dashboard

Fix Threshold Upgrade titles
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/components/SideMenu.jsx
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
  solidity-v1/dashboard/src/pages/threshold/index.js
  solidity-v1/dashboard/src/static/svg/star.svg
Due: lint-js-v1, format-dashboard

Refactor onSubmitAction for withdraw button
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
Due: format-dashboard

Use ProgressBar.LegendItem
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
Due: format-dashboard

Return empty component for renderValuePattern func
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
Due: format-dashboard

Fix console errors
  solidity-v1/dashboard/src/components/threshold/UpgradeTokensTile.jsx
Due: format-dashboard

Add key prop to listItem in Withdraw Grants modal
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
Due: format-dashboard

Update grants after withdraw
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Added tests for submitting DKG result with misbehaved operators
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Renaming minimum stake to minimum authorization
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Min authorization amount is set to 100e3 * 1e18
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Changing from standard delay to critical delay
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Hide radio input for one grant
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
Due: format-dashboard

Fix issue with preExpanded prop for one grant
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
Due: format-dashboard

Add key prop to DefaultList
  solidity-v1/dashboard/src/pages/threshold/HowItWorksPage.jsx
Due: format-dashboard

Fix displaying not staked amounts
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Merge branch 'main' into dkg-challenge
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Fix failing DKG test
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Fix AllocationProgressBar display for two values
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
Due: format-dashboard

Create succes modal for withdrawing grant tokens
  solidity-v1/dashboard/src/components/modal/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal/staking/ViewTransactionSuccessModal.jsx
  solidity-v1/dashboard/src/components/modal/staking/claim/TokensClaimed.jsx
  solidity-v1/dashboard/src/components/modal/threshold/GrantTokensWithdrawn.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/sagas/subscriptions.js
Due: lint-js-v1, format-dashboard

Remove unnecessary comment
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Use selectedGrant for preExpanded prop
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
Due: format-dashboard

Rename `DkgResultMaliciousSlashed` event
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Rename `DkgResultMaliciousSlashed` event II
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1
