Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Add TODO to remember about implementing resetting eligibility checks
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove TODO about submitter address in event
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Disable slither for already tested lines in libs
  solidity/random-beacon/contracts/libraries/AltBn128.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Building to generate typechain/ dir
  .github/workflows/contracts.yml
Due: none

Improve documentation around DKG result and signatures
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename test file for consistency with others
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Excluding test dir from slithering
  solidity/random-beacon/slither.config.json
Due: lint-eslint, lint-config

Temporarely disable slither
  .github/workflows/contracts.yml
Due: none

Adding commits to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Forbid result submission after DKG timeout
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add test cases to cover signers number threshold
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Remove not needed expects
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Add TODO in test to cover more cases
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Add context to a test case
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Create base modal components
  solidity-v1/dashboard/src/components/modal-component/Modal.jsx
Due: format-dashboard

Create a ModalRoot component
  solidity-v1/dashboard/src/components/modal-component/ExampleModal.jsx
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal-component/index.js
  solidity-v1/dashboard/src/constants/constants.js
Due: lint-js-v1, format-dashboard

Export modal actions from the `actions/index.js` file
  solidity-v1/dashboard/src/actions/index.js
Due: lint-js-v1, format-dashboard

Update modal reducer
  solidity-v1/dashboard/src/reducers/modal.js
Due: lint-js-v1, format-dashboard

Update `useModal` hook
  solidity-v1/dashboard/src/hooks/useModal.js
Due: lint-js-v1, format-dashboard

Test the new implementation of modals
  solidity-v1/dashboard/src/App.js
Due: lint-js-v1, format-dashboard

Introduce DKG states
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix linting
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Update git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Handle errors found by eslint
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Add rules configuration for eslint
  solidity/random-beacon/.eslintrc
Due: lint-eslint, lint-config

Improve State docs
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove unnecesarry line
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improve test cases names
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Explicitly determine visibility
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Change wallet address in URL after changin account in MM
  solidity-v1/dashboard/src/hooks/useAutoWalletAddressInjectIntoUrl.js
Due: lint-js-v1, format-dashboard

Rename test file
  solidity-v1/dashboard/src/__tests__/hooks/useWalletAddressFromUrl.test.js
Due: lint-js-v1, format-dashboard

Improve hasDkgTimedOut function
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Make DKG internal library
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Expose DKG parameters in the Random Beacon contract
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Minor update to docs
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Revert "Expose DKG parameters in the Random Beacon contract"
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Outline of the on-chain relay
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Relay request fee and maintenance pool
  solidity/random-beacon/contracts/MaintenancePool.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Events and small API changes
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Expose relay in RandomBeacon contract
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/yarn.lock
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
