Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Updated github.com/libp2p/go-addr-util to v0.2.0
  go.mod
  go.sum
Due: none

Updated github.com/libp2p/go-libp2p-connmgr to v0.4.0
  go.mod
Due: none

Updated github.com/libp2p/go-libp2p-kad-dht to v0.16.0
  go.mod
Due: none

Updated github.com/libp2p/go-libp2p github.com/libp2p/go-libp2p-core github.com/libp2p/go-libp2p-pubsub github.com/libp2p/go-libp2p-tls to the newest versions
  go.mod
Due: none

Updated additional modules
  go.mod
  go.sum
Due: none

Update TODOs in test fixtures
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Hardhat deployment scripts for Ranbom Beacon
  solidity/random-beacon/deploy/02_deploy_beacon_sortition_pool.ts
  solidity/random-beacon/deploy/03_deploy_random_beacon.ts
  solidity/random-beacon/deploy/04_approve_random_beacon.ts
  solidity/random-beacon/deploy/05_authorize_random_beacon.ts
  solidity/random-beacon/deploy/06_deploy_random_beacon_governance.ts
  solidity/random-beacon/deploy/07_transfer_governance.ts
Due: lint-eslint, lint-config

Define just the names of required contracts
  pkg/chain/v2/common/Makefile
  pkg/chain/v2/ecdsa/Makefile
  pkg/chain/v2/random-beacon/Makefile
  pkg/chain/v2/tbtc-v2/Makefile
  pkg/chain/v2/threshold-network/Makefile
Due: none

Define path to contracts for external projects
  pkg/chain/v2/common/Makefile
  pkg/chain/v2/tbtc-v2/Makefile
  pkg/chain/v2/threshold-network/Makefile
Due: none

Define wildcard for subdirectories
  pkg/chain/v2/common/Makefile
Due: none

Prefix solidity directory with underscore
  pkg/chain/v2/tbtc-v2/_solidity/package.json
  pkg/chain/v2/tbtc-v2/_solidity/yarn.lock
  pkg/chain/v2/tbtc-v2/gen.go
  pkg/chain/v2/threshold-network/_solidity/package.json
  pkg/chain/v2/threshold-network/_solidity/yarn.lock
  pkg/chain/v2/threshold-network/gen.go
Due: none

Bumping up hardhat-helpers version to 0.6.0-pre.7
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Adjusting /random-beacon tests after adding the deployment scripts
  solidity/random-beacon/test/RandomBeacon.Authorization.test.ts
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/RandomBeacon.Rewards.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/ReimbursmentPool.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-eslint, lint-config

Flagging code that needs to be fixed
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Extracting BeaconDkgValidator to a separate deployment script
  solidity/random-beacon/deploy/03_deploy_beacon_dkg_validator.ts
  solidity/random-beacon/deploy/04_deploy_random_beacon.ts
  solidity/random-beacon/deploy/05_approve_random_beacon.ts
  solidity/random-beacon/deploy/06_authorize_random_beacon.ts
  solidity/random-beacon/deploy/07_deploy_random_beacon_governance.ts
  solidity/random-beacon/deploy/08_transfer_governance.ts
Due: lint-eslint, lint-config

Changing group lifetime range
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/test/RandomBeaconGovernanceStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Changing deployment script for RandomBeaconGovernance
  solidity/random-beacon/deploy/03_deploy_beacon_dkg_validator.ts
  solidity/random-beacon/deploy/07_deploy_random_beacon_governance.ts
Due: lint-eslint, lint-config

Adjusting tests to comply with a new group lifetime
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-eslint, lint-config

Align keep-core's net package
  go.mod
  pkg/firewall/firewall.go
  pkg/net/key/key.go
  pkg/net/key/key_test.go
  pkg/net/libp2p/channel_test.go
  pkg/net/libp2p/libp2p.go
  pkg/net/libp2p/transport.go
  pkg/net/local/local.go
Due: none

Updated go.mod
  go.mod
Due: none

Updated build container image version
  Dockerfile
Due: none

Add inital github ci for basic devops workflows
  .github/workflows/test.yaml
  .gitignore
  hardhat.config.js
  package-lock.json
  package.json
Due: none

Remove specific stakes from t auth data
  solidity-v1/dashboard/src/components/threshold/AuthorizeThresholdContracts.jsx
  solidity-v1/dashboard/src/reducers/threshold-authorization.js
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Due: lint-js-v1, format-dashboard

Added setting of grace period for connection manager
  pkg/net/libp2p/libp2p.go
Due: none

Bump go-ethereum to v1.10.18
  go.mod
Due: none

Validating a new group lifetime > 0
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Removing RandomBeaconGovernanceStub
  solidity/random-beacon/contracts/test/RandomBeaconGovernanceStub.sol
  solidity/random-beacon/deploy/07_deploy_random_beacon_governance.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Resolving BeaconDkgValidator instead of deploying a new one
  solidity/random-beacon/deploy/04_deploy_random_beacon.ts
Due: lint-eslint, lint-config

Adjusting random beacon governance tests
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Removing .only from the RBG tests
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-eslint, lint-config

Reverting RB parameters tests to its original form
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
Due: lint-eslint, lint-config

Renaming approval and authorization deployment scripts for better context
  solidity/random-beacon/deploy/05_approve_random_beacon_in_token_staking.ts
  solidity/random-beacon/deploy/06_authorize_random_beacon_in_reimbursement_pool.ts
Due: lint-eslint, lint-config

Updating e2e test to comply with the latest RandomBeacon
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-eslint, lint-config

Replaced deprecated library github.com/libp2p/go-libp2p-connmgr with github.com/libp2p/go-libp2p/p2p/net/connmgr
  go.mod
  pkg/net/libp2p/libp2p.go
Due: none

Replaced deprecated library github.com/libp2p/go-libp2p-tls with github.com/libp2p/go-libp2p/p2p/security/tls
  go.mod
  pkg/net/libp2p/transport.go
Due: none

Updated go.sum
  go.sum
Due: none

Renamed variable
  pkg/net/libp2p/transport.go
Due: none

Removed unnecessary TODOs
  pkg/net/key/key.go
  pkg/net/libp2p/libp2p.go
Due: none

Added unit test for ECDSAKeyToNetworkKey
  pkg/net/key/key.go
  pkg/net/key/key_test.go
Due: none

Fixing the test description
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-eslint, lint-config

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
