Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Bump keep-ecdsa version to 1.9.0
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Byte code optimization for RandomBeaconStub
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Cleanup and running prettier
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fixing and adjusting test to handle submitRelayEntry overloaded function
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-eslint, lint-config

Remove Threshold page
  solidity-v1/dashboard/src/components/Routing.jsx
  solidity-v1/dashboard/src/components/SideMenu.jsx
Due: format-dashboard

Update KEEP Token Dashboard version to v1.16.0
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Update prd KEEP Token Dashboard deployment to fetch v1.16.0 image
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
Due: none

Fix link for TBTC v2 + mBTC pool
  solidity-v1/dashboard/src/constants/constants.js
Due: lint-js-v1, format-dashboard

Bump dashboard version to 1.16.1
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Bump docker image version to v1.16.1
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
Due: none

Cloning wallet contract using EIP-1167 under the provided address
  solidity/ecdsa/contracts/Wallet.sol
  solidity/ecdsa/contracts/WalletFactory.sol
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: lint-sol, lint-sol-v1

dec drop
  src/data/21_12.json
  src/parse.py
Due: none

Change `moment` import
  solidity-v1/dashboard/src/components/AddToCalendar.jsx
Due: format-dashboard

Renaming testing scenario in describe
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Add `calendarEventBuilder` prop to calendars array
  solidity-v1/dashboard/src/components/AddToCalendar.jsx
Due: format-dashboard

Remove --network-concurrency 1
  .github/workflows/contracts-ecdsa.yml
Due: none

Update solc version to match config
  .github/workflows/contracts-ecdsa.yml
Due: none

Improving docs describing membersHash
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Renamings around group members
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Removing unused var
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
Due: lint-eslint, lint-config

Move COV_POOLS_FORMS_MAX_DECIMAL_PLACES to constants.js
  solidity-v1/dashboard/src/components/coverage-pools/AddAmountToWithdrawalForm.jsx
  solidity-v1/dashboard/src/components/coverage-pools/DepositForm.jsx
  solidity-v1/dashboard/src/components/coverage-pools/WithdrawAmountForm.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
Due: lint-js-v1, format-dashboard

Simplify startsAt and endsAt values of AddToCalendar
  solidity-v1/dashboard/src/components/coverage-pools/PendingWithdrawals.jsx
Due: format-dashboard

Add location to calendar event
  solidity-v1/dashboard/src/components/AddToCalendar.jsx
  solidity-v1/dashboard/src/constants/constants.js
Due: lint-js-v1, format-dashboard

Renaming submitRelayEntry's testing scenarios
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Pass dates as unix timestamp to AddToCalendar
  solidity-v1/dashboard/src/components/AddToCalendar.jsx
  solidity-v1/dashboard/src/components/coverage-pools/PendingWithdrawals.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/InitiateWithdraw.jsx
  solidity-v1/dashboard/src/components/modal/staking/undelegate/components/InfoList.jsx
Due: format-dashboard

Add function that replaces variables for consts
  solidity-v1/dashboard/src/__tests__/utils/constants.utils.test.js
  solidity-v1/dashboard/src/components/AddToCalendar.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/utils/constants.utils.js
Due: lint-js-v1, format-dashboard

Changing msg in require check
  solidity/ecdsa/contracts/Wallet.sol
Due: lint-sol, lint-sol-v1

Passing wallet instance instead of address
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Refactor imports
  contracts/CumulativeMerkleDrop.sol
  contracts/CumulativeMerkleDrop128.sol
  contracts/SignatureMerkleDrop128.sol
Due: lint-sol, lint-sol-v1

Calculating group members hash off-chain to verify on-chain
  solidity/random-beacon/contracts/DKGValidator.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/GroupsStub.sol
  solidity/random-beacon/test/DKGValidator.test.ts
  solidity/random-beacon/test/Groups.Expiration.test.ts
  solidity/random-beacon/test/Groups.Termination.test.ts
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adding additional misbehaved members
  solidity/random-beacon/test/DKGValidator.test.ts
Due: lint-eslint, lint-config

Add BytesLib contract
  solidity/ecdsa/contracts/libraries/BytesLib.sol
Due: lint-sol, lint-sol-v1

Add DKG contract
  solidity/ecdsa/contracts/libraries/DKG.sol
Due: lint-sol, lint-sol-v1

Add Submission library
  solidity/ecdsa/contracts/libraries/Submission.sol
Due: lint-sol, lint-sol-v1

Initial implementation of ECDSA Wallet and Factory
  solidity/ecdsa/contracts/Wallet.sol
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Add dependencies imported in contract
  solidity/ecdsa/package.json
Due: none

Add DKGValidator contract
  solidity/ecdsa/contracts/DKGValidator.sol
Due: lint-sol, lint-sol-v1

Deployment scripts for ECDSA contracts
  solidity/ecdsa/deploy/01_deploy_sortition_pool.ts
  solidity/ecdsa/deploy/02_deploy_dkg_validator.ts
  solidity/ecdsa/deploy/03_deploy_wallet_factory.ts
  solidity/ecdsa/hardhat.config.ts
  solidity/ecdsa/package.json
Due: none

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
