Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Pull offset to a var
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Update tests for Random Beacon integration
  solidity/ecdsa/test/WalletRegistry.RandomBeacon.test.ts
Due: none

Update wallet creation tests
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

Remove RelayEntryRequestFailed event
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Remove unnecessary css class
  solidity-v1/dashboard/src/css/authorize-stakes-banner.less
Due: format-dashboard

Implement seed timeout notification
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/DKG.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: lint-sol, lint-sol-v1

Add tests for hasSeedTimedOut
  solidity/ecdsa/test/WalletRegistry.RandomBeacon.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

Implement governed updates for dkg seed timeout
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: lint-sol, lint-sol-v1

Implement governed updates for random beacon
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Add test for params update by wallet owner
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

Define governance delay as constant
  solidity/ecdsa/test/WalletRegistry.Parameters.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Use hardhat-deploy's fixtures implementation
  solidity/ecdsa/test/WalletRegistry.Parameters.test.ts
  solidity/ecdsa/test/WalletRegistry.Pool.test.ts
  solidity/ecdsa/test/WalletRegistry.RandomBeacon.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Use @white variable from css variables
  solidity-v1/dashboard/src/css/authorize-stakes-banner.less
Due: format-dashboard

Removing WalletRegistryGovernanceTransferOwnership tag
  solidity/ecdsa/deploy/06_transfer_ownerships.ts
Due: none

updateWalletParameters -> updateWalletOwner
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: lint-sol, lint-sol-v1

Splitting tests
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletParameters.test.ts
Due: none

Checking flow with to.be.reverted assertion
  solidity/ecdsa/deploy/06_transfer_ownerships.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: none

Extracting dkg update params to a separate function
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Revert "Bump github.com/ethereum/go-ethereum from 1.10.8 to 1.10.9"
  go.mod
  go.sum
Due: none

Increase callbackGasLimit to 56k
  solidity/ecdsa/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Cover callback gas limit in tests
  solidity/ecdsa/test/WalletRegistry.RandomBeacon.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/ecdsa/test/utils/governance.ts
  solidity/ecdsa/test/utils/randomBeacon.ts
Due: none

seed awaiting -> awaiting seed
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/DKG.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: lint-sol, lint-sol-v1

Bump github.com/ethereum/go-ethereum from 1.10.8 to 1.10.15
  go.mod
  go.sum
Due: none

Be clear about seed and dkg timeout
  solidity/ecdsa/contracts/libraries/DKG.sol
Due: lint-sol, lint-sol-v1

randomRelayEntry -> relayEntry
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: lint-sol, lint-sol-v1

Make beacon upgradable without delay
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistry.Parameters.test.ts
  solidity/ecdsa/test/WalletRegistry.RandomBeacon.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/utils/governance.ts
Due: lint-sol, lint-sol-v1

Update seed calculation from entry
  solidity/ecdsa/test/utils/wallets.ts
Due: none

Disable slither for an event
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Prefix duplicated contract names with Ecdsa prefix
  solidity/ecdsa/README.adoc
  solidity/ecdsa/contracts/EcdsaDkgValidator.sol
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaDkg.sol
  solidity/ecdsa/contracts/test/WalletRegistryStub.sol
  solidity/ecdsa/deploy/02_deploy_dkg_validator.ts
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
  solidity/ecdsa/package.json
  solidity/ecdsa/test/DKGValidator.test.ts
  solidity/ecdsa/test/utils/dkg.ts
Due: lint-sol, lint-sol-v1

Extract interfaces to api directory
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/test/RandomBeaconStub.sol
  solidity/ecdsa/hardhat.config.ts
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/api/IRandomBeacon.sol
  solidity/random-beacon/contracts/api/IRandomBeaconConsumer.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Convert seed from BigNumber to bytes32 in tests
  solidity/ecdsa/test/utils/groups.ts
  solidity/ecdsa/test/utils/randomBeacon.ts
Due: none

Use css color variable for tooltip styles
  solidity-v1/dashboard/src/css/tooltip.less
Due: format-dashboard

Adding reimbursment pool
  solidity/random-beacon/contracts/ReimbursmentPool.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove incentives for KEEP ETH pool
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
Due: lint-js-v1, format-dashboard

Bump dashboard version to 1.16.2
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Bump docker image version to v1.16.2
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
Due: none

_EcdsaDkgValidator -> _ecdsaDkgValidator
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Remove governanceDelayCritical
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Include DKG.Result struct in DkgResultSubmitted
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
