Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Declare ethers in deployment script
  solidity/ecdsa/deploy/02_deploy_reimbursement_pool.ts
Due: none

Update fixture for default deployment
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Added underscores in numbers
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Fix sortitionPool reference
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

@threshold-network/solidity-contracts for ecdsa updated to >1.2.0-dev
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Update V2 stubs to match V1
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2Invalid.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MissingSlot.sol
Due: lint-sol, lint-sol-v1

Adjusted WalletRegistry authorization unit tests to changes in staking contract
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: none

Disable dependency compilation for slither
  .github/workflows/contracts-ecdsa.yml
  solidity/ecdsa/hardhat.config.ts
Due: none

seize function added to IWalletRegistry interface
  solidity/ecdsa/contracts/api/IWalletRegistry.sol
Due: lint-sol, lint-sol-v1

Make it clear in docs WalletRegistry.seize may revert
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/api/IWalletRegistry.sol
Due: lint-sol, lint-sol-v1

Added a TODO for a unit test covering reverting seize call
  solidity/ecdsa/test/WalletRegistry.Slashing.test.ts
Due: none

Updated beacon @threshold-network/solidity-contract dependency
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Update stubs and upgrades tests
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MissingSlot.sol
  solidity/ecdsa/test/WalletRegistry.Upgrade.test.ts
Due: lint-sol, lint-sol-v1

Update gas value in test
  solidity/ecdsa/test/WalletRegistry.Inactivity.test.ts
Due: none

Adjusted beacon authorization tests after staking contract update
  solidity/random-beacon/test/RandomBeacon.Authorization.test.ts
Due: lint-eslint, lint-config

Removed RewardsWithdrawn event from RandomBeacon contract
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Updated ECDSA sortition pools dependency to the most recent one
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Addressing slither warnings in WalletRegistry.withdrawRewards
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Adjusting WalletRegistry to Threshold IApplication rewards API
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.Rewards.test.ts
Due: lint-sol, lint-sol-v1

Updated Threshold contracts and Beacon dependencies in ECDSA
  solidity/ecdsa/yarn.lock
Due: none

Removed RewardsWithdrawn event from WalletRegistry
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Update WalletRegistryV2
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2Invalid.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MissingSlot.sol
Due: lint-sol, lint-sol-v1

Add availableRewards stub implementation
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2Invalid.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MissingSlot.sol
Due: lint-sol, lint-sol-v1

Update yarn.lock
  solidity/ecdsa/yarn.lock
Due: none

Update @openzeppelin/contracts to ~4.5.0
  solidity/ecdsa/package.json
Due: none

Update estimated gas usage for __beaconCallback
  solidity/ecdsa/test/WalletRegistry.RandomBeacon.test.ts
Due: none

Tweak expected gas usage
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

Expand NPM workflow triggers
  .github/workflows/npm-ecdsa.yml
  .github/workflows/npm-random-beacon.yml
Due: none

Operator address removed from beacon authorization-related events
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/BeaconAuthorization.sol
  solidity/random-beacon/test/RandomBeacon.Authorization.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

decreasingAt removed from AuthorizationDecreaseRequested beacon event
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/BeaconAuthorization.sol
  solidity/random-beacon/test/RandomBeacon.Authorization.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Grouped together beacon authorization parameter update functions
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/BeaconAuthorization.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Grouped together beacon relay timeout params update functions
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/BeaconAuthorization.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Grouped together beacon DKG parameter update functions
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/BeaconDkg.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fixing displaying gas report after running the tests
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Adding current market price data to gas report
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Making api key an env var
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Linting
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Moved slither too-many-digits ignore into the right place
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Introduced authorization decrease change period parameter to the beacon
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/BeaconAuthorization.sol
  solidity/random-beacon/test/RandomBeacon.Authorization.test.ts
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add gaps to structs
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/contracts/libraries/EcdsaDkg.sol
  solidity/ecdsa/contracts/libraries/EcdsaInactivity.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
Due: lint-sol, lint-sol-v1
