Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Initial ECDSA Wallet test
  solidity/ecdsa/package.json
  solidity/ecdsa/test/WalletFactory.test.ts
  solidity/ecdsa/test/utils/walletFactory.ts
Due: none

Covering dkg challenge when invalid members hash case
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-eslint, lint-config

Expect 64 bytes long group public key
  solidity/ecdsa/contracts/DKGValidator.sol
Due: lint-sol, lint-sol-v1

Update group size and threshold
  solidity/ecdsa/contracts/DKGValidator.sol
  solidity/ecdsa/contracts/libraries/DKG.sol
Due: lint-sol, lint-sol-v1

Changing msg in require check
  solidity/ecdsa/contracts/Wallet.sol
Due: lint-sol, lint-sol-v1

Cloning wallet contract using EIP-1167 under the provided address
  solidity/ecdsa/contracts/Wallet.sol
  solidity/ecdsa/contracts/WalletFactory.sol
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: lint-sol, lint-sol-v1

Cleanup order of external contracts definition
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Passing wallet instance instead of address
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Update version of sortition-pools to v2
  solidity/ecdsa/contracts/Wallet.sol
  solidity/ecdsa/contracts/WalletFactory.sol
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: lint-sol, lint-sol-v1

Complete DKG after DKG result approval
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Register operator in sortition pool
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Initialize DKG parameters
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Capitalize revert messages
  solidity/ecdsa/contracts/Wallet.sol
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Add StakingStub contract
  solidity/ecdsa/contracts/test/StakingStub.sol
Due: lint-sol, lint-sol-v1

Update deployment scripts
  solidity/ecdsa/deploy/03_deploy_master_wallet.ts
  solidity/ecdsa/deploy/04_deploy_wallet_factory.ts
  solidity/ecdsa/deploy/05_approve_wallet_factory.ts
Due: none

Add more unit tests
  solidity/ecdsa/test/WalletFactory.test.ts
  solidity/ecdsa/test/data/ecdsa.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/ecdsa/test/fixtures/index.ts_backup
  solidity/ecdsa/test/utils/dkg.ts
  solidity/ecdsa/test/utils/groups.ts
  solidity/ecdsa/test/utils/operators.ts
  solidity/ecdsa/test/utils/submission.ts
  solidity/ecdsa/test/utils/walletFactory.ts
Due: none

Fix linting
  solidity/ecdsa/.eslintrc
  solidity/ecdsa/contracts/Wallet.sol
  solidity/ecdsa/contracts/WalletFactory.sol
  solidity/ecdsa/deploy/01_deploy_sortition_pool.ts
  solidity/ecdsa/deploy/02_deploy_dkg_validator.ts
  solidity/ecdsa/deploy/03_deploy_master_wallet.ts
  solidity/ecdsa/deploy/04_deploy_wallet_factory.ts
  solidity/ecdsa/deploy/05_approve_wallet_factory.ts
  solidity/ecdsa/test/WalletFactory.test.ts
  solidity/ecdsa/test/utils/dkg.ts
  solidity/ecdsa/test/utils/groups.ts
  solidity/ecdsa/test/utils/operators.ts
Due: lint-sol, lint-sol-v1

Set groupThreshold to 51
  solidity/ecdsa/contracts/DKGValidator.sol
Due: lint-sol, lint-sol-v1

Make wallet creation executable only by owner
  solidity/ecdsa/contracts/WalletFactory.sol
  solidity/ecdsa/deploy/06_transfer_wallet_factory_ownership.ts
  solidity/ecdsa/hardhat.config.ts
  solidity/ecdsa/test/WalletFactory.DKG.test.ts
  solidity/ecdsa/test/WalletFactory.test.ts
Due: lint-sol, lint-sol-v1

Add WalletActivated event
  solidity/ecdsa/contracts/Wallet.sol
Due: lint-sol, lint-sol-v1

Simplify latest wallet activation
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Update DKG documentation around group size
  solidity/ecdsa/contracts/libraries/DKG.sol
Due: lint-sol, lint-sol-v1

Update contracts copied from random-beacon
  solidity/ecdsa/contracts/DKGValidator.sol
  solidity/ecdsa/contracts/libraries/BytesLib.sol
  solidity/ecdsa/contracts/libraries/DKG.sol
  solidity/ecdsa/contracts/libraries/Submission.sol
Due: lint-sol, lint-sol-v1

Make Wallet ownable
  solidity/ecdsa/contracts/Wallet.sol
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Store wallet members and public key as hashes
  solidity/ecdsa/contracts/Wallet.sol
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Emit Wallet status related events from WalletFactory
  solidity/ecdsa/contracts/Wallet.sol
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Rename createNewWallet to requestNewWallet
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Expose functions for WalletFactory details
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Deploy WalletFactoryStub for tests
  solidity/ecdsa/contracts/test/WalletFactoryStub.sol
  solidity/ecdsa/deploy/04_deploy_wallet_factory.ts
Due: lint-sol, lint-sol-v1

Update dkgResultSubmissionEligibilityDelay
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Ignore eslint @typescript-eslint/no-use-before-define
  solidity/ecdsa/.eslintrc
  solidity/ecdsa/test/utils/dkg.ts
Due: none

Fix contracts linting
  solidity/ecdsa/contracts/Wallet.sol
  solidity/ecdsa/contracts/WalletFactory.sol
  solidity/ecdsa/contracts/test/StakingStub.sol
Due: lint-sol, lint-sol-v1

Add tests for WalletFactory
  solidity/ecdsa/test/Wallet.test.ts
  solidity/ecdsa/test/WalletFactory.DKG.test.ts
  solidity/ecdsa/test/utils/dkg.ts
  solidity/ecdsa/test/utils/groups.ts
  solidity/ecdsa/test/utils/operators.ts
Due: none

Add notifyDkgTimeout function
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Add docs in WalletFactory contract
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Update docs in RandomBeacon contract
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Emit SignatureRequested event in Wallet
  solidity/ecdsa/contracts/Wallet.sol
Due: lint-sol, lint-sol-v1

Add tests for Wallet contract
  solidity/ecdsa/contracts/test/CloneFactoryStub.sol
  solidity/ecdsa/test/Wallet.test.ts
  solidity/ecdsa/test/WalletFactory.DKG.test.ts
Due: lint-sol, lint-sol-v1

Remove index.ts_backup
  solidity/ecdsa/test/fixtures/index.ts_backup
Due: none

Update ECDSA test data
  solidity/ecdsa/test/data/ecdsa.ts
Due: none
