Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Updated @threshold-network/solidity-contracts dependency version
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

WalletRegistry.seize function implemented
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.Slashing.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: lint-sol, lint-sol-v1

Improved linking between Random Beacon README The Mechanism sections
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Minor wording/punctuation fixes to Random Beacon README The Mechanism
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Set of small improvements to Random Beacon README The Mechanism
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Align ETH vs eth in Random Beacon README
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Fix the tagging of `random-beacon` and `ecdsa` packages
  .github/workflows/npm-ecdsa.yml
  .github/workflows/npm-random-beacon.yml
Due: none

Use @keep-network/hardhat-helper v0.5.0
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Fund ETH ReimbursementPool for ECDSA unit tests in fixture
  solidity/ecdsa/deploy/02_deploy_reimbursement_pool.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Updated @keep-network/random-beacon dependency from ECDSA package.json
  solidity/ecdsa/yarn.lock
Due: none

Small post-merge fix to withdrawIneligibleRewards
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.Rewards.test.ts
Due: lint-sol, lint-sol-v1

Governable contract copied from ecdsa to random-beacon
  solidity/random-beacon/contracts/Governable.sol
  solidity/random-beacon/contracts/test/GovernableImpl.sol
  solidity/random-beacon/test/Governable.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use Governable contract from random-beacon module
  solidity/ecdsa/contracts/Governable.sol
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/test/GovernableImpl.sol
  solidity/ecdsa/package.json
  solidity/ecdsa/test/Governable.test.ts
  solidity/ecdsa/yarn.lock
Due: lint-sol, lint-sol-v1

RandomBeacon contract switched to use Governable
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeacon.Rewards.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Switching back to random-beacon@development dependency
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Update dependencies
  solidity/ecdsa/yarn.lock
Due: none

Group together beacon gas parameters
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Introduce updates after governable PR
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/random-beacon/test/Governable.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Ignore slither unitialized variable error for reimbursementPool
  solidity/random-beacon/contracts/Reimbursable.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Group together beacon reward parameters
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix failing test for governance update
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: none

Reading dkg seed from the DKG library
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: lint-sol, lint-sol-v1

Group together beacon slashing parameters
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Group together beacon relay entry parameters
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Group together beacon DKG and group creation parameters
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/BeaconDkg.sol
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Removed `.only` from `selectGroup` unit tests
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

Linting e2e.test.ts
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-eslint, lint-config

Ignoring slither warning about uninitialized state in Governable
  solidity/random-beacon/contracts/Governable.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Small naming cleanup in beacon governance contract
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Group together ECDSA wallet registry gas-related parameters
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Group together ECDSA wallet registry reward-related parameters
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Hide maliciousDkgResultSlashingAmount behind WalletRegistry.slashingParameters()
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

All `*parameters()` view functions moved to the end of WalletRegistry
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Update V2 stubs
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2Invalid.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MissingSlot.sol
Due: lint-sol, lint-sol-v1

Updated beacon's sortition pools dependency to the most recent one
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Increase expectedGasEstimate in test
  solidity/ecdsa/test/WalletRegistry.RandomBeacon.test.ts
Due: none

Adjusting RandomBeacon to Threshold IApplication rewards API
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.Rewards.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Addressing slither warnings in RandomBeacon.withdrawRewads
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Tweak gas values for reimbursements
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Add tests for gas usage of transactions
  solidity/ecdsa/test/WalletRegistry.Inactivity.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/helpers/gas.ts
Due: none
