Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Updated @threshold-network/solidity-contract to use 'development' tag
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Updated @openzeppelin/contracts to 4.6.0
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Updated @keep-network/random-beacon dependency
  solidity/ecdsa/yarn.lock
Due: none

Compile external @threshold-network TokenStaking
  solidity/ecdsa/hardhat.config.ts
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Update @threshold-network/solidity-contracts dependency
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Use range in the t-network solidity-contracts dependency
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Use range in the t-network solidity-contracts dependency
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Update @keep-network/random beacon dependency to the most recent version
  solidity/ecdsa/yarn.lock
Due: none

Bring back @openzeppelin/contracts dependency to ECDSA
  solidity/ecdsa/package.json
Due: none

Fix name of a inactivity.ts file
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/RandomBeacon.Rewards.test.ts
  solidity/random-beacon/test/utils/inactivity.ts
Due: lint-eslint, lint-config

Update openzeppelin contracts to ^4.6.0
  solidity/ecdsa/hardhat.config.ts
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Replaced ProxyAdmin type import with Contract type import
  solidity/ecdsa/test/WalletRegistry.Deployment.test.ts
Due: none

Move ReimbursementPool deployment to random-beacon project
  solidity/random-beacon/deploy/01_deploy_reimbursement_pool.ts
Due: lint-eslint, lint-config

Add missing contracts-detect-changes reference
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
Due: none

Use ReimbursementPool from random-beacon in ecdsa
  solidity/ecdsa/deploy/02_deploy_reimbursement_pool.ts
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
  solidity/ecdsa/hardhat.config.ts
Due: none

Update prefixes in ecdsa deployment scripts
  solidity/ecdsa/deploy/02_deploy_dkg_validator.ts
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
  solidity/ecdsa/deploy/04_approve_wallet_registry.ts
  solidity/ecdsa/deploy/05_authorize_wallet_registry.ts
  solidity/ecdsa/deploy/06_deploy_wallet_registry_governance.ts
  solidity/ecdsa/deploy/07_transfer_governance.ts
  solidity/ecdsa/deploy/08_transfer_proxy_admin_ownership.ts
  solidity/ecdsa/deploy/09_deploy_proxy_admin_with_deputy.ts
Due: none

Deploy SortitionPool in ecdsa as EcdsaSortitionPool
  solidity/ecdsa/deploy/01_deploy_ecdsa_sortition_pool.ts
  solidity/ecdsa/deploy/02_deploy_dkg_validator.ts
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Don't transfer ProxyAdmin ownership if already done
  solidity/ecdsa/deploy/08_transfer_proxy_admin_ownership.ts
Due: none

Invoke npm publish on deploy scripts update
  .github/workflows/npm-random-beacon.yml
Due: none

Update @keep-network/random-beacon to 2.0.0-dev.37
  solidity/ecdsa/yarn.lock
Due: none

Use @nomiclabs/hardhat-ethers instead hardhat-deploy-ethers
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Add utils for getting signers and contracts
  solidity/random-beacon/package.json
  solidity/random-beacon/test/utils/signers.test.ts
  solidity/random-beacon/tsconfig.json
  solidity/random-beacon/utils/contracts.ts
  solidity/random-beacon/utils/signers.ts
Due: lint-eslint, lint-config

Update tests not to use hardhat-deploy-ethers
  solidity/random-beacon/test/AltBn128.test.ts
  solidity/random-beacon/test/BeaconDkgValidator.test.ts
  solidity/random-beacon/test/Governable.test.ts
  solidity/random-beacon/test/Groups.Expiration.test.ts
  solidity/random-beacon/test/Groups.Termination.test.ts
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/ModUtils.test.ts
  solidity/random-beacon/test/RandomBeacon.Authorization.test.ts
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.Constructor.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/RandomBeacon.Rewards.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/Reimbursable.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/system/e2e.test.ts
  solidity/random-beacon/test/utils/operators.ts
Due: lint-eslint, lint-config

Replace utils with helpers plugin
  solidity/random-beacon/package.json
  solidity/random-beacon/test/utils/signers.test.ts
  solidity/random-beacon/utils/contracts.ts
  solidity/random-beacon/utils/signers.ts
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Use @keep-network/hardhat-helpers in tests
  solidity/random-beacon/test/BeaconDkgValidator.test.ts
  solidity/random-beacon/test/Governable.test.ts
  solidity/random-beacon/test/RandomBeacon.Authorization.test.ts
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.Constructor.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/RandomBeacon.Rewards.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/Reimbursable.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/system/e2e.test.ts
  solidity/random-beacon/test/utils/operators.ts
Due: lint-eslint, lint-config

Replace hardhat-deploy-ethers with @keep-network/hardhat-helpers
  solidity/ecdsa/deploy/09_transfer_proxy_admin_ownership.ts
  solidity/ecdsa/package.json
  solidity/ecdsa/test/DKGValidator.test.ts
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
  solidity/ecdsa/test/WalletRegistry.Deployment.test.ts
  solidity/ecdsa/test/WalletRegistry.Slashing.test.ts
  solidity/ecdsa/test/WalletRegistry.Upgrade.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/ecdsa/test/utils/governance.ts
  solidity/ecdsa/test/utils/operators.ts
  solidity/ecdsa/yarn.lock
Due: none

Update version of @keep-network/hardhat-helpers dependency
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Refactor TransferProxyAdminOwnership script
  solidity/ecdsa/deploy/09_transfer_proxy_admin_ownership.ts
Due: none

Add TEST_USE_STUBS flag
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
  solidity/ecdsa/package.json
Due: none

Expose initializeWalletOwner function
  solidity/ecdsa/tasks/initialize-wallet-owner.ts
Due: none

Change button based on the PRE set up
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
  solidity-v1/dashboard/src/components/threshold/ThresholdStakingAuthorizationHistory.jsx
  solidity-v1/dashboard/src/contracts-artifacts/SimplePreApplication.json
  solidity-v1/dashboard/src/lib/keep/contracts/index.js
  solidity-v1/dashboard/src/lib/keep/index.js
  solidity-v1/dashboard/src/lib/keep/keep-to-t-staking/index.js
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Due: lint-js-v1, format-dashboard

Change the way of importing the PRE contract
  solidity-v1/dashboard/src/lib/keep/constants/addresses.js
  solidity-v1/dashboard/src/lib/keep/constants/index.js
  solidity-v1/dashboard/src/lib/keep/constants/pre.js
  solidity-v1/dashboard/src/lib/keep/contracts-artifacts/SimplePreApplication.json
  solidity-v1/dashboard/src/lib/keep/index.js
Due: lint-js-v1, format-dashboard

Remove nucypher-contracts from package.json
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Lint errors fix
  solidity-v1/dashboard/src/lib/keep/constants/index.js
Due: lint-js-v1, format-dashboard

Add commit hash to ignore refs file
  .git-blame-ignore-revs
Due: none

Add links to tooltips
  solidity-v1/dashboard/src/components/threshold/ThresholdStakingAuthorizationHistory.jsx
  solidity-v1/dashboard/src/css/tooltip.less
  solidity-v1/dashboard/src/css/typography.less
Due: format-dashboard

Improve description of steps for generating PDF, PNG files
  docs/diagrams/system-flow.tikz
Due: none

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
