Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Updated sortition pool version used by random beacon
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Added 0.8.17 Solidity compiler to the list of random beacon compilers
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Improve logging of transaction execution
  solidity/ecdsa/deploy/01_deploy_ecdsa_sortition_pool.ts
  solidity/random-beacon/deploy/02_deploy_beacon_sortition_pool.ts
  solidity/random-beacon/deploy/05_approve_random_beacon_in_token_staking.ts
  solidity/random-beacon/deploy/06_authorize_random_beacon_in_reimbursement_pool.ts
Due: lint-eslint, lint-config

Ignore formatting of external/ directory content
  solidity/ecdsa/.prettierignore
  solidity/random-beacon/.prettierignore
Due: lint-eslint, lint-config

Updated beacon @threshold-network/solidity-contracts dependency
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Tweaked gas refund assertion for one path of approveDkgResult
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Solidity pragma for ecdsa contracts fixed to 0.8.17
  solidity/ecdsa/contracts/EcdsaDkgValidator.sol
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/contracts/api/IWalletOwner.sol
  solidity/ecdsa/contracts/api/IWalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/contracts/libraries/EcdsaDkg.sol
  solidity/ecdsa/contracts/libraries/EcdsaInactivity.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
  solidity/ecdsa/contracts/test/RandomBeaconStub.sol
  solidity/ecdsa/contracts/test/WalletRegistryStub.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MisplacedNewSlot.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MissingSlot.sol
Due: lint-sol, lint-sol-v1

Brought back a flag description
  docs/resources/client-start-help
Due: none

Updated @threshold-network/solidity-contracts dependency for ecdsa
  solidity/ecdsa/yarn.lock
Due: none

Updated sortition pool version used by ecdsa contracts
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Updated @keep-network/random-beacon ecdsa dependency
  solidity/ecdsa/yarn.lock
Due: none

Added 0.8.17 Solidity compiler to the list of ecdsa compilers
  solidity/ecdsa/hardhat.config.ts
Due: none

Add session ID to the beacon relay entry messages
  pkg/beacon/entry/entry.go
  pkg/beacon/entry/gen/pb/message.pb.go
  pkg/beacon/entry/gen/pb/message.proto
  pkg/beacon/entry/marshaling.go
  pkg/beacon/entry/marshaling_test.go
  pkg/beacon/entry/message.go
  pkg/beacon/integration_test.go
Due: none

Moved hardhat-helpers to devDependencies
  solidity/ecdsa/package.json
Due: none

Put beacon DKG execution in right context
  pkg/beacon/dkg/dkg.go
  pkg/beacon/dkg/result/publish.go
  pkg/beacon/dkg/result/signing.go
  pkg/beacon/dkg/result/submission.go
  pkg/beacon/gjkr/gjkr.go
  pkg/beacon/gjkr/member.go
  pkg/beacon/gjkr/protocol.go
  pkg/beacon/node.go
Due: none

Update deployment scripts for ecdsa for mainnet
  solidity/ecdsa/deploy/01_deploy_ecdsa_sortition_pool.ts
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
  solidity/ecdsa/deploy/04_approve_wallet_registry.ts
  solidity/ecdsa/deploy/10_authorize_in_random_beacon.ts
  solidity/ecdsa/deploy/11_transfer_reimbursement_pool_ownerhsip.ts
  solidity/ecdsa/external/mainnet/T.json
  solidity/ecdsa/external/mainnet/TokenStaking.json
Due: none

Put relay entry generation in right context
  pkg/beacon/entry/entry.go
  pkg/beacon/entry/submission.go
  pkg/beacon/node.go
Due: none

Add flag for discovery
  infrastructure/kube/keep-test/monitoring/prometheus-deployment.yaml
Due: none

Update metrics and diagnostics to clientinfo in config sample
  configs/config.toml.SAMPLE
Due: none

Build linux binaries on debian based Docker image
  Dockerfile
Due: none

Adjusted local tbtc chain to new chain interface
  pkg/tbtc/chain_test.go
  pkg/tbtc/dkg_test.go
Due: none

Add session ID to the beacon DKG messages
  pkg/beacon/dkg/dkg.go
  pkg/beacon/dkg/result/gen/pb/message.pb.go
  pkg/beacon/dkg/result/gen/pb/message.proto
  pkg/beacon/dkg/result/marshalling.go
  pkg/beacon/dkg/result/marshalling_test.go
  pkg/beacon/dkg/result/message.go
  pkg/beacon/dkg/result/publish.go
  pkg/beacon/dkg/result/signing.go
  pkg/beacon/dkg/result/signing_test.go
  pkg/beacon/dkg/result/states.go
  pkg/beacon/gjkr/gen/pb/message.pb.go
  pkg/beacon/gjkr/gen/pb/message.proto
  pkg/beacon/gjkr/gjkr.go
  pkg/beacon/gjkr/marshaling.go
  pkg/beacon/gjkr/marshaling_test.go
  pkg/beacon/gjkr/member.go
  pkg/beacon/gjkr/message.go
  pkg/beacon/gjkr/message_filter_test.go
  pkg/beacon/gjkr/message_test.go
  pkg/beacon/gjkr/protocol.go
  pkg/beacon/gjkr/protocol_accusations_test.go
  pkg/beacon/gjkr/protocol_ecdh_test.go
  pkg/beacon/gjkr/protocol_reconstructions_test.go
  pkg/beacon/gjkr/states.go
Due: none

Leaving the default authorization decrease delay of 45 days
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
  solidity/random-beacon/deploy/04_deploy_random_beacon.ts
Due: lint-eslint, lint-config

v2.0.0 Random Beacon release
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Update TokenStaking external artifact
  solidity/ecdsa/external/mainnet/TokenStaking.json
  solidity/random-beacon/external/mainnet/TokenStaking.json
Due: lint-eslint, lint-config

Update args for etherscan verify
  solidity/random-beacon/deploy/01_deploy_reimbursement_pool.ts
Due: lint-eslint, lint-config

Prepend hexstrings with 0x
  pkg/beacon/node.go
  pkg/tbtc/node.go
Due: none

Move @keep-network/hardhat-helpers to dev dependencies
  solidity/random-beacon/package.json
Due: lint-eslint, lint-config

Push artifacts of @keep-network/random-beacon@2.0.0 package
  solidity/random-beacon/deployments/mainnet/.chainId
  solidity/random-beacon/deployments/mainnet/BLS.json
  solidity/random-beacon/deployments/mainnet/BeaconAuthorization.json
  solidity/random-beacon/deployments/mainnet/BeaconDkg.json
  solidity/random-beacon/deployments/mainnet/BeaconDkgValidator.json
  solidity/random-beacon/deployments/mainnet/BeaconInactivity.json
  solidity/random-beacon/deployments/mainnet/BeaconSortitionPool.json
  solidity/random-beacon/deployments/mainnet/RandomBeacon.json
  solidity/random-beacon/deployments/mainnet/RandomBeaconGovernance.json
  solidity/random-beacon/deployments/mainnet/ReimbursementPool.json
  solidity/random-beacon/deployments/mainnet/solcInputs/315dd8aa56418c14cbdc8d65adaa494b.json
  solidity/random-beacon/external/mainnet/TokenStaking.json
Due: lint-eslint, lint-config

Add external artifacts of random-beacon contracts
  solidity/ecdsa/external/mainnet/RandomBeacon.json
  solidity/ecdsa/external/mainnet/ReimbursementPool.json
Due: none

v2.0.0 ECDSA release
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Push artifacts of @keep-network/ecdsa@2.0.0 package
  solidity/ecdsa/.openzeppelin/mainnet.json
  solidity/ecdsa/deployments/mainnet/.chainId
  solidity/ecdsa/deployments/mainnet/EcdsaDkgValidator.json
  solidity/ecdsa/deployments/mainnet/EcdsaInactivity.json
  solidity/ecdsa/deployments/mainnet/EcdsaSortitionPool.json
  solidity/ecdsa/deployments/mainnet/WalletRegistry.json
  solidity/ecdsa/deployments/mainnet/WalletRegistryGovernance.json
  solidity/ecdsa/deployments/mainnet/solcInputs/b2d79823d7aa79cff09f112dce64ebc8.json
  solidity/ecdsa/external/mainnet/RandomBeaconGovernance.json
Due: none

Initialize contracts package version 2.1.0-dev
  solidity/ecdsa/package.json
  solidity/random-beacon/package.json
Due: lint-eslint, lint-config

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
