Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Use caching mechanism built-in to the setup-node action
  .github/workflows/dashboard-v1-format.yaml
  .github/workflows/dashboard-v1-testnet.yml
  .github/workflows/npm-v1.yml
  .github/workflows/submitter-testnet.yaml
Due: none

Initial README doc
  solidity/ecdsa/README.adoc
Due: none

Add BytesLib contract
  solidity/ecdsa/contracts/libraries/BytesLib.sol
Due: lint-sol, lint-sol-v1

Add Submission library
  solidity/ecdsa/contracts/libraries/Submission.sol
Due: lint-sol, lint-sol-v1

Add DKG contract
  solidity/ecdsa/contracts/libraries/DKG.sol
Due: lint-sol, lint-sol-v1

Add DKGValidator contract
  solidity/ecdsa/contracts/DKGValidator.sol
Due: lint-sol, lint-sol-v1

Deployment scripts for ECDSA contracts
  solidity/ecdsa/deploy/01_deploy_sortition_pool.ts
  solidity/ecdsa/deploy/02_deploy_dkg_validator.ts
  solidity/ecdsa/deploy/03_deploy_wallet_factory.ts
  solidity/ecdsa/hardhat.config.ts
  solidity/ecdsa/package.json
Due: none

Initial implementation of ECDSA Wallet and Factory
  solidity/ecdsa/contracts/Wallet.sol
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Add dependencies imported in contract
  solidity/ecdsa/package.json
Due: none

Expect 33 bytes long group public key
  solidity/ecdsa/contracts/DKGValidator.sol
Due: lint-sol, lint-sol-v1

Initial ECDSA Wallet test
  solidity/ecdsa/package.json
  solidity/ecdsa/test/WalletFactory.test.ts
  solidity/ecdsa/test/utils/walletFactory.ts
Due: none

Add `workflow_dispatch` trigger
  .github/workflows/npm-v1.yml
Due: none

Update versions in doc
  solidity/ecdsa/README.adoc
Due: none

Bump the dashboard version to v1.17.0-pre
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Improving contract doc and cleanup
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Extracting hashing members result to a constant
  solidity/random-beacon/test/Groups.test.ts
Due: lint-eslint, lint-config

Unused comment cleanup
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
Due: lint-eslint, lint-config

Adding tests to cover members in not ascending order
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

activeGroupMembers -> groupMembers
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-eslint, lint-config

Increase column height in Liquidity Page
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
Due: format-dashboard

Fix withdrawing rewards from inactive pool
  solidity-v1/dashboard/src/components/InactiveLiquidityRewardCard.jsx
Due: format-dashboard

Refactor Liquidity Cards rendering
  solidity-v1/dashboard/src/components/ActiveLiquidityRewardCard.jsx
  solidity-v1/dashboard/src/components/InactiveLiquidityRewardCard.jsx
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
Due: format-dashboard

Improving docs for groupMembers param
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Moving comment above the event and replacing members->selectedMembers
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adding clarification doc in test around misbehaved indices
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Mentioning ascending order in docs
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

selectedOperators -> groupMembersAddresses
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use context in Liquidity Cards
  solidity-v1/dashboard/src/components/ActiveLiquidityRewardCard.jsx
  solidity-v1/dashboard/src/components/InactiveLiquidityRewardCard.jsx
  solidity-v1/dashboard/src/components/LiquidityRewardCard.jsx
  solidity-v1/dashboard/src/components/liquidity/KeepOnlyPoolCard.jsx
Due: format-dashboard

Delete old Liquidity Card components
  solidity-v1/dashboard/src/components/LiquidityRewardCard2.jsx
Due: format-dashboard

Gas-optimized version of submitRelayEntry when soft timeout has not passed
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Allowing entry submission after a soft timeout
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Optimizing byte size for RandomBeaconStub
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Create new TBTCV2 + Saddle Meta V2 pool
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/contracts-artifacts/SaddleTBTCMetaPoolV2.json
  solidity-v1/dashboard/src/contracts.js
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
  solidity-v1/dashboard/src/reducers/liquidity-rewards.js
Due: lint-js-v1, format-dashboard

Improving docs
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Format `SaddleTBTCMetaPoolV2` abi
  solidity-v1/dashboard/src/contracts-artifacts/SaddleTBTCMetaPoolV2.json
Due: format-dashboard

Add commit hash to git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Add proper pool link to saddle tbtc
  solidity-v1/dashboard/src/components/modal/tbtc-migration/MigrationCompleted.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/pages/tbtc-migration/HowItWorksPage.jsx
Due: lint-js-v1, format-dashboard

Fix More info link
  solidity-v1/dashboard/src/components/InactiveLiquidityRewardCard.jsx
  solidity-v1/dashboard/src/components/LiquidityRewardCard.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
Due: lint-js-v1, format-dashboard

Remove incentivesRemoved prop from Liquidity Cards
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
Due: format-dashboard

Make liquidity page top banner a little bit wider
  solidity-v1/dashboard/src/css/liquidity-page.less
Due: format-dashboard

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
