Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Rename `docs.yml` to `docs-v1.yml`
  .github/workflows/docs-v1.yml
Due: none

Add `estimated` word
  solidity-v1/dashboard/src/components/coverage-pools/MetricsSection.jsx
Due: format-dashboard

"Add covPool address to the wallet" section
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/css/typography.less
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
  solidity-v1/dashboard/src/static/svg/keep-symbol.svg
Due: format-dashboard

Delete LearnMoreBanner component
  solidity-v1/dashboard/src/components/coverage-pools/LearnMoreBanner.jsx
  solidity-v1/dashboard/src/components/coverage-pools/index.js
  solidity-v1/dashboard/src/pages/OverviewPage.jsx
Due: lint-js-v1, format-dashboard

Unpin footer of the sidebar
  solidity-v1/dashboard/src/App.js
  solidity-v1/dashboard/src/css/app.less
Due: lint-js-v1, format-dashboard

Replace cov pools banner
  solidity-v1/dashboard/src/css/overview-page.less
  solidity-v1/dashboard/src/pages/OverviewPage.jsx
Due: format-dashboard

Add tooltip to disabled `undelegate` btn
  solidity-v1/dashboard/src/components/UndelegateStakeButton.jsx
  solidity-v1/dashboard/src/css/buttons.less
Due: format-dashboard

Create useDelegationsWithAuthData hook
  solidity-v1/dashboard/src/components/DelegatedTokensTable.jsx
  solidity-v1/dashboard/src/components/DelegationOverview.jsx
  solidity-v1/dashboard/src/hooks/useDelegationsWithTAuthData.js
  solidity-v1/dashboard/src/pages/OverviewPage.jsx
  solidity-v1/dashboard/src/pages/delegation/GrantedTokensPage.jsx
  solidity-v1/dashboard/src/pages/delegation/WalletTokensPage.jsx
Due: lint-js-v1, format-dashboard

Change the text of disabled undelegate btn tooltip
  solidity-v1/dashboard/src/components/UndelegateStakeButton.jsx
  solidity-v1/dashboard/src/css/tooltip.less
Due: format-dashboard

Use proper cov keep token address
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
Due: lint-js-v1, format-dashboard

Fix hook dependency
  solidity-v1/dashboard/src/hooks/useDelegationsWithTAuthData.js
Due: lint-js-v1, format-dashboard

Fix useDelegationsWithTAuthData hook
  solidity-v1/dashboard/src/hooks/useDelegationsWithTAuthData.js
Due: lint-js-v1, format-dashboard

Restyle btns in delegations and undelegations table
  solidity-v1/dashboard/src/components/DelegatedTokensTable.jsx
  solidity-v1/dashboard/src/components/RecoverStakeButton.jsx
  solidity-v1/dashboard/src/components/UndelegateStakeButton.jsx
  solidity-v1/dashboard/src/components/Undelegations.jsx
  solidity-v1/dashboard/src/css/buttons.less
  solidity-v1/dashboard/src/css/commons.less
  solidity-v1/dashboard/src/static/svg/refresh.svg
Due: format-dashboard

Fetch T data for owned stakes
  solidity-v1/dashboard/src/components/DelegatedTokensTable.jsx
  solidity-v1/dashboard/src/components/DelegationOverview.jsx
  solidity-v1/dashboard/src/hooks/useDelegationsWithTAuthData.js
  solidity-v1/dashboard/src/pages/OverviewPage.jsx
  solidity-v1/dashboard/src/pages/delegation/GrantedTokensPage.jsx
  solidity-v1/dashboard/src/pages/delegation/WalletTokensPage.jsx
  solidity-v1/dashboard/src/services/tokens-page.service.js
Due: lint-js-v1, format-dashboard

Revert changes in package-lock.json
  solidity-v1/dashboard/package-lock.json
Due: format-dashboard

Refactor initializing PRE contract
  solidity-v1/dashboard/src/lib/keep/contracts/index.js
  solidity-v1/dashboard/src/lib/keep/index.js
  solidity-v1/dashboard/src/lib/keep/utils/index.js
Due: lint-js-v1, format-dashboard

Add black color to constants
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/components/RecoverStakeButton.jsx
  solidity-v1/dashboard/src/components/tbtc-migration/MigrationPortalForm.jsx
  solidity-v1/dashboard/src/constants/colors.js
Due: lint-js-v1, format-dashboard

Remove unnecessary arguments for func
  solidity-v1/dashboard/src/components/UndelegateStakeButton.jsx
Due: format-dashboard

Remove/add arrows from/to links
  solidity-v1/dashboard/src/css/overview-page.less
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
Due: format-dashboard

Rename icon
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
Due: format-dashboard

Change container from span to div
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
Due: format-dashboard

Refactor NavLink
  solidity-v1/dashboard/src/App.js
  solidity-v1/dashboard/src/components/ApplicationBox.jsx
  solidity-v1/dashboard/src/components/NavLink.jsx
  solidity-v1/dashboard/src/components/ResourceTooltip.jsx
  solidity-v1/dashboard/src/components/TokenOverview.jsx
  solidity-v1/dashboard/src/components/messages/LPTokensInWalletMessage.jsx
  solidity-v1/dashboard/src/components/messages/TopUpReadyToBeCommittedMessage.jsx
  solidity-v1/dashboard/src/pages/OverviewPage.jsx
  solidity-v1/dashboard/src/pages/grants/TokenGrantsPage.jsx
Due: lint-js-v1, format-dashboard

Use route path instead of static string
  solidity-v1/dashboard/src/pages/OverviewPage.jsx
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Lint errors fix
  solidity-v1/dashboard/src/lib/keep/utils/index.js
Due: lint-js-v1, format-dashboard

Add commit hash to ignore refs file
  .git-blame-ignore-revs
Due: none

Pass chain ID to the KEEP lib constructor
  solidity-v1/dashboard/src/contracts.js
  solidity-v1/dashboard/src/lib/keep/contracts/index.js
  solidity-v1/dashboard/src/lib/keep/index.js
  solidity-v1/dashboard/src/lib/keep/utils/index.js
Due: lint-js-v1, format-dashboard

Use ViewInBlockExplorer for cov Keep etherscan
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
Due: lint-js-v1, format-dashboard

Fix validateDOMNesting error
  solidity-v1/dashboard/src/components/threshold/ThresholdStakingAuthorizationHistory.jsx
Due: format-dashboard

Update KEEP Token Dashboard version to v1.19.0
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Bump docker image version to v1.19.0
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
Due: none

Bump the dashboard version to 1.20.0-pre
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Config git to use `https://` instead of `git://`
  solidity-v1/dashboard/Dockerfile
Due: format-dashboard

Restore package-lock
  solidity-v1/dashboard/package-lock.json
Due: format-dashboard

Create a common Makefile for contracts bindings generation
  pkg/chain/v2/common/Makefile
Due: none

Add Go bindings generator for ecdsa contracts
  pkg/chain/v2/ecdsa/Makefile
  pkg/chain/v2/ecdsa/abi/.keep
  pkg/chain/v2/ecdsa/cmd/cmd.go
  pkg/chain/v2/ecdsa/contract/.keep
  pkg/chain/v2/ecdsa/gen.go
Due: none

Add Go bindings generator for random-beacon contracts
  pkg/chain/v2/random-beacon/Makefile
  pkg/chain/v2/random-beacon/abi/.keep
  pkg/chain/v2/random-beacon/cmd/cmd.go
  pkg/chain/v2/random-beacon/contract/.keep
  pkg/chain/v2/random-beacon/gen.go
Due: none

Add Go bindings generator for tbtc-v2 contracts
  pkg/chain/v2/tbtc-v2/Makefile
  pkg/chain/v2/tbtc-v2/abi/.keep
  pkg/chain/v2/tbtc-v2/cmd/cmd.go
  pkg/chain/v2/tbtc-v2/contract/.keep
  pkg/chain/v2/tbtc-v2/gen.go
  pkg/chain/v2/tbtc-v2/solidity/package.json
  pkg/chain/v2/tbtc-v2/solidity/yarn.lock
Due: none

Add Go bindings generator for threshold-network contracts
  pkg/chain/v2/threshold-network/Makefile
  pkg/chain/v2/threshold-network/abi/.keep
  pkg/chain/v2/threshold-network/cmd/cmd.go
  pkg/chain/v2/threshold-network/contract/.keep
  pkg/chain/v2/threshold-network/gen.go
  pkg/chain/v2/threshold-network/solidity/package.json
  pkg/chain/v2/threshold-network/solidity/yarn.lock
Due: none

Ignore solidity sources
  pkg/chain/v2/.gitignore
Due: none
