Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Constant state variables should be declared constant to save gas.
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Formatting
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/BLS.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Configuring slither, ignoring files in filter_paths
  solidity/random-beacon/slither.config.json
Due: lint-eslint, lint-config

Updating yarn.lock
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Documentation for relay functions
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fixing 'too many digits' issue
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/slither.config.json
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Revert "Removed unused function"
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Temporarily allow for unused code which is in progress
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove redundant `nonReentrant` lock
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename `isRequestTimedOut` method
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use offset for submission block eligibility calculations
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Setters for `Relay` library
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename `Relay` test file
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Remove redundant guard from `updateRelayEntryParameters`
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

tBTC reward allocation 2021-10-08 -> 2021-10-15
  solidity/dashboard/src/rewards-allocation/rewards.json
Due: none

tBTC reward allocation 2021-10-08 -> 2021-10-15
  solidity-v1/dashboard/src/rewards-allocation/rewards.json
Due: format-dashboard

Fix compilation errors in `Relay` library
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Prepare indexes to be kicked from the pool
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Disabling slithering in the revert message
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Prepare slashing factor
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Simplify result handling
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

dkg.acceptResult -> dkg.approveResult
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Don't require DKG result hash in challenge function
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Try to fix `Relay` tests
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Give one more block for challenge
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add tests for result approvals
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Increase test timeout
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Add styles for the new Modal impl
  solidity-v1/dashboard/src/components/modal-component/Modal.jsx
  solidity-v1/dashboard/src/css/buttons.less
  solidity-v1/dashboard/src/css/modal.less
Due: format-dashboard

Include submission offset in DKG timeout calculation
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add unit tests for challenges
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Add RandomBeacon implementation for tests
  solidity/random-beacon/contracts/test/TestRandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add test to check submission offset
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Add tests for data cleaning
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Emit events in library
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

add ETH cashback
  contracts/MerkleDrop128.sol
Due: lint-sol, lint-sol-v1

Document Acceptance Criteria for Random Beacon v2
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Add tests for notifyDkgTimeout
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Fix test
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Add docs
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Make prettier happy
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
