Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Update typechain and tests
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/package.json
  solidity/random-beacon/test/DKGValidator.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/utils/dkg.ts
  solidity/random-beacon/test/utils/groups.ts
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Workaround typechain generated types intersections
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-eslint, lint-config

Surround staking.seize with try/catch
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/package.json
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/mocks/staking.ts
  solidity/random-beacon/yarn.lock
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove submission eligibility algorithm
  solidity/random-beacon/README.adoc
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/libraries/Submission.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
  solidity/random-beacon/contracts/test/SubmissionStub.sol
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/Submission.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/system/e2e.test.ts
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Register group on DKG result approval
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/GroupsStub.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/Groups.Expiration.test.ts
  solidity/random-beacon/test/Groups.Termination.test.ts
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename DKG to BeaconDkg and DKGValidator to BeaconDkgValidator
  solidity/random-beacon/contracts/BeaconDkgValidator.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/BeaconDkg.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/BeaconDkgValidator.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update challenged result test
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Udpate eslint configuration
  solidity/random-beacon/.eslintrc
  solidity/random-beacon/.prettierrc.js
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Auto-format TS files with eslint
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/test/AltBn128.test.ts
  solidity/random-beacon/test/BLS.test.ts
  solidity/random-beacon/test/BeaconDkgValidator.test.ts
  solidity/random-beacon/test/Groups.Expiration.test.ts
  solidity/random-beacon/test/Groups.Termination.test.ts
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/ModUtils.test.ts
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/mocks/staking.ts
  solidity/random-beacon/test/system/e2e.test.ts
  solidity/random-beacon/test/utils/dkg.test.ts
  solidity/random-beacon/test/utils/dkg.ts
  solidity/random-beacon/test/utils/groups.ts
  solidity/random-beacon/test/utils/heartbeat.ts
  solidity/random-beacon/test/utils/operators.ts
  solidity/random-beacon/test/utils/submission.ts
Due: lint-eslint, lint-config

Add commit to git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Remove duplicated lines
  solidity/ecdsa/test/utils/dkg.ts
Due: none

Update IRandomBeacon docs
  solidity/random-beacon/contracts/api/IRandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

renaming staticGasCost -> staticGas
  solidity/random-beacon/contracts/ReimbursmentPool.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adding tests for ReimbursmentPool
  solidity/random-beacon/test/ReimbursmentPool.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Uncomment type of the t staking contract in lib
  solidity-v1/dashboard/src/lib/keep/index.js
Due: lint-js-v1, format-dashboard

Remove `iconMeasurements` prop
  solidity-v1/dashboard/src/components/TokenAmount.jsx
  solidity-v1/dashboard/src/components/modal/threshold/StakeOnThreshold.jsx
Due: format-dashboard

Use `List` component in AuthorizeStakeBanner
  solidity-v1/dashboard/src/components/List.jsx
  solidity-v1/dashboard/src/components/threshold/AuthorizeStakesBanner.jsx
Due: format-dashboard

Change import for ThresholdTokenStaking artifact
  solidity-v1/dashboard/src/contracts.js
  solidity-v1/dashboard/src/lib/keep/contracts/index.js
Due: lint-js-v1, format-dashboard

Change hex colors to variables
  solidity-v1/dashboard/src/css/authorize-stakes-banner.less
  solidity-v1/dashboard/src/css/vars.less
Due: format-dashboard

Remove unused `awaitingPromise`
  solidity-v1/dashboard/src/lib/keep/contracts/index.js
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
Due: lint-js-v1, format-dashboard

Change px to rem
  solidity-v1/dashboard/src/css/tooltip.less
Due: format-dashboard

Use better named variables
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
Due: format-dashboard

Refactor `StakeReadyToBeStakedToT` message
  solidity-v1/dashboard/src/components/messages/StakeReadyToBeStakedToT.jsx
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
Due: lint-js-v1, format-dashboard

Use more precise `debugName`
  solidity-v1/dashboard/src/sagas/subscriptions.js
Due: lint-js-v1, format-dashboard

Remove `getThresholdTokenStakingAddress` function
  solidity-v1/dashboard/src/contracts.js
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Due: lint-js-v1, format-dashboard

Refactor threshold authorization service
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Due: lint-js-v1, format-dashboard

Restyle empty state for Threshold Staking table
  solidity-v1/dashboard/src/css/threshold-page.less
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
Due: format-dashboard

Styles improvements
  solidity-v1/dashboard/src/components/DelegatedTokensTable.jsx
  solidity-v1/dashboard/src/components/TopUpsDataTable.jsx
  solidity-v1/dashboard/src/components/coverage-pools/LearnMoreBanner.jsx
  solidity-v1/dashboard/src/components/messages/StakeReadyToBeStakedToT.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/InitiateWithdraw.jsx
  solidity-v1/dashboard/src/components/modal/staking/DelegationAlreadyExists.jsx
  solidity-v1/dashboard/src/components/modal/staking/top-up/TopUpInitiatedConfirmation.jsx
  solidity-v1/dashboard/src/components/modal/tbtc-migration/MigrationCompleted.jsx
  solidity-v1/dashboard/src/components/modal/threshold/StakeOnThreshold.jsx
  solidity-v1/dashboard/src/components/modal/threshold/components/StakeOnThresholdTimeline.jsx
  solidity-v1/dashboard/src/components/threshold/AuthorizeStakesBanner.jsx
  solidity-v1/dashboard/src/components/threshold/ThresholdStakingAuthorizationHistory.jsx
  solidity-v1/dashboard/src/css/address-shortcut.less
  solidity-v1/dashboard/src/css/authorize-stakes-banner.less
  solidity-v1/dashboard/src/css/stake-ready-to-be-staked-to-t.less
  solidity-v1/dashboard/src/css/threshold-page.less
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
Due: format-dashboard

Change title of AuthorizeStakesBanner in one case
  solidity-v1/dashboard/src/components/threshold/AuthorizeStakesBanner.jsx
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
Due: format-dashboard

Change text for view in block explorer
  solidity-v1/dashboard/src/components/ViewInBlockExplorer.jsx
Due: format-dashboard

Add warnings for grant stakes
  solidity-v1/dashboard/src/components/modal/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal/staking/ConfirmDelegation.jsx
  solidity-v1/dashboard/src/components/modal/threshold/ContactYourGrantManagerWarning.jsx
  solidity-v1/dashboard/src/components/threshold/AuthorizeThresholdContracts.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/lib/keep/contracts/index.js
  solidity-v1/dashboard/src/lib/keep/index.js
  solidity-v1/dashboard/src/lib/keep/keep-to-t-staking/index.js
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
  solidity-v1/dashboard/src/pages/delegation/index.js
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
  solidity-v1/dashboard/src/sagas/staking.js
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Due: lint-js-v1, format-dashboard

Move event emit
  solidity/random-beacon/contracts/libraries/BeaconDkg.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Change `contracts` array to `contract` object
  solidity-v1/dashboard/src/components/threshold/AuthorizeStakesBanner.jsx
  solidity-v1/dashboard/src/components/threshold/AuthorizeThresholdContracts.jsx
  solidity-v1/dashboard/src/pages/applications/KeepRandomBeaconApplicationPage.jsx
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
  solidity-v1/dashboard/src/reducers/thresholdAuthorization.js
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Due: lint-js-v1, format-dashboard

Calculate timeouts
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add try/catch to seize in reportUnauthorizedSigning
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

resultSubmissionEligibilityDelay -> resultSubmissionTimeout
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Simplify auth data filter
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
Due: format-dashboard

Replace eligibility with timeout in docs
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/BeaconDkg.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update test
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
