Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Update Wallet test data
  solidity/ecdsa/test/Wallet.test.ts
  solidity/ecdsa/test/WalletFactory.DKG.test.ts
Due: none

Update test case names
  solidity/ecdsa/test/Wallet.test.ts
  solidity/ecdsa/test/WalletFactory.DKG.test.ts
Due: none

Update mocha timeout to 120000 ms
  solidity/ecdsa/hardhat.config.ts
Due: none

Add linting configuration for imports
  solidity/ecdsa/.eslintrc
  solidity/ecdsa/deploy/03_deploy_master_wallet.ts
  solidity/ecdsa/test/Wallet.test.ts
  solidity/ecdsa/test/WalletFactory.DKG.test.ts
  solidity/ecdsa/test/utils/dkg.ts
  solidity/ecdsa/test/utils/groups.ts
  solidity/ecdsa/test/utils/operators.ts
  solidity/ecdsa/test/utils/submission.ts
Due: none

Update challengeDkgResult tests
  solidity/ecdsa/test/WalletFactory.DKG.test.ts
  solidity/ecdsa/test/utils/dkg.ts
  solidity/ecdsa/test/utils/groups.ts
  solidity/ecdsa/test/utils/wallets.ts
Due: none

Remove unnecesary TODO
  solidity-v1/dashboard/src/components/modal/staking/undelegate/components/InfoList.jsx
Due: format-dashboard

Use fromTokenUnit func in validation
  solidity-v1/dashboard/src/components/coverage-pools/WithdrawAmountForm.jsx
Due: format-dashboard

Set default number of signatures in tests to 51
  solidity/ecdsa/test/utils/dkg.ts
Due: none

Ignore BytesLib.sol in slither
  solidity/ecdsa/slither.config.json
Due: none

Push wallet after init
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Add unit tests for dkg result missmatch
  solidity/ecdsa/test/WalletFactory.DKG.test.ts
Due: none

Simplifying value set for memberHash var
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-eslint, lint-config

Adding a return type for hashDKGMembers
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-eslint, lint-config

Set POOL_WEIGHT_DIVISOR
  solidity/ecdsa/deploy/01_deploy_sortition_pool.ts
Due: none

Testing utils hashDKGMembers()
  solidity/random-beacon/test/Utils.test.ts
Due: lint-eslint, lint-config

Store just single wallet reference
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Log deployment of StakingStub
  solidity/ecdsa/deploy/04_deploy_wallet_factory.ts
Due: none

Get wallet address on result submission
  solidity/ecdsa/test/utils/dkg.ts
Due: none

Update unit tests
  solidity/ecdsa/test/Wallet.test.ts
  solidity/ecdsa/test/WalletFactory.DKG.test.ts
  solidity/ecdsa/test/data/ecdsa.ts
  solidity/ecdsa/test/utils/wallets.ts
Due: none

Update contracts for linter
  solidity/ecdsa/contracts/Wallet.sol
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Fix slither problems
  solidity/ecdsa/contracts/WalletFactory.sol
  solidity/ecdsa/contracts/libraries/DKG.sol
Due: lint-sol, lint-sol-v1

Renamed Wallet Manager to Wallet Registry
  solidity/ecdsa/contracts/WalletFactory.sol
  solidity/ecdsa/deploy/06_transfer_wallet_factory_ownership.ts
  solidity/ecdsa/hardhat.config.ts
  solidity/ecdsa/test/WalletFactory.DKG.test.ts
  solidity/ecdsa/test/utils/wallets.ts
Due: lint-sol, lint-sol-v1

Improving tests for hashDKGMembers()
  solidity/random-beacon/test/utils/dkg.test.ts
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-eslint, lint-config

Slashing submitter of a malicious dkg result
  solidity/ecdsa/contracts/WalletFactory.sol
Due: lint-sol, lint-sol-v1

Fix percentage calculations for `Staked` tab
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
Due: format-dashboard

Create `useCurrentDate` hook
  solidity-v1/dashboard/src/components/coverage-pools/PendingWithdrawals.jsx
  solidity-v1/dashboard/src/hooks/useCurrentDate.js
Due: lint-js-v1, format-dashboard

Update status of delegations and undelegations
  solidity-v1/dashboard/src/components/DelegatedTokensTable.jsx
  solidity-v1/dashboard/src/components/Undelegations.jsx
  solidity-v1/dashboard/src/hooks/useUpdateInitializedDelegations.js
  solidity-v1/dashboard/src/hooks/useUpdatePendingUndelegations.js
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
  solidity-v1/dashboard/src/reducers/staking.js
Due: lint-js-v1, format-dashboard

Fix updating staked value after recovering tokens
  solidity-v1/dashboard/src/sagas/subscriptions.js
Due: lint-js-v1, format-dashboard

Refactor displaying percentage
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
Due: format-dashboard

Rename "recover tokens" to "claim tokens"
  solidity-v1/dashboard/src/components/Undelegations.jsx
  solidity-v1/dashboard/src/components/modal/staking/ConfirmRecovering.jsx
  solidity-v1/dashboard/src/constants/tooltips.js
Due: lint-js-v1, format-dashboard

Add Upgrade To T button in modals
  solidity-v1/dashboard/src/components/UpgradeToTButton.jsx
  solidity-v1/dashboard/src/components/modal/staking/ViewTransactionSuccessModal.jsx
  solidity-v1/dashboard/src/components/modal/staking/claim/TokensClaimed.jsx
  solidity-v1/dashboard/src/components/modal/threshold/GrantTokensWithdrawn.jsx
  solidity-v1/dashboard/src/components/threshold/UpgradeTokensTile.jsx
Due: format-dashboard

Claim tokens modal text change
  solidity-v1/dashboard/src/components/modal/staking/ConfirmRecovering.jsx
Due: format-dashboard

Fix readeToRelease value calculation after staking
  solidity-v1/dashboard/src/reducers/token-grant.js
Due: lint-js-v1, format-dashboard

Fix percentage display for less than 1%
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
Due: format-dashboard

Restyle TokenGrantsPage
  solidity-v1/dashboard/src/pages/grants/TokenGrantsPage.jsx
Due: format-dashboard

Remove unnecessary console.log
  solidity-v1/dashboard/src/hooks/useUpdateInitializedDelegations.js
Due: lint-js-v1, format-dashboard

Remove flags from "Staked" tile
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Restyle delegations and undelegations table
  solidity-v1/dashboard/src/components/Chip.jsx
  solidity-v1/dashboard/src/components/DataTable.jsx
  solidity-v1/dashboard/src/components/DelegatedTokensTable.jsx
  solidity-v1/dashboard/src/components/Undelegations.jsx
Due: format-dashboard

Add contracts from Keep Network Random Beacon V2
  solidity/ecdsa/contracts/DKGValidator.sol
  solidity/ecdsa/contracts/libraries/BytesLib.sol
  solidity/ecdsa/contracts/libraries/DKG.sol
  solidity/ecdsa/contracts/libraries/Submission.sol
Due: lint-sol, lint-sol-v1

Use membersHash from DKG Result instead of reading
  solidity/ecdsa/contracts/DKGValidator.sol
  solidity/ecdsa/contracts/libraries/DKG.sol
Due: lint-sol, lint-sol-v1

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
