Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Change accordion heading component name
  solidity-v1/dashboard/src/components/AccordionDefaultItemHeading.jsx
  solidity-v1/dashboard/src/pages/coverage-pools/HowItWorksPage.jsx
Due: format-dashboard

Add classes based on BEM technology
  solidity-v1/dashboard/src/components/AccordionDefaultItemHeading.jsx
  solidity-v1/dashboard/src/css/accordion.less
Due: format-dashboard

Add borders to cov pools accordion
  solidity-v1/dashboard/src/components/AccordionDefaultItemHeading.jsx
  solidity-v1/dashboard/src/css/accordion.less
Due: format-dashboard

Change plus and minus to icons
  solidity-v1/dashboard/src/components/AccordionDefaultItemHeading.jsx
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/css/accordion.less
  solidity-v1/dashboard/src/static/svg/subtract.svg
Due: format-dashboard

Remove h3 tag from children
  solidity-v1/dashboard/src/components/AccordionDefaultItemHeading.jsx
  solidity-v1/dashboard/src/pages/coverage-pools/HowItWorksPage.jsx
Due: format-dashboard

Add bottom margin to accordion
  solidity-v1/dashboard/src/pages/coverage-pools/HowItWorksPage.jsx
Due: format-dashboard

Fix typo in how it works diagram
  solidity-v1/dashboard/src/static/svg/cov-pools-how-it-works-diagram.svg
Due: format-dashboard

Zero out KEEP-only pool APY
  solidity/dashboard/src/components/KeepOnlyPool.jsx
Due: none

Convert the TBTC/ETH pool to a incentives removed
  solidity/dashboard/src/constants/constants.js
  solidity/dashboard/src/pages/liquidity/LiquidityPage.jsx
Due: none

Update KEEP Token Dashboard version to v1.15.3
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
Due: none

Update prd KEEP Token Dashboard deployment to fetch v1.15.3 image
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
Due: none

Minor cleanup: variables renamed, TODOs updated
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Removing duplicated function that counts active groups. Removing .only
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/test/Groups.Termination.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update yarn.lock
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Setting group lifetime to fix existing tests
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Rename slashing events
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Refactor `retryOnEntryTimeout` method
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Check `inactiveMembers.length` before `punishOperators`
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Seize upon relay entry timeout
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/StakingStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix failing `reportRelayEntryTimeout` test
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

TODO about governable punishment duration
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Upgrade sortition pool package
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Upgrade sortition pool package again
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Updating relay entry timeout in Groups lib
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Ban rewards instead of removing from pool
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adding a comment for an empty slot in terminated groups array
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improving docs for terminated groups sortition
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix TODO in `approveDkgResult`
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove `DkgStartFailed` event
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Warming up DKG
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Change checbox to radio button
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
Due: format-dashboard

Remove unnecessary withoutLabel props
  solidity-v1/dashboard/src/components/FormCheckbox.jsx
Due: format-dashboard

Hide fully unlocked and released grants
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Unit tests for DKG warming
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix readeToRelease value calculation after withdraw
  solidity-v1/dashboard/src/reducers/token-grant.js
  solidity-v1/dashboard/src/reducers/tokens-page.reducer.js
Due: lint-js-v1, format-dashboard

Remove unnecessary console.log
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Make Slither happy
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove onSubmit prop from formik form
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
Due: format-dashboard

Change paragraph color to grey-70
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
Due: format-dashboard

Improve styles for one grant
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
Due: format-dashboard
