Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

tBTC reward allocation 2021-10-15 -> 2021-10-22
  solidity-v1/dashboard/src/rewards-allocation/rewards.json
Due: format-dashboard

Use group storage pointer
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add unit tests for popCandidateGroup
  solidity/random-beacon/contracts/test/GroupsStub.sol
  solidity/random-beacon/test/Groups.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix displaying/closing confirmation modal
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/hooks/useModal.js
Due: lint-js-v1, format-dashboard

Extract a common part of `useSetMaxAmountToken` hook
  solidity-v1/dashboard/src/hooks/useSetMaxAmountToken.js
Due: lint-js-v1, format-dashboard

Create a `useAddAmountFormik` hook
  solidity-v1/dashboard/src/hooks/useAddAmountFormik.js
Due: lint-js-v1, format-dashboard

Use the new modal API for KEEP-only pool modals
  solidity-v1/dashboard/src/components/KeepOnlyPool.jsx
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal-component/liquidity/index.js
  solidity-v1/dashboard/src/components/modal-component/liquidity/keep-only/AddKeep.jsx
  solidity-v1/dashboard/src/components/modal-component/liquidity/keep-only/WithdrawKeep.jsx
  solidity-v1/dashboard/src/components/modal-component/liquidity/keep-only/components/AmountTile.jsx
  solidity-v1/dashboard/src/components/modal-component/liquidity/keep-only/components/index.js
  solidity-v1/dashboard/src/components/modal-component/liquidity/keep-only/index.js
  solidity-v1/dashboard/src/constants/constants.js
Due: lint-js-v1, format-dashboard

Remove an ExampleModal
  solidity-v1/dashboard/src/components/modal-component/ExampleModal.jsx
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal-component/index.js
  solidity-v1/dashboard/src/constants/constants.js
Due: lint-js-v1, format-dashboard

Add groups verification to RandomBeacon tests
  solidity/random-beacon/test/RandomBeacon.DKG.test.ts
Due: lint-eslint, lint-config

Expose getGroupsRegistry in RandomBeacon
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add await to expect event checks
  solidity/random-beacon/test/Groups.test.ts
Due: lint-eslint, lint-config

Rename RandomBeacon-DKG to RandomBeacon-GroupCreation
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Remove RandomBeacon.Groups.ts
  solidity/random-beacon/test/RandomBeacon.Groups.ts
Due: lint-eslint, lint-config

User zero address from ethers constants
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/functions/index.ts
Due: lint-eslint, lint-config

Improve error messages
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/test/Groups.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use the new modal API for all staking modals
  solidity-v1/dashboard/src/components/RecoverStakeButton.jsx
  solidity-v1/dashboard/src/components/UndelegateStakeButton.jsx
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/ConfirmCancelDelegationFromGrant.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/ConfirmDelegation.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/ConfirmRecovering.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/ConfirmUndelegation.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/index.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/pages/delegation/index.js
Due: lint-js-v1, format-dashboard

Use the new modal API for CopyStake modal
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/CopyStake.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/index.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/css/copy-stake-page.less
  solidity-v1/dashboard/src/pages/delegation/index.js
Due: lint-js-v1, format-dashboard

Update Callback tests after merge
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/utils/dkg.ts
  solidity/random-beacon/test/utils/groups.ts
Due: lint-eslint, lint-config

Use the new modal API in tbtc v2 migration
  solidity-v1/dashboard/src/components/Modal.jsx
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal-component/tbtc-migration/ConfirmMigration.jsx
  solidity-v1/dashboard/src/components/modal-component/tbtc-migration/MigrationCompleted.jsx
  solidity-v1/dashboard/src/components/modal-component/tbtc-migration/index.js
  solidity-v1/dashboard/src/components/tbtc-migration/ConfirmMigrationModal.jsx
  solidity-v1/dashboard/src/components/tbtc-migration/MigrationCompletedModal.jsx
  solidity-v1/dashboard/src/components/tbtc-migration/MigrationPortalForm.jsx
  solidity-v1/dashboard/src/components/tbtc-migration/index.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/lib/keep/contracts/index.js
  solidity-v1/dashboard/src/pages/tbtc-migration/TokenUpgradePortalPage.jsx
  solidity-v1/dashboard/src/sagas/tbtc-migration.js
Due: lint-js-v1, format-dashboard

WIP misbehaved bits
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/GroupsStub.sol
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Change misbehaved from bytes to uint8[]
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/GroupsStub.sol
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix docs indentation
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improve docs about group members
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update order of group storing actions
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improve TODO for revert message
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Slice signers instead of filter
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Adjustments after resolving merge conflicts
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove unused data/group.ts
  solidity/random-beacon/test/data/group.ts
Due: lint-eslint, lint-config

Remove obsolete Solhint exception
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Minor relay tests adjustments
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Change members type from address[] to uint32[]
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/GroupsStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add @keep-network/sortition-pools dependency
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Add SortitionTree to SortitionPoolStub
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adjust to upstream sortition pool updates
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Method renames
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use sortition pool in DKG and Relay libraries
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update tests to support members ids
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/utils/dkg.ts
  solidity/random-beacon/test/utils/groups.ts
  solidity/random-beacon/test/utils/sortitionpool.ts
Due: lint-eslint, lint-config

Add tests covering changes related to pool
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add `yarn clean` command
  solidity/random-beacon/package.json
Due: lint-eslint, lint-config

Remove `.only` from test case
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
Due: lint-eslint, lint-config

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
