Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Drafting changes in the install.sh script to work on Geth
  scripts/install.sh
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/scripts/unlock-eth-accounts.ts
Due: lint-eslint, lint-config

Updated Go version from 1.16 to 1.18
  Dockerfile
  go.mod
  go.sum
Due: none

Update go-ethereum to v1.10.19
  go.mod
Due: none

Update directories structure
  .gitignore
  pkg/chain/common/gen/Makefile
  pkg/chain/ecdsa/gen/Makefile
  pkg/chain/ecdsa/gen/abi/.keep
  pkg/chain/ecdsa/gen/cmd/cmd.go
  pkg/chain/ecdsa/gen/contract/.keep
  pkg/chain/ecdsa/gen/gen.go
  pkg/chain/random-beacon/gen/Makefile
  pkg/chain/random-beacon/gen/abi/.keep
  pkg/chain/random-beacon/gen/cmd/cmd.go
  pkg/chain/random-beacon/gen/contract/.keep
  pkg/chain/random-beacon/gen/gen.go
  pkg/chain/tbtc-v2/gen/Makefile
  pkg/chain/tbtc-v2/gen/_solidity/package.json
  pkg/chain/tbtc-v2/gen/_solidity/yarn.lock
  pkg/chain/tbtc-v2/gen/abi/.keep
  pkg/chain/tbtc-v2/gen/cmd/cmd.go
  pkg/chain/tbtc-v2/gen/contract/.keep
  pkg/chain/tbtc-v2/gen/gen.go
  pkg/chain/threshold-network/gen/Makefile
  pkg/chain/threshold-network/gen/_solidity/package.json
  pkg/chain/threshold-network/gen/_solidity/yarn.lock
  pkg/chain/threshold-network/gen/abi/.keep
  pkg/chain/threshold-network/gen/cmd/cmd.go
  pkg/chain/threshold-network/gen/contract/.keep
  pkg/chain/threshold-network/gen/gen.go
  pkg/chain/v2/.gitignore
Due: none

Mark legacy V1 directories
  pkg/chain/ethereum/_LEGACY_V1
  pkg/chain/gen/_LEGACY_V1
  pkg/chain/local/_LEGACY_V1
Due: none

Update keep-common dependency version
  go.mod
  go.sum
Due: none

Adding initialization of contracts
  scripts/install.sh
Due: none

T stake and increasing authorization
  solidity/random-beacon/scripts/init-contracts.ts
Due: lint-eslint, lint-config

Linting unlocking eth account script
  solidity/random-beacon/scripts/unlock-eth-accounts.ts
Due: lint-eslint, lint-config

Additional configs for ts in /scripts & .gitignore
  .gitignore
  solidity/random-beacon/tsconfig.json
Due: lint-eslint, lint-config

Redefine the operator key
  pkg/chain/ethereum/key.go
  pkg/net/key/key.go
  pkg/net/key/key_test.go
  pkg/net/libp2p/key.go
  pkg/operator/key.go
  pkg/operator/key_celo.go
  pkg/operator/key_ethereum.go
  pkg/operator/key_test.go
Due: none

Ignoring /deployments at the /random-beacon level
  .gitignore
  solidity/random-beacon/.gitignore
Due: lint-eslint, lint-config

Modifying install.sh
  scripts/install.sh
Due: none

Use go install instead of go get
  .github/workflows/client.yml
  Dockerfile
Due: none

Added package golang.org/x/tools/internal/imports@v0.1.1
  Dockerfile
  go.mod
  go.sum
Due: none

Adjust the `start` command
  cmd/start.go
Due: none

Make `libp2p.Connect` accepting the operator key
  pkg/net/libp2p/libp2p.go
Due: none

Function `Provider.CreateTransportIdentifier` should accept the operator key
  pkg/net/libp2p/libp2p.go
  pkg/net/net.go
Due: none

Function `ConnectionManager.GetPeerPublicKey` should return an operator public key
  pkg/net/libp2p/libp2p.go
  pkg/net/net.go
Due: none

Broadcast channel filter should use operator keys
  pkg/beacon/relay/group/membership_validator.go
  pkg/net/libp2p/channel.go
  pkg/net/net.go
Due: none

ECDSA: Improve validation of new wallet's public key
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
  solidity/ecdsa/contracts/test/WalletRegistryStub.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MisplacedNewSlot.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MissingSlot.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: lint-sol, lint-sol-v1

Firewall should use operator keys
  pkg/firewall/firewall.go
  pkg/net/net.go
  pkg/operator/key.go
Due: none

Adjust the watchtower code
  pkg/net/watchtower/watchtower.go
Due: none

Adjust the authenticated connection code
  pkg/net/libp2p/authenticated_connection.go
Due: none

Fix number of runs for tests and the corressponding array slices
  test/CumulativeMerkle.test.js
Due: none

Add test for batch arrays of different sizes
  contracts/CumulativeMerkleDrop.sol
  test/CumulativeMerkle.test.js
Due: lint-sol, lint-sol-v1

Run batch tests multiple times to assess gas usage
  test/CumulativeMerkle.test.js
Due: none

Add two functions for batching claims via structs and arrays
  contracts/CumulativeMerkleDrop.sol
  test/CumulativeMerkle.test.js
Due: lint-sol, lint-sol-v1

Finish batch claim function when using arrays
  contracts/CumulativeMerkleDrop.sol
Due: lint-sol, lint-sol-v1

Add first test for batch claiming tokens
  test/CumulativeMerkle.test.js
Due: none

Finish batch claim function using Structs
  contracts/CumulativeMerkleDrop.sol
  test/CumulativeMerkle.test.js
Due: lint-sol, lint-sol-v1

Remove batch claiming via 2d array
  contracts/CumulativeMerkleDrop.sol
  test/CumulativeMerkle.test.js
Due: lint-sol, lint-sol-v1

Adjust libp2p broadcast channel sender key processing
  pkg/net/libp2p/channel.go
  pkg/operator/key.go
Due: none

Beacon: Improve validation of new group's public key
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/GroupsStub.sol
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adjust libp2p unicast channel sender key processing
  pkg/net/libp2p/unicast_channel.go
Due: none

Switch `net/local` to use the operator key
  pkg/net/local/broadcast_channel.go
  pkg/net/local/broadcast_channel_manager.go
  pkg/net/local/identity.go
  pkg/net/local/local.go
  pkg/net/local/unicast_channel.go
  pkg/net/local/unicast_channel_manager.go
  pkg/operator/key.go
Due: none

`StakeMonitor` should accept operator public key
  pkg/chain/chain.go
  pkg/chain/ethereum/key.go
  pkg/chain/ethereum/stake_monitor.go
  pkg/chain/local/stake_monitor.go
Due: none

Defaulting skip-* flags to true
  scripts/install.sh
Due: none

ignoring /deployments -> deployments/
  solidity/random-beacon/.gitignore
Due: lint-eslint, lint-config

Removing @typescript-eslint/no-unused-expressions
  solidity/random-beacon/scripts/init-contracts.ts
Due: lint-eslint, lint-config

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
