Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Adjust all wallet modals to the new modal API
  solidity-v1/dashboard/src/components/ExplorerModeModal.jsx
  solidity-v1/dashboard/src/components/LedgerModal.jsx
  solidity-v1/dashboard/src/components/MetaMaskModal.jsx
  solidity-v1/dashboard/src/components/TrezorModal.jsx
  solidity-v1/dashboard/src/components/WalletConnectModal.jsx
  solidity-v1/dashboard/src/components/WalletOptions.jsx
  solidity-v1/dashboard/src/components/WalletSelectionModal.jsx
  solidity-v1/dashboard/src/components/modal-component/wallets/ExplorerModeModal.jsx
  solidity-v1/dashboard/src/components/modal-component/wallets/LedgerModal.jsx
  solidity-v1/dashboard/src/components/modal-component/wallets/MetaMaskModal.jsx
  solidity-v1/dashboard/src/components/modal-component/wallets/SelectedWalletModal.jsx
  solidity-v1/dashboard/src/components/modal-component/wallets/TrezorModal.jsx
  solidity-v1/dashboard/src/components/modal-component/wallets/WalletConnectModal.jsx
  solidity-v1/dashboard/src/components/modal-component/wallets/WalletSelectionModal.jsx
  solidity-v1/dashboard/src/components/modal-component/wallets/index.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/hooks/useAutoConnect.js
  solidity-v1/dashboard/src/hooks/useSubscribeToConnectorEvents.js
Due: lint-js-v1, format-dashboard

Adding config for tests and TS tests
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Callback.sol
  solidity/random-beacon/contracts/test/CallbackContractStub.sol
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Define group ID as uint64
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add stub functions to select and get group by ID
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Emit PendingGroupRegistered event
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update TODO comments
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add unit tests for Groups.addPendingGroup
  solidity/random-beacon/contracts/test/TestGroups.sol
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update README.md
  README.md
Due: none

rename
  contracts/SignatureMerkleDrop128.sol
  contracts/interfaces/ISignatureMerkleDrop128.sol
  test/SignatureMerkleDrop128.test.js
Due: lint-sol, lint-sol-v1

update package.json
  package.json
Due: none

Adapt `DelegationAlreadyExists` modal to the new API
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/DelegationAlreadyExists.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/index.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/pages/delegation/index.js
Due: lint-js-v1, format-dashboard

Remove mocha timeout
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Move relay seed initialization to `Relay` library
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Introduce `setTToken` setter
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename `TestRelay` to `RelayStub`
  solidity/random-beacon/contracts/test/RelayStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Check eligibility before entry verification
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix failing relay tests
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add `@dev` to `getEligibilityRange`
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add note about `firstEligibleIndex > lastEligibleIndex`
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Simplify `isEligible`
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename `currentMaintenancePoolBalance` in tests
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Clarify the first eligible member index in tests
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Refactor T token initialization
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add tests for flagged index
  solidity/random-beacon/contracts/test/TestGroups.sol
  solidity/random-beacon/test/Groups.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add tests for misbehaved members filtering
  solidity/random-beacon/test/Groups.test.ts
Due: lint-eslint, lint-config

Move `RelayStub` fixture to relay tests
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Relay timeout reporting and refactoring
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Emit `RelayEntryTimedOut`
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove obsolete TODO about storing group
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Make Slither happy
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rework punished members list
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add tests for activateGroup
  solidity/random-beacon/test/Groups.test.ts
Due: lint-eslint, lint-config

Emit GroupActivated event
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/TestGroups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Create not staked tile
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
  solidity-v1/dashboard/src/components/threshold/UpgradeTokensTile.jsx
  solidity-v1/dashboard/src/css/allocation-progress-bar.less
  solidity-v1/dashboard/src/css/app.less
  solidity-v1/dashboard/src/css/threshold-page.less
  solidity-v1/dashboard/src/css/upgrade-tokens-tile.less
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Removing request with no callback
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Linting
  solidity/random-beacon/contracts/libraries/Callback.sol
  solidity/random-beacon/contracts/test/CallbackContractStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Simplify groups data registration
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/contracts/test/TestGroups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add function to remove pending group
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/TestGroups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Make a mock sortition pool removal
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Converting bytes->uint256 for submitRelayEntry()
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/data/bls.ts
  solidity/random-beacon/test/functions/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1
