Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Add Threshold to Application page
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
  solidity-v1/dashboard/src/pages/applications/index.js
Due: lint-js-v1, format-dashboard

Update dashboard testnet GH workflow
  .github/workflows/dashboard-v1-testnet.yml
Due: none

Drafting functionality which updates gov. params
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1

Create Authorization and Threshold staking tables
  solidity-v1/dashboard/src/components/DataTable.jsx
  solidity-v1/dashboard/src/components/threshold/AuthorizeThresholdContracts.jsx
  solidity-v1/dashboard/src/components/threshold/ThresholdStakingAuthorizationHistory.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/contracts.js
  solidity-v1/dashboard/src/lib/keep/contracts/index.js
  solidity-v1/dashboard/src/lib/keep/index.js
  solidity-v1/dashboard/src/lib/keep/keep-to-t-staking/index.js
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Due: lint-js-v1, format-dashboard

Add a possibility to stake legacy Keep to T
  solidity-v1/dashboard/src/actions/keep-to-t-staking.js
  solidity-v1/dashboard/src/components/threshold/AuthorizeThresholdContracts.jsx
  solidity-v1/dashboard/src/components/threshold/ThresholdStakingAuthorizationHistory.jsx
  solidity-v1/dashboard/src/lib/keep/keep-to-t-staking/index.js
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
  solidity-v1/dashboard/src/sagas/index.js
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Due: lint-js-v1, format-dashboard

Fix laoding threshold auth data
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
Due: format-dashboard

Imrpove threshold authorization table styles
  solidity-v1/dashboard/src/components/StatusBadge.jsx
  solidity-v1/dashboard/src/components/threshold/AuthorizeThresholdContracts.jsx
  solidity-v1/dashboard/src/components/threshold/ThresholdStakingAuthorizationHistory.jsx
  solidity-v1/dashboard/src/css/buttons.less
Due: format-dashboard

Install react-tooltip package
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Connect modal flow to the buttons
  solidity-v1/dashboard/src/actions/keep-to-t-staking.js
  solidity-v1/dashboard/src/components/modal/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal/threshold/StakeOnThreshold.jsx
  solidity-v1/dashboard/src/components/threshold/AuthorizeThresholdContracts.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/css/tooltip.less
  solidity-v1/dashboard/src/lib/keep/keep-to-t-staking/index.js
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
  solidity-v1/dashboard/src/sagas/subscriptions.js
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Due: lint-js-v1, format-dashboard

Remove react-tooltip package
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Remove Bonded badges
  solidity-v1/dashboard/src/components/DelegatedTokensTable.jsx
  solidity-v1/dashboard/src/components/Undelegations.jsx
Due: format-dashboard

Renaming params->dkgParams
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/ecdsa/test/utils/wallets.ts
Due: none

Adding more gov params
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: lint-sol, lint-sol-v1

Updating the list of standard gov params
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1

Slithering
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

tBTC reward allocation 2021-12-21 -> 2022-01-22
  solidity-v1/dashboard/src/rewards-allocation/rewards.json
Due: format-dashboard

Ignore external directory in git and prettier
  solidity-v1/dashboard/.gitignore
  solidity-v1/dashboard/.prettierignore
Due: format-dashboard

Save threshold authorization data to redux store
  solidity-v1/dashboard/src/actions/index.js
  solidity-v1/dashboard/src/actions/keep-to-t-staking.js
  solidity-v1/dashboard/src/components/threshold/AuthorizeThresholdContracts.jsx
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
  solidity-v1/dashboard/src/reducers/index.js
  solidity-v1/dashboard/src/reducers/thresholdAuthorization.js
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
Due: lint-js-v1, format-dashboard

deploy qr-drop-2
  deploy/deploy_qr_2.js
  deployments/mainnet/MerkleDrop128-2.json
Due: none

Add proper modal window for stake without auth
  solidity-v1/dashboard/src/components/modal/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal/threshold/StakeOnThreshold.jsx
  solidity-v1/dashboard/src/components/threshold/AuthorizeThresholdContracts.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
Due: lint-js-v1, format-dashboard

Update the tBTC rewards page
  solidity-v1/dashboard/src/pages/rewards/TBTCRewardsPage.jsx
  solidity-v1/dashboard/src/services/rewards.js
  solidity-v1/dashboard/src/utils/rewardsHelper.js
Due: lint-js-v1, format-dashboard

Add `dev` tag to the published npm package
  .github/workflows/npm-v1.yml
Due: none

Update `keep-core` and `tbtc` dependencies
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Remove unnecessary console log
  solidity-v1/dashboard/src/sagas/subscriptions.js
Due: lint-js-v1, format-dashboard

Fix `Stake` button tooltip
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/components/threshold/AuthorizeThresholdContracts.jsx
  solidity-v1/dashboard/src/css/tooltip.less
  solidity-v1/dashboard/src/static/svg/alert-fill.svg
Due: format-dashboard

Add tooltip to set up pre button
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/components/threshold/ThresholdStakingAuthorizationHistory.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/css/tooltip.less
  solidity-v1/dashboard/src/static/svg/arrow-top-right.svg
  solidity-v1/dashboard/src/static/svg/question-fill.svg
Due: lint-js-v1, format-dashboard

Add tooltip to `Missing stake confirmation` status
  solidity-v1/dashboard/src/components/StatusBadge.jsx
  solidity-v1/dashboard/src/components/threshold/ThresholdStakingAuthorizationHistory.jsx
  solidity-v1/dashboard/src/css/tooltip.less
Due: format-dashboard

Add loading modals to Threshold auth and stake
  solidity-v1/dashboard/src/components/modal/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal/threshold/ThresholdLoadingModal.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/css/app.less
  solidity-v1/dashboard/src/css/threshold-loading-modal.less
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
Due: lint-js-v1, format-dashboard

Add grant tokens and wallet tokens labels
  solidity-v1/dashboard/src/components/threshold/AuthorizeThresholdContracts.jsx
  solidity-v1/dashboard/src/components/threshold/ThresholdStakingAuthorizationHistory.jsx
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Due: lint-js-v1, format-dashboard

Add new label to applications -> threshold page
  solidity-v1/dashboard/src/components/Header.jsx
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
  solidity-v1/dashboard/src/pages/applications/index.js
Due: lint-js-v1, format-dashboard

Add threshold authorize banner
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/components/threshold/AuthorizeStakesBanner.jsx
  solidity-v1/dashboard/src/css/app.less
  solidity-v1/dashboard/src/css/authorize-stakes-banner.less
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
  solidity-v1/dashboard/src/static/svg/earn-threshold-tokens.svg
  solidity-v1/dashboard/src/static/svg/money.svg
Due: format-dashboard

Add dynamic number of available to authorize stakes
  solidity-v1/dashboard/src/components/threshold/AuthorizeStakesBanner.jsx
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
Due: format-dashboard

Ad exchange rate to t authorization banner
  solidity-v1/dashboard/src/components/modal/threshold/StakeOnThreshold.jsx
  solidity-v1/dashboard/src/components/threshold/AuthorizeStakesBanner.jsx
  solidity-v1/dashboard/src/utils/stake-to-t.utils.js
Due: lint-js-v1, format-dashboard

Add `fromThresholdTokenAmount` function to utils
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
  solidity-v1/dashboard/src/utils/stake-to-t.utils.js
Due: lint-js-v1, format-dashboard

Revert "Renaming params->dkgParams"
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/ecdsa/test/utils/wallets.ts
Due: none

Renames and cleanup around dkgParameters()
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Adding doc for a 'delay' param in onlyAfterGovernanceDelay()
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1
