Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Detach DKG result submission from the v1 contract
  pkg/chain/ethereum/connect.go
  pkg/chain/ethereum/ethereum.go
Due: none

Remove the last parts related with ticket submission
  pkg/beacon/relay/event/event.go
  pkg/chain/local/local_test.go
  pkg/gen/async.go
  pkg/gen/async/event_group_ticket_submission_promise.go
Due: none

Update @threshold-network/solidity-contracts dependency
  solidity/ecdsa/yarn.lock
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Moved go-libp2p-bootstrap under keep-core
  go.mod
  go.sum
  pkg/net/bootstrap/bootstrap.go
  pkg/net/bootstrap/bootstrap_test.go
  pkg/net/libp2p/libp2p.go
Due: none

Renamed varaiables
  pkg/net/libp2p/key.go
  pkg/net/libp2p/key_test.go
Due: none

Improved error descriptions
  pkg/net/libp2p/key.go
Due: none

Added explanatory comments for type conversions
  pkg/net/libp2p/key_test.go
Due: none

Splitting install.sh to installation part and initialization part
  scripts/initialize.sh
  scripts/install.sh
  solidity/random-beacon/tasks/staking.ts
Due: lint-eslint, lint-config

Removing pre-install.sh
  scripts/pre-install.sh
Due: none

Removing install-celo.sh. We do not support it.
  scripts/install-celo.sh
Due: none

Add configuration of development network
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Update @threshold-network/solidity-contracts dependency
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Adding additional network param and cleanup
  scripts/initialize.sh
  scripts/install.sh
  solidity/random-beacon/tasks/staking.ts
Due: lint-eslint, lint-config

Staking operator -> operator & staking.ts -> stake.ts
  scripts/initialize.sh
  scripts/install.sh
  solidity/random-beacon/tasks/index.ts
  solidity/random-beacon/tasks/stake.ts
Due: lint-eslint, lint-config

Cleaning local cache in yarn clean'
  scripts/install.sh
  solidity/random-beacon/package.json
Due: lint-eslint, lint-config

Linting
  solidity/random-beacon/tasks/stake.ts
Due: lint-eslint, lint-config

Integrate mock group selection
  pkg/beacon/relay/chain/chain.go
  pkg/beacon/relay/node.go
  pkg/chain/ethereum/ethereum.go
  pkg/chain/local/local.go
  pkg/chain/staker.go
Due: none

Moved bootstrap functionalities under libp2p package
  pkg/net/libp2p/bootstrap.go
  pkg/net/libp2p/bootstrap_test.go
  pkg/net/libp2p/libp2p.go
Due: none

Updating yarn.lock after bumping hardhat-deploy to ^0.11.10
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Rename local tag to allowStubs
  solidity/ecdsa/hardhat.config.ts
Due: none

Update @keep-network/random-beacon dependency to the latest
  solidity/ecdsa/yarn.lock
Due: none

Update @threshold-network/solidity-contracts dependency
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Resolving merge conflicts for the development env
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Updated go modules
  go.mod
  go.sum
Due: none

Fixed linting errors
  pkg/net/libp2p/bootstrap.go
  pkg/net/libp2p/bootstrap_test.go
  pkg/net/libp2p/libp2p.go
Due: none

Fixed gosec issue
  pkg/net/libp2p/bootstrap.go
Due: none

Remove obsolete deduplicator tests
  pkg/beacon/relay/event/deduplicator_test.go
Due: none

Bump up @threshold-network/solidity-contracts version
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Cache only approved groups
  pkg/beacon/relay/registry/groups.go
Due: none

Additional logging around DKG trigger
  pkg/beacon/relay/node.go
Due: none

Replacing Keep -> T and modifying docs around install scripts
  docs/development/README.adoc
  docs/development/local-t-network.adoc
Due: none

Adding info around default values
  docs/development/README.adoc
Due: none

Trigger DKG loop every 500th block
  pkg/chain/ethereum/ethereum.go
Due: none

Return to 64 group members
  pkg/chain/ethereum/connect.go
Due: none

Return after group registration error
  pkg/beacon/relay/node.go
Due: none

Add mainnet deployment config
  deploy/deploy.js
  hardhat.config.js
  hardhat.networks.js
Due: none

Removed unicast channel functionality
  pkg/net/gen/pb/message.pb.go
  pkg/net/gen/pb/message.proto
  pkg/net/libp2p/channels_fuzzing_test.go
  pkg/net/libp2p/libp2p.go
  pkg/net/libp2p/signing.go
  pkg/net/libp2p/signing_test.go
  pkg/net/libp2p/unicast_channel.go
  pkg/net/libp2p/unicast_channel_manager.go
  pkg/net/libp2p/unicast_channel_test.go
  pkg/net/local/local.go
  pkg/net/local/unicast_channel.go
  pkg/net/local/unicast_channel_manager.go
  pkg/net/local/unicast_channel_test.go
  pkg/net/net.go
Due: none

Use export-artifacts --including-no-public-functions
  solidity/ecdsa/package.json
  solidity/random-beacon/package.json
Due: lint-eslint, lint-config

Add parameter to constructor to set the owner of the contract
  contracts/CumulativeMerkleDrop.sol
  test/CumulativeMerkle.test.js
Due: lint-sol, lint-sol-v1

Fix candidate group storage
  pkg/beacon/relay/registry/storage.go
Due: none
