Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

WalletRegistryV2Invalid -> WalletRegistryV2MisplacedNewSlot
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MisplacedNewSlot.sol
  solidity/ecdsa/test/WalletRegistry.Upgrade.test.ts
Due: lint-sol, lint-sol-v1

Update ProxyAdminWithDeputy deployment script
  solidity/ecdsa/deploy/10_deploy_proxy_admin_with_deputy.ts
Due: none

Fix test names for WalletRegistryGovernance
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: none

Docs improvement
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/hardhat.config.ts
Due: lint-sol, lint-sol-v1

Fix test name for upgrades
  solidity/ecdsa/test/WalletRegistry.Upgrade.test.ts
Due: none

Set gap in EcdsaDkg to 38
  solidity/ecdsa/contracts/libraries/EcdsaDkg.sol
Due: lint-sol, lint-sol-v1

Pad seed with zeros in tests
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/utils/groups.ts
Due: lint-eslint, lint-config

FIxing typo groupSize4->groupSize
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Removing a script definition for checking hardhat accounts number
  solidity/random-beacon/package.json
Due: lint-eslint, lint-config

Add diagram docummenting contracts interactions in v2
  docs/.gitignore
  docs/system-flow.png
  docs/system-flow.tikz
Due: none

Fix scripts after moving `docs` to `docs-v1`
  .github/workflows/docs.yml
Due: none

Update system diagram
  docs/system-flow.png
  docs/system-flow.tikz
Due: none

Added system diagram to ECDSA Readme
  solidity/ecdsa/README.adoc
  solidity/ecdsa/system-diagram.png
Due: none

Update comments
  docs/system-flow.tikz
Due: none

Move RFC-19 do `./docs/rfc`
  docs/rfc/rfc-19-random-beacon-v2.adoc
Due: none

Remove unnecesary comment
  solidity/ecdsa/deploy/02_deploy_reimbursement_pool.ts
Due: none

Remove not needed ProxyAdmin type import
  solidity/ecdsa/deploy/10_deploy_proxy_admin_with_deputy.ts
Due: none

Update @keep-network/hardhat-helpers to 0.5.1
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Update hardhat-gas-reporter to 1.0.8
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

gitignore deployments artifact for hardhat network
  solidity/ecdsa/.gitignore
Due: none

Add more tests for WalletRegistry deployment
  solidity/ecdsa/test/WalletRegistry.Deployment.test.ts
Due: none

Update @threshold-network/solidity-contracts to 1.2.0-dev.6
  solidity/ecdsa/yarn.lock
Due: none

Workaround bug #86 in hardhat-gas-reporter
  solidity/ecdsa/README.adoc
  solidity/ecdsa/deploy/02_deploy_reimbursement_pool.ts
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
  solidity/ecdsa/deploy/09_transfer_proxy_admin_ownership.ts
  solidity/ecdsa/package.json
  solidity/ecdsa/test/WalletRegistry.Deployment.test.ts
  solidity/ecdsa/test/WalletRegistry.Upgrade.test.ts
Due: none

Define check accounts count as a separate task
  solidity/ecdsa/hardhat.config.ts
Due: none

Export WalletRegistryStub in the npm package
  solidity/ecdsa/package.json
Due: none

Code improvements
  docs/system-flow.png
  docs/system-flow.tikz
Due: none

Move diagrams to `./docs/diagrams/`
  docs/diagrams/system-flow.png
  docs/diagrams/system-flow.tikz
Due: none

Start keep-core version 1.9.0
  solidity-v1/package-lock.json
  solidity-v1/package.json
Due: none

Define maxGasPrice without ethers
  solidity/ecdsa/deploy/02_deploy_reimbursement_pool.ts
Due: none

User yarn test in script
  solidity/ecdsa/package.json
Due: none

Workaround hardhat-gas-reporter bug with removing --deploy-fixture
  solidity/ecdsa/README.adoc
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
  solidity/ecdsa/deploy/09_transfer_proxy_admin_ownership.ts
  solidity/ecdsa/package.json
  solidity/ecdsa/test/WalletRegistry.Deployment.test.ts
  solidity/ecdsa/test/WalletRegistry.Upgrade.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Move ReimbursementPool deployment to random-beacon project
  solidity/random-beacon/deploy/01_deploy_reimbursement_pool.ts
Due: lint-eslint, lint-config

Use ReimbursementPool from random-beacon in ecdsa
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
  solidity/ecdsa/hardhat.config.ts
Due: none

Update prefixes in ecdsa deployment scripts
  solidity/ecdsa/deploy/02_deploy_dkg_validator.ts
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
  solidity/ecdsa/deploy/04_approve_wallet_registry.ts
  solidity/ecdsa/deploy/05_authorize_wallet_registry.ts
  solidity/ecdsa/deploy/06_deploy_wallet_registry_governance.ts
  solidity/ecdsa/deploy/07_transfer_governance.ts
  solidity/ecdsa/deploy/08_transfer_proxy_admin_ownership.ts
  solidity/ecdsa/deploy/09_deploy_proxy_admin_with_deputy.ts
Due: none

Deploy SortitionPool in ecdsa as EcdsaSortitionPool
  solidity/ecdsa/deploy/01_deploy_ecdsa_sortition_pool.ts
  solidity/ecdsa/deploy/02_deploy_dkg_validator.ts
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Don't transfer ProxyAdmin ownership if already done
  solidity/ecdsa/deploy/08_transfer_proxy_admin_ownership.ts
Due: none

Updated @openzeppelin/contracts-upgradeable to 4.6.0
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: lint-sol, lint-sol-v1

Removed @openzeppelin/contracts dependency from ECDSA module
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Updated @threshold-network/solidity-contract to use 'development' tag
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none
