Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Refunding ETH to submitter for dkg result and approval
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/utils/dkg.ts
  solidity/random-beacon/contracts/Reimbursable.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Implemented involuntaryAuthorizationDecrease for WalletRegistry
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: lint-sol, lint-sol-v1

Make slither no longer complain about function shadowing
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
Due: lint-sol, lint-sol-v1

Fixed unit test for isOperatorUpToDate
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Testing Reimbursable
  solidity/random-beacon/contracts/Reimbursable.sol
  solidity/random-beacon/contracts/test/ReimbursableImplStub.sol
  solidity/random-beacon/test/Reimbursable.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Emit events from joinSortitionPool and updateOperatorStatus
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: lint-sol, lint-sol-v1

s/onlyTokenStaking/onlyStakingContract
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Rename notifyWalletCreated to notifyEcdsaWalletCreated
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/api/IWalletOwner.sol
  solidity/ecdsa/test/WalletRegistry.WalletOwner.test.ts
Due: lint-sol, lint-sol-v1

Cleared linter warnings in ECDSA authorizations unit tests
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: none

Fix unit tests
  solidity/ecdsa/test/WalletRegistry.Parameters.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: none

Emit events before calling external contracts in ECDSA authorization
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
Due: lint-sol, lint-sol-v1

Ignore slither reentrancy-events
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Renaming event and fixing test
  solidity/random-beacon/contracts/ReimbursmentPool.sol
  solidity/random-beacon/test/ReimbursmentPool.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adding reimbursements in random beacon
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Include public key in callback function
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/api/IWalletOwner.sol
  solidity/ecdsa/test/WalletRegistry.WalletOwner.test.ts
Due: lint-sol, lint-sol-v1

Remove unused code
  solidity/ecdsa/test/WalletRegistry.WalletOwner.test.ts
Due: none

notifyEcdsaWalletCreated -> __ecdsaWalletCreatedCallback
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/api/IWalletOwner.sol
  solidity/ecdsa/test/WalletRegistry.WalletOwner.test.ts
Due: lint-sol, lint-sol-v1

Fixing event names for contract authorization
  solidity/random-beacon/contracts/ReimbursmentPool.sol
  solidity/random-beacon/test/ReimbursmentPool.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Don't try/catch error from the wallet created callback
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.WalletOwner.test.ts
Due: lint-sol, lint-sol-v1

Expect interface instead of address in functions params
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1

Remove not needed lines
  solidity/ecdsa/test/WalletRegistry.WalletOwner.test.ts
Due: none

Remove redundant check
  solidity/ecdsa/test/WalletRegistry.WalletOwner.test.ts
Due: none

Store uncompressed public key
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
Due: lint-sol, lint-sol-v1

Define IWalletRegistry interface
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/api/IWalletRegistry.sol
Due: lint-sol, lint-sol-v1

Remove unused ECDSA library reference
  solidity/ecdsa/contracts/libraries/Wallets.sol
Due: lint-sol, lint-sol-v1

Update tests after publicKeyHash -> walletID rename
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletOwner.test.ts
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/ecdsa/test/utils/wallets.ts
Due: none

Expose getWalletPublicKey funtion
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
Due: lint-sol, lint-sol-v1

Add tests for wallets public key
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
  solidity/ecdsa/test/utils/dkg.ts
  solidity/ecdsa/test/utils/wallets.ts
Due: none

Cleaning up tests and adding description around refunds
  solidity/random-beacon/test/ReimbursmentPool.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Use the same governance delay for all parameters
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/deploy/05_deploy_wallet_registry_governance.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: lint-sol, lint-sol-v1

add logo for readmi
  .github/1inch_github_b.svg
  .github/1inch_github_w.svg
  README.md
Due: none

Allow to update governance delay in WalletRegistryGovernance
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Add comment about wallet owner caller
  solidity/ecdsa/contracts/api/IWalletRegistry.sol
Due: lint-sol, lint-sol-v1

Store public key as X and Y bytes32+bytes32 separately
  solidity/ecdsa/contracts/libraries/Wallets.sol
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
Due: lint-sol, lint-sol-v1

Emit from and to amount in authorization increase and decrease events
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: lint-sol, lint-sol-v1

Updgrade slither to 0.8.2
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
Due: none

Replacing rewards with ETH refunds
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Pass separate X and Y coordinates
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/api/IWalletOwner.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
  solidity/ecdsa/test/WalletRegistry.WalletOwner.test.ts
  solidity/ecdsa/test/data/ecdsa.ts
Due: lint-sol, lint-sol-v1

Add more test cases for getWalletPublicKey
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
Due: none

Linting
  solidity/random-beacon/test/ReimbursmentPool.test.ts
Due: lint-eslint, lint-config

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
