Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Removed unnecessary imports
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/test/Submission.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Optimize relay entry tests execution time
  solidity/random-beacon/contracts/test/RelayStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/utils/snapshot.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Describe `dkgMaliciousResultNotificationRewardMultiplier`
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Describe punishing of the operators ignoring their duties
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Add mstable-tbtc pool card to liquidity page
  solidity-v1/dashboard/src/components/LiquidityRewardCard.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/css/liquidity-page.less
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
Due: lint-js-v1, format-dashboard

Create MasonryFlexContainer component
  solidity-v1/dashboard/src/components/MasonryFlexContainer.jsx
  solidity-v1/dashboard/src/css/app.less
  solidity-v1/dashboard/src/css/masonry-flex-container.less
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
Due: format-dashboard

Describe punishing for leaked signature
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Update style for Incentives removed warning
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/components/LiquidityRewardCard.jsx
  solidity-v1/dashboard/src/css/liquidity-page.less
  solidity-v1/dashboard/src/static/svg/bell.svg
Due: format-dashboard

Update list of actions leading to the rewards ban
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Add KeepOnlyPoolCard
  solidity-v1/dashboard/src/components/LiquidityRewardCard.jsx
  solidity-v1/dashboard/src/components/liquidity/KeepOnlyPoolCard.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/css/liquidity-page.less
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
Due: lint-js-v1, format-dashboard

Remove Keep Only pool from top of the liquidity page.
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
Due: format-dashboard

Adding e2e test for random beacon
  solidity/random-beacon/test/data/bls.ts
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-eslint, lint-config

Optimize group creation tests execution time
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Optimize callback tests execution time
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
Due: lint-eslint, lint-config

Optimize governance tests execution time
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-eslint, lint-config

Optimize DKG validator tests execution time
  solidity/random-beacon/test/DKGValidator.test.ts
Due: lint-eslint, lint-config

Adding test description and clean ups
  solidity/random-beacon/test/data/bls.ts
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-eslint, lint-config

Fix grammar & typos
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Fix table layout
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Use snapshots from `hardhat-helpers` package
  solidity/random-beacon/package.json
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/utils/snapshot.ts
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Fix comment describing value set via `setGroupLifetime`
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update values of governable parameters
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Add basic integration pending tests
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Authorization.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/contracts/test/StakingStub.sol
  solidity/random-beacon/package.json
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/utils/operators.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix contract error for mstable pool
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
  solidity-v1/dashboard/src/sagas/liquidity-rewards.js
  solidity-v1/dashboard/src/sagas/subscriptions.js
  solidity-v1/dashboard/src/sagas/utils.js
Due: lint-js-v1, format-dashboard

Add proper icons to liquidity rewards pool
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
  solidity-v1/dashboard/src/static/svg/mBTC.svg
  solidity-v1/dashboard/src/static/svg/tbtc_v2.svg
Due: format-dashboard

Change description for mStable pool
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
Due: format-dashboard

Move submit button outside of `reward-balance` div
  solidity-v1/dashboard/src/components/liquidity/KeepOnlyPoolCard.jsx
Due: format-dashboard

Updated sortition-pools dependency to 18a2a84
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Do not pass staking contract to sortition pool constructor
  solidity/random-beacon/test/DKGValidator.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Allow max 6 decimals in forms
  solidity-v1/dashboard/src/components/coverage-pools/AddAmountToWithdrawalForm.jsx
  solidity-v1/dashboard/src/components/coverage-pools/DepositForm.jsx
  solidity-v1/dashboard/src/components/coverage-pools/WithdrawAmountForm.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/ReInitiateWithdraw.jsx
  solidity-v1/dashboard/src/forms/form.utils.js
  solidity-v1/dashboard/src/sagas/coverage-pool.js
Due: lint-js-v1, format-dashboard

Use constant to set max decimals in forms
  solidity-v1/dashboard/src/components/coverage-pools/AddAmountToWithdrawalForm.jsx
  solidity-v1/dashboard/src/components/coverage-pools/DepositForm.jsx
  solidity-v1/dashboard/src/components/coverage-pools/WithdrawAmountForm.jsx
Due: format-dashboard

Added dependency to @threshold-network/solidity-contracts
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Authorization.authorizationIncreased function
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Authorization.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Authorization.authorizationDecreaseRequested
  solidity/random-beacon/contracts/libraries/Authorization.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Authorization.approveAuthorizationDecrease
  solidity/random-beacon/contracts/libraries/Authorization.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add calendar button to undelegation modal
  solidity-v1/dashboard/src/components/modal/staking/undelegate/components/InfoList.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/css/add-to-calendar.less
Due: lint-js-v1, format-dashboard

Remove first step from re-initiate withdrawal
  solidity-v1/dashboard/src/components/modal/coverage-pools/InitiateWithdraw.jsx
  solidity-v1/dashboard/src/sagas/coverage-pool.js
Due: lint-js-v1, format-dashboard

move connectWallet function inside the useEffect()
  solidity-v1/dashboard/src/hooks/useAutoConnect.js
Due: lint-js-v1, format-dashboard

Optimizing gas cost by removing group members storage
  solidity/random-beacon/contracts/DKGValidator.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
  solidity/random-beacon/contracts/test/GroupsStub.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix icons size for mstable pool
  solidity-v1/dashboard/src/static/svg/mBTC.svg
  solidity-v1/dashboard/src/static/svg/tbtc_v2.svg
Due: format-dashboard

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
