Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Explain what the maintanance pool is
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Update modal styles
  solidity-v1/dashboard/src/css/modal.less
Due: format-dashboard

Add a couple of UACs regarding the locking of the sortition pool
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Get rid of pending buttons in cov pools
  solidity-v1/dashboard/src/components/coverage-pools/DepositForm.jsx
  solidity-v1/dashboard/src/components/coverage-pools/PendingWithdrawals.jsx
  solidity-v1/dashboard/src/components/coverage-pools/WithdrawAmountForm.jsx
  solidity-v1/dashboard/src/components/coverage-pools/index.js
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
Due: lint-js-v1, format-dashboard

Failed BLS threshold signature results in hard timeout
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Fix displaying an estimated balance in KEEP in IncreaseWithdrawal modal
  solidity-v1/dashboard/src/components/modal/coverage-pools/IncreaseWithdrawal.jsx
Due: format-dashboard

Update InitiateWithdraw cov pools modal
  solidity-v1/dashboard/src/components/modal/coverage-pools/InitiateWithdraw.jsx
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
  solidity-v1/dashboard/src/sagas/coverage-pool.js
Due: lint-js-v1, format-dashboard

Fix displaying correct modal on submit withdraw form
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
Due: format-dashboard

Update `confirmModalSaga`
  solidity-v1/dashboard/src/sagas/coverage-pool.js
  solidity-v1/dashboard/src/sagas/utils.js
Due: lint-js-v1, format-dashboard

Clarify how re-registration of operators in the pool should work
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Validity of the signatures should be checked during DKG submission
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Changing to tx.blockNumber
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Embed creation of new group into relay entry submission tx
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
  docs/rfc/rfc-19-random-beacon-v2.adoc
Due: none

Made random beacon pay DKG-related rewards
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improve description of relay entry timeouts and slashing
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Add validation criteria for relay entry submission
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Fix `if` condition
  solidity-v1/dashboard/src/components/modal/coverage-pools/components/WithdrawalOverview.jsx
Due: format-dashboard

Update cov pools modals
  solidity-v1/dashboard/src/components/modal/coverage-pools/IncreaseWithdrawal.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/InitiateWithdraw.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/deposit/InitiateDeposit.jsx
Due: format-dashboard

Update submit btn text in cov pools deposit flow
  solidity-v1/dashboard/src/components/modal/coverage-pools/deposit/InitiateDeposit.jsx
Due: format-dashboard

Add loading state to threshold page
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
  solidity-v1/dashboard/src/components/threshold/UpgradeTokensTile.jsx
  solidity-v1/dashboard/src/css/threshold-page.less
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Moving 'groupLifetime' from RandomBeacon to Groups contract.
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Include DKG geneartion time in the DKG timeout counter
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

tBTC reward allocation 2021-10-29 -> 2021-11-05
  solidity/dashboard/src/rewards-allocation/rewards.json
Due: none

tBTC reward allocation 2021-10-29 -> 2021-11-05
  solidity-v1/dashboard/src/rewards-allocation/rewards.json
Due: format-dashboard

Adding description for activeTerminatedGroups
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Updated guides with latest ropsten contracts
  docs/run-random-beacon.adoc
Due: none

Make Slither happy
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adjust to sortition pool changes
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Renamed function that compleetes DKG
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Call sortition pool only when there are operators to remove
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Made random beacon store address of the T token
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Determine whether DKG challenge is justified
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Slash members who signed the malicious result
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Pay challenge notifier reward
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix wallet connection
  solidity-v1/dashboard/src/components/WalletOptions.jsx
Due: format-dashboard

Fix `autoConnect` hook
  solidity-v1/dashboard/src/hooks/useAutoConnect.js
Due: lint-js-v1, format-dashboard

Adding tests for group expiration
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/GroupsStub.sol
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/utils/groups.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Script to resolve stake owners from Keep TokenStaking contract
  solidity-v1/scripts/resolve-owners.js
Due: lint-js-v1

Fix staking reducer
  solidity-v1/dashboard/src/reducers/staking.js
Due: lint-js-v1, format-dashboard

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
