Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

PlainTransferEscrowBeneficiary implementation
  solidity-v1/contracts/PhasedEscrow.sol
  solidity-v1/contracts/stubs/TestPhasedEscrowBeneficiaries.sol
  solidity-v1/test/TestPhasedEscrow.js
Due: lint-sol, lint-js-v1, lint-sol-v1

Expose `getWalletCreationState` function
  solidity/ecdsa/contracts/api/IWalletRegistry.sol
Due: lint-sol, lint-sol-v1

Configure packages for publication
  solidity/ecdsa/package.json
  solidity/ecdsa/tsconfig.export.json
  solidity/ecdsa/tsconfig.json
  solidity/ecdsa/yarn.lock
  solidity/random-beacon/.gitignore
  solidity/random-beacon/package.json
  solidity/random-beacon/tsconfig.export.json
Due: lint-eslint, lint-config

Expose eligibleStake to the public and test it separately
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: lint-sol, lint-sol-v1

Improved test coverage for remainingAuthorizationDecreaseDelay
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: none

Improved tests for registerOperator
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: none

Typo fix in docs
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Implemented WalletRegistry.pendingAuthorizationDecrease
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: lint-sol, lint-sol-v1

Move compilerOptions to main tsconfig
  solidity/ecdsa/tsconfig.export.json
  solidity/ecdsa/tsconfig.json
  solidity/random-beacon/tsconfig.export.json
  solidity/random-beacon/tsconfig.json
Due: lint-eslint, lint-config

Test improvements for approveAuthorizationDecrease
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: none

Unit tests improvements for involuntaryAuthorizationDecrease
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: none

Further test improvements for involuntaryAuthorizationDecrease
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: none

Remove operator from sortition pool if it has no min authorization
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: lint-sol, lint-sol-v1

Adjusting gas for approveDkgResult
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/deploy/02_deploy_reimbursement_pool.ts
  solidity/ecdsa/hardhat.config.ts
  solidity/ecdsa/test/WalletRegistry.Parameters.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/ecdsa/test/utils/randomBeacon.ts
Due: lint-sol, lint-sol-v1

Removed unused transaction gas
  solidity/random-beacon/contracts/Reimbursable.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Configure git to don't use unauthenticated protocol
  .github/workflows/dashboard-v1-testnet.yml
  solidity-v1/dashboard/README.md
Due: format-dashboard

Unit tests for mixed interactions in WalletRegistry authorizations
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: none

More unit tests for mixed interactions in WalletRegistry authorizations
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: none

Prettier fix
  solidity-v1/dashboard/README.md
Due: format-dashboard

Use members field from DKG result for tests
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/utils/dkg.ts
Due: none

Use the same value for pool ban duration in tests as in ctor
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Callback for wallet's hearbeat failure
  solidity/ecdsa/contracts/api/IWalletOwner.sol
Due: lint-sol, lint-sol-v1

Changing precision for notifySeedTimeout's refund
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

Simplifying Reimbursable stub deployment and tests cleanup
  solidity/random-beacon/test/Reimbursable.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Removed unused variable in unit tests
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

Linting
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: lint-sol, lint-sol-v1

lower case dkg to upper case DKG
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Removing validation for upgradable gas usage amounts
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Removing validation of a zero address for a wallet owner
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Removing 0 gas validation
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Emitting event with the params instead of the contract var
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1

Updating reimbursement pool through the WalletRegistryGovernance contract
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Tests desc cleanup
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: none

Fixed test desc
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: none

Validating if the reimbursement pool is zero address
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Fixing test to call reimbursement pool address, not the wallet owner
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: none

Temp dependency changes for random-beacon
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Closing wallets on ECDSA registry side
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/api/IWalletRegistry.sol
Due: lint-sol, lint-sol-v1

Fixed typo in docs to approveAuthorizationDecrease
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
Due: lint-sol, lint-sol-v1

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
