Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Increase test timeout
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Add unit tests for punishment code
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Eliminated minor linter problems
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/functions/index.ts
Due: lint-eslint, lint-config

Make Slither happy
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use the new modal API when releasing tokens from a grant
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/ConfirmReleaseTokensFromGrant.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/index.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/hooks/useReleaseTokens.js
Due: lint-js-v1, format-dashboard

Fix prop name
  solidity-v1/dashboard/src/components/modal-component/staking/ConfirmCancelDelegationFromGrant.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/ConfirmDelegation.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/ConfirmRecovering.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/ConfirmUndelegation.jsx
Due: format-dashboard

Document all new contract methods
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/GasStation.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Release gas deposit upon removal during update
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Increase unit test timeout to `60s`
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Temporary fix for sortition pool stub
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
  solidity/random-beacon/test/utils/sortitionpool.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fixed submitter member index used in relay tests
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Ignored slither warnings about external call in the loop
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Clarification renames of DKG result properties
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/GroupsStub.sol
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fixed parameters documentation in DKG.verify
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Added a note to `setGroupMembers` that the member indexes may change
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Validate misbehavedMembersIndices submitted in DKG result
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Staked tile
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
  solidity-v1/dashboard/src/css/allocation-progress-bar.less
  solidity-v1/dashboard/src/css/progress-bar.less
  solidity-v1/dashboard/src/css/threshold-page.less
  solidity-v1/dashboard/src/pages/threshold/HowItWorksPage.jsx
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
  solidity-v1/dashboard/src/static/svg/keep-t-upgrade-logo.svg
Due: format-dashboard

Add secondary value to a progress bar
  solidity-v1/dashboard/src/components/ProgressBar.jsx
Due: format-dashboard

Improve event emitting in `reportEntryTimeout`
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adjustments after merging recent changes from main
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improve index wrapping in `getPunishedMembers`
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Slash only when `slashingAmount > 0`
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add TODO about using interface from `keep-network/sortition-pools`
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add TODO about using interface from `threshold-network/solidity-contracts`
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

tBTC reward allocation 2021-10-22 -> 2021-10-29
  solidity/dashboard/src/rewards-allocation/rewards.json
Due: none

Refactor timeout reporting logic
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/utils/groups.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename `getPunishedMembers` to `getInactiveMembers`
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use `getInactiveMembers` in relay stub
  solidity/random-beacon/contracts/test/RelayStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

tBTC reward allocation 2021-10-22 -> 2021-10-29
  solidity-v1/dashboard/src/rewards-allocation/rewards.json
Due: format-dashboard

Used real sorition pool in tests
  .gitignore
  solidity/random-beacon/.eslintignore
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/package.json
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Adjustments around ideal and actual group size
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Don't use unauthenticated git protocol
  solidity-v1/dashboard/package-lock.json
Due: format-dashboard

Used real sortition pools in tests
  .gitignore
  solidity/random-beacon/.eslintignore
  solidity/random-beacon/.prettierignore
  solidity/random-beacon/.solhintignore
  solidity/random-beacon/contracts/test/StakingContractStub.sol
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/package.json
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/yarn.lock
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Make linter happy
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update sortition pool package and fix stubs
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
  solidity/random-beacon/contracts/test/SortitionTreeStub.sol
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Only actual members should be removed from the pool
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/utils/sortitionpool.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adjust pool tests after pulling recent changes
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
Due: lint-eslint, lint-config

Fixed some s/misbehaved/misbehavedMembersIndices leftovers
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Extract a base FormCheckbox to a separte component
  solidity-v1/dashboard/src/components/FormCheckbox.jsx
Due: format-dashboard
