Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Add DKG result verification library
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Run AltBn128 g1 point marshaling test
  solidity/random-beacon/test/AltBn128.test.ts
Due: lint-eslint, lint-config

Move SPDX license
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add function to submit DKG result
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

add isClaimed checker
  contracts/MerkleDrop128.sol
  contracts/interfaces/IMerkleDrop128.sol
Due: lint-sol, lint-sol-v1

add deploy script
  deploy/deploy_qr.js
Due: none

Add RandomBeacon function to submit a DKG result.
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improve modal flow info with existing withdrawal
  solidity-v1/dashboard/src/components/coverage-pools/IncreaseWithdrawalModal.jsx
  solidity-v1/dashboard/src/components/coverage-pools/WithdrawalInfo.jsx
  solidity-v1/dashboard/src/css/withdraw-modal.less
Due: format-dashboard

Moved ModUtils and AltBn128 fixtures to particular test files
  solidity/random-beacon/test/AltBn128.test.ts
  solidity/random-beacon/test/ModUtils.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Add functions to start DKG
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Optimized imports from hardhat - use one line version
  solidity/random-beacon/test/AltBn128.test.ts
  solidity/random-beacon/test/ModUtils.test.ts
Due: lint-eslint, lint-config

Updating yarn.lock
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Add --downlevelIteration to the ts compiler
  solidity/random-beacon/tsconfig.json
Due: lint-eslint, lint-config

Keep groupThreshold as constant
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename timeDKG to offchainDkgTime
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use offchainDkgTime constant as value for dkg
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename resultPublicationBlockStep to resultSubmissionEligibilityDelay
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Move DKG constants to the library
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Reduce number of properties returned in DkgResultSubmitted event
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Expose isDkgInProgress
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Initial set of tests for DKG
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Remove even more properties from DkgResultSubmitted event
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Linting only: *.ts files
  solidity/random-beacon/test/AltBn128.test.ts
  solidity/random-beacon/test/BLS.test.ts
  solidity/random-beacon/test/ModUtils.test.ts
  solidity/random-beacon/test/RandomBeacon.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/data/bls.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Store just one DKG submitted result at a time
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove not needed assert of startBlock
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use startBlock instead of groupSelectionEndBlock
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename DkgResult to Result
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add cleanup function for DKG
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Store DKG parameters in DKG library Data struct
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Separate GroupCreation and DKG parameters
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeacon.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adding '-' to prettier flags
  solidity/random-beacon/package.json
Due: lint-eslint, lint-config

Prettier .json files
  solidity/random-beacon/.solhint.json
  solidity/random-beacon/slither.config.json
Due: lint-eslint, lint-config

Use seed in each DKG
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Linting .sol files
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/AltBn128.sol
  solidity/random-beacon/contracts/libraries/BytesLib.sol
  solidity/random-beacon/contracts/libraries/ModUtils.sol
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
  solidity/random-beacon/contracts/test/TestAltBn128.sol
  solidity/random-beacon/contracts/test/TestModUtils.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add TODO about signing members validation
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add indentations in docs
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Clarify misbehaving case in doc
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove parameters set assertions
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add tests for submitter eligibility check
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
Due: lint-eslint, lint-config

Use startBlock instead of seed in DKG result signatures
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1
