Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Add test for upgradeability verification
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2Invalid.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MissingSlot.sol
  solidity/ecdsa/package.json
  solidity/ecdsa/test/WalletRegistry.Upgrade.test.ts
  solidity/ecdsa/test/data/ecdsa.ts
  solidity/ecdsa/yarn.lock
Due: lint-sol, lint-sol-v1

Use 4.6.0-rc.0 of @openzeppelin/contracts-upgradeable
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: lint-sol, lint-sol-v1

Count `walletMemberIndex` from `1`
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/api/IWalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
Due: lint-sol, lint-sol-v1

Improve docs for `walletMembersIDs`
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/api/IWalletRegistry.sol
Due: lint-sol, lint-sol-v1

Restricted mutability of functions
  solidity/random-beacon/contracts/BeaconDkgValidator.sol
  solidity/random-beacon/contracts/libraries/BeaconInactivity.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Added zero-address and zero-value checks to constructors
  solidity/random-beacon/contracts/BeaconDkgValidator.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Random Beacon: read DKG seed from chain instead of passing it
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update `sortitionPoolRewardsBanDuration` definition
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Update table with parameters
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Transfer ProxyAdmin ownership to the ESDM
  solidity/ecdsa/hardhat.config.ts
Due: none

Add tests to verify deployment scripts and roles assignment
  solidity/ecdsa/test/WalletRegistry.Deployment.test.ts
Due: none

Test upgrades with proxy admin owner transfered
  solidity/ecdsa/test/WalletRegistry.Upgrade.test.ts
Due: none

Update description of `maliciousDkgResultSlashingAmount`
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use correct name of `resultChallengePeriodLength` param in the comments
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Revert "Make EcdsaInactivity an internal library"
  solidity/ecdsa/contracts/libraries/EcdsaInactivity.sol
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
Due: lint-sol, lint-sol-v1

Uprade proxy with ECDSAInactivity as linked lib
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
  solidity/ecdsa/test/WalletRegistry.Upgrade.test.ts
Due: none

Transfer ProxyAdmin ownership to ESDM
  solidity/ecdsa/deploy/09_transfer_proxy_admin_ownership.ts
  solidity/ecdsa/deploy/10_deploy_proxy_admin_with_deputy.ts
Due: none

Update inline comments
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.Deployment.test.ts
Due: lint-sol, lint-sol-v1

Remove sortitionPool.unlock from EcdsaDkg.notifySeedTimeout
  solidity/ecdsa/contracts/libraries/EcdsaDkg.sol
Due: lint-sol, lint-sol-v1

Remove sortitionPool.unlock from BeaconDkg
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/BeaconDkg.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Random Beacon README: Group Creation mechanism updates
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Random Beacon README: Relay request and relay entry mechanism updates
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Random Beacon README: Callback mechanism updates
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Random Beacon README: Timeout mechanism updates
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Random Beacon README: Inactivity notification mechanism updates
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Random Beacon README: Transaction incentives section
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Small fix to WalletRegistryGovernance function docs
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1

Adding tests for selectGroup() view function
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Random Beacon README: Parameters section update
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Comparing selected group to the one from sortition pool
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Keep using immutable variables
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/test/WalletRegistryStub.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2Invalid.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MissingSlot.sol
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
  solidity/ecdsa/test/WalletRegistry.Deployment.test.ts
  solidity/ecdsa/test/WalletRegistry.Upgrade.test.ts
Due: lint-sol, lint-sol-v1

Call dkg complete inside notify timout functions
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaDkg.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/BeaconDkg.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use the latest Slither 0.8.3 in CI
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
Due: none

Remove a BeaconDkg workaround for slither bug
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Make functions external in BeaconAuthorization
  solidity/random-beacon/contracts/libraries/BeaconAuthorization.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Declare aliased libraries in WalletRegistry
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Unit tests for RandomBeacon constructor
  solidity/random-beacon/test/RandomBeacon.Constructor.test.ts
Due: lint-eslint, lint-config

Unit tests for RandomBeaconGovernance constructor
  solidity/random-beacon/test/RandomBeacon.Constructor.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-eslint, lint-config

Improvements to RandomBeacon constructor unit tests
  solidity/random-beacon/test/RandomBeacon.Constructor.test.ts
Due: lint-eslint, lint-config

Add __gap to base contracts
  solidity/ecdsa/contracts/Governable.sol
  solidity/random-beacon/contracts/Reimbursable.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1
