Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

ECDSA Readme: Intro and Overview
  solidity/ecdsa/README.adoc
Due: none

ECDSA Readme: Prior Work
  solidity/ecdsa/README.adoc
Due: none

Remove gap from AuthorizationDecrease struct
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
Due: lint-sol, lint-sol-v1

Ignore test contracts in contract sizer
  solidity/ecdsa/hardhat.config.ts
Due: none

ECDSA Readme: Wallet Creation
  solidity/ecdsa/README.adoc
Due: none

ECDSA Readme: Signing
  solidity/ecdsa/README.adoc
Due: none

ECDSA Readme: Timeouts
  solidity/ecdsa/README.adoc
Due: none

Ignore contract size on hardhat network
  solidity/ecdsa/hardhat.config.ts
Due: none

ECDSA Readme: Inactivity notification and Heartbeat failures
  solidity/ecdsa/README.adoc
Due: none

ECDSA Readme: Rewards
  solidity/ecdsa/README.adoc
Due: none

ECDSA Readme: Transaction incentives
  solidity/ecdsa/README.adoc
Due: none

ECDSA Readme: Parameters
  solidity/ecdsa/README.adoc
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Introduced authorization decrease change period parameter to ECDSA
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
  solidity/ecdsa/test/WalletRegistry.Parameters.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: lint-sol, lint-sol-v1

Fixed typo in authorization library docs
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/random-beacon/contracts/libraries/BeaconAuthorization.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Set of small improvements to The Mechanism docs of Beacon and ECDSA
  solidity/ecdsa/README.adoc
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Set of small improvements to The Mechanism README of Beacon and ECDSA
  solidity/ecdsa/README.adoc
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Small improvement to Parameters README section of beacon and ECDSA
  solidity/ecdsa/README.adoc
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Replaced "wallet owner" with field reference in ECDSA Readme
  solidity/ecdsa/README.adoc
Due: none

Updated initial WalletRegistry parameters
  solidity/ecdsa/README.adoc
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: lint-sol, lint-sol-v1

Updated initial RandomBeacon parameters
  solidity/ecdsa/README.adoc
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/random-beacon/README.adoc
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Consistent use of _ in RandomBeacon constructor
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Reset staticGas to 40 800
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/deploy/02_deploy_reimbursement_pool.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Add offsets to refunds for timeout notification transaction
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistry.Parameters.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Remove unused import
  solidity/ecdsa/test/WalletRegistry.Deployment.test.ts
Due: none

Update V2 stub contracts with the current WalletRegistry code
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2Invalid.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MissingSlot.sol
Due: lint-sol, lint-sol-v1

Update parameters documentation
  solidity/ecdsa/README.adoc
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Add .openzeppelin to gitignore
  solidity/ecdsa/.gitignore
Due: none

Fix sortitionPool reference
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Don't add gap in a struc that is stored as mapping value
  solidity/ecdsa/contracts/libraries/Wallets.sol
Due: lint-sol, lint-sol-v1

Uncomment hardhat task
  solidity/ecdsa/hardhat.config.ts
Due: none

Fix unit tests
  solidity/ecdsa/test/WalletRegistry.Upgrade.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

update pre setup link
  solidity-v1/dashboard/src/constants/constants.js
Due: lint-js-v1, format-dashboard

Remove not needed ProxyAdmin import
  solidity/ecdsa/deploy/09_transfer_proxy_admin_ownership.ts
Due: none

Import ECDSA library from @openzeppelin/contracts-upgradeable
  solidity/ecdsa/contracts/libraries/EcdsaDkg.sol
  solidity/ecdsa/contracts/libraries/EcdsaInactivity.sol
Due: lint-sol, lint-sol-v1

Replace unsafeAllowLinkedLibraries with unsafeAllow
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
  solidity/ecdsa/test/WalletRegistry.Upgrade.test.ts
Due: none

Load global deployment fixture
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Make __gap sum up to 50 slots
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/contracts/libraries/EcdsaDkg.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
Due: lint-sol, lint-sol-v1

Use _disableInitializers in contructor
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Add clarification in V2's initialize
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2Invalid.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MissingSlot.sol
  solidity/ecdsa/test/WalletRegistry.Upgrade.test.ts
Due: lint-sol, lint-sol-v1

Sync WalletRegistryV2 with latest WalletRegistry
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2Invalid.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MissingSlot.sol
Due: lint-sol, lint-sol-v1
