Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Add unit tests for Governable contract
  solidity/ecdsa/contracts/test/GovernableImpl.sol
  solidity/ecdsa/test/Governable.test.ts
Due: lint-sol, lint-sol-v1

Make Governable an abstract contract
  solidity/ecdsa/contracts/Governable.sol
Due: lint-sol, lint-sol-v1

Minor linter fixes
  solidity/ecdsa/test/DKGValidator.test.ts
Due: none

Fixed RandomBeacon callback unit tests
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
Due: lint-eslint, lint-config

Fixed RandomBeacon parameters unit tests
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
Due: lint-eslint, lint-config

Removing payable keyword because requestRelayEntry is not payable anymore
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/api/IRandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Reverting change from inactivity operator to failed hearbeat
  solidity/ecdsa/test/utils/inactivity.ts
Due: none

Fixed RandomBeacon relay unit tests
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Fixed RandomBeacon system tests
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-eslint, lint-config

Fixed RandomBeaconGovernance unit tests
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-eslint, lint-config

Improvements to RandomBeacon contract code documentation
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Updated the order of events in RandomBeacon contract
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adjusted code docs in WalletRegistry to those in RandomBeacon
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Two small fixes in regards to the convention in WalletRegistry
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1

Aligned naming between RandomBeacon and WalletRegistry
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Explain in hardhat config why 200 gwei gas price is used for tests
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Final documentation improvements to gas/refund-related functions
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fixed typo: reimubursment/reimbursement
  solidity/random-beacon/test/ReimbursmentPool.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Removed unused ReimbursementPool from Beacon group creation unit tests
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Cleaned up beacon group creation tests
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Improvements to ETH refunds in beacon group creation tests
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Remove unnecesarry import
  solidity/ecdsa/contracts/libraries/Wallets.sol
Due: lint-sol, lint-sol-v1

Small code comment update to align WalletRegistry and RandomBeacon
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Simplify get unnamed signer
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Unit tests for governance DKG result submission gas beacon functions
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-eslint, lint-config

Unit tests for DKG result approval gas offset beacon gov functions
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Unit tests for operator inactivity notification gas offset governance
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-eslint, lint-config

Unit tests for relay entry submission gas offset governance functions
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-eslint, lint-config

Linting WalletRegistry contract
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Removed unused reference to TokenStaking contract
  solidity/ecdsa/deploy/01_deploy_sortition_pool.ts
Due: none

Tweaking the gas offset and precision after the code changes
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use latest @keep-network/helpers
  solidity/ecdsa/package.json
Due: none

Make EcdsaInactivity an internal library
  solidity/ecdsa/contracts/libraries/EcdsaInactivity.sol
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
Due: lint-sol, lint-sol-v1

Increase RandomBeacon's callbackGasLimit to 64 000
  solidity/ecdsa/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Deploy WalletRegistry as TransparentProxy
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
Due: none

Align WalletRegistry with proxy development guidenance
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/test/WalletRegistryStub.sol
Due: lint-sol, lint-sol-v1

Update values for gas refunds
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/deploy/02_deploy_reimbursement_pool.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Check wallet membership
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/api/IWalletRegistry.sol
Due: lint-sol, lint-sol-v1

Pass member index in `isWalletMember`
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/api/IWalletRegistry.sol
Due: lint-sol, lint-sol-v1

Unit tests covering `isWalletMember` function
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
Due: none
