Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Post-merge fixes to make tests green again
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

Setting gas to refund & checking for authorized contracts
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/api/IRandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

If the authorized stake drops below minimum, eligibleStake returns 0
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: lint-sol, lint-sol-v1

Make sure WalletRegistry.registerOperator does not add into the pool
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: none

Release keep-core version 1.8.0
  solidity-v1/package-lock.json
  solidity-v1/package.json
Due: none

Make sure `WalletRegistry.joinSortitionPool` reverts for stake below min
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: none

Cleaned up TODOs in WalletRegistry constructor
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Removed TODO to implement closeWallet function
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Merged gas parameters update functions into one
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistry.Parameters.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Removed todo in Wallets.sol library
  solidity/ecdsa/contracts/libraries/Wallets.sol
Due: lint-sol, lint-sol-v1

Removed TODO in EcdsaDkgValidator contract
  solidity/ecdsa/contracts/EcdsaDkgValidator.sol
Due: lint-sol, lint-sol-v1

Explain why do we use 200 gwei gas price in hardhat tests
  solidity/ecdsa/hardhat.config.ts
Due: none

Replaced Random Beacon failed heartbeat with operator inactivity claim
  solidity/random-beacon/README.adoc
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Inactivity.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/utils/inacvitity.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Reverting random-beacon dependency to >2.0.0-dev <2.0.0-ropsten
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Linting the beacon code: Inactivity library and Relay tests
  solidity/random-beacon/contracts/libraries/Inactivity.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Tbtcv2 + Saddle v2 pool chage
  solidity-v1/dashboard/src/components/InactiveButExternalLiquidityRewardCard.jsx
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
Due: format-dashboard

Change column height for Liquidity Cards page
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
Due: format-dashboard

Remove temporary configuration
  .github/workflows/npm-ecdsa.yml
Due: none

Add workflow publishing random-beacon contracts for dev env
  .github/workflows/npm-random-beacon.yml
Due: none

Referencing the latest random-beacon version
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Adding * to resolve to the latest version
  solidity/ecdsa/package.json
Due: none

Changing back to >2.0.0-dev after pointing to the latest tag in npm
  solidity/ecdsa/package.json
Due: none

Restore unauthenticated git protocol fix
  solidity-v1/dashboard/package-lock.json
Due: format-dashboard

Configure git to don't use unauthenticated protocol
  .github/workflows/dashboard-v1-testnet.yml
  solidity-v1/dashboard/README.md
Due: format-dashboard

Changing the gas price to 200 gwei for more real life testing
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint, lint-config

Adjusting gas offsets for ETH refunds
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fixing and adding tests
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/ReimbursmentPool.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/system/e2e.test.ts
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-eslint, lint-config

Format code
  solidity-v1/dashboard/README.md
Due: format-dashboard

Use `development` tag to configure dependency between packages
  .github/workflows/npm-ecdsa.yml
  .github/workflows/npm-random-beacon.yml
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Configure git to don't use unauthenticated protocol
  .github/workflows/dashboard-v1-format.yaml
  .github/workflows/dashboard-v1-mainnet.yml
Due: none

Migrate ledger package
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
  solidity-v1/dashboard/src/connectors/ledger.js
Due: lint-js-v1, format-dashboard

Remove unused package
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Display proper message for Ledger modal
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
  solidity-v1/dashboard/src/components/modal/wallets/LedgerModal.jsx
Due: format-dashboard

Renamed Inactivity.sol to BeaconInactivity.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/BeaconInactivity.sol
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improved code documentation in BeaconInactivity
  solidity/random-beacon/contracts/libraries/BeaconInactivity.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Made ECDSA Wallets library not externally linked
  solidity/ecdsa/contracts/libraries/Wallets.sol
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
Due: lint-sol, lint-sol-v1

Pass just the group pub key for beacon inactivity claim verification
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/BeaconInactivity.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Made ECDSA DKG library not externally linked
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaDkg.sol
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1
