Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Optimizing submitRelayEntry function
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Revert "Optimizing submitRelayEntry function"
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

fix provider not found errors
  solidity-v1/dashboard/src/connectors/injected-connector.js
  solidity-v1/dashboard/src/connectors/metamask-injected.js
  solidity-v1/dashboard/src/connectors/tally-injected.js
  solidity-v1/dashboard/src/hooks/useAutoConnect.js
Due: lint-js-v1, format-dashboard

fix plurals and error messages
  solidity-v1/dashboard/src/components/modal/wallets/MetaMaskModal.jsx
  solidity-v1/dashboard/src/components/modal/wallets/TallyModal.jsx
  solidity-v1/dashboard/src/hooks/useAutoConnect.js
Due: lint-js-v1, format-dashboard

fix explorer mode
  solidity-v1/dashboard/src/hooks/useAutoConnect.js
Due: lint-js-v1, format-dashboard

Fixing existing tests
  solidity/random-beacon/test/DKGValidator.test.ts
  solidity/random-beacon/test/Groups.Expiration.test.ts
  solidity/random-beacon/test/Groups.Termination.test.ts
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/system/e2e.test.ts
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-eslint, lint-config

Mitigating stack too deep error
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fixing e2e test and adding new that check active members hash
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/data/bls.ts
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Filtering IA/DQ members & setting group members hash
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Reverting active members validation
  solidity/random-beacon/contracts/DKGValidator.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/test/GroupsStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Mostly renames and cleanups - activeMembers -> groupMembers - members -> selectedOperators/activeOperators for values returned from the sortition pool - some smaller cleanups
  solidity/random-beacon/contracts/DKGValidator.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
  solidity/random-beacon/contracts/test/GroupsStub.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

tBTC reward allocation 2021-12-03 -> 2021-12-21
  solidity-v1/dashboard/src/rewards-allocation/rewards.json
Due: format-dashboard

Block MM connection when Tally is injected by default
  solidity-v1/dashboard/src/components/WalletOptions.jsx
Due: format-dashboard

Setting group members hash
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fixing existing tests
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/DKGValidator.test.ts
  solidity/random-beacon/test/Groups.Expiration.test.ts
  solidity/random-beacon/test/Groups.Termination.test.ts
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/system/e2e.test.ts
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adding tests to validate membersHash
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/Groups.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Changes in DkgResultSubmitted and DkgResultApproved
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adding a comment regarding group members hash validation
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Removing members hashing
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improve comments and imports
  contracts/CumulativeMerkleDrop.sol
  contracts/CumulativeMerkleDrop128.sol
  contracts/SignatureMerkleDrop128.sol
Due: lint-sol, lint-sol-v1

Splitting submitRelayEntry
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Initiate ECDSA Wallet v2 package
  solidity/ecdsa/LICENSE
  solidity/ecdsa/package.json
Due: none

Testing calculation of slashing amount
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add code format configuration
  solidity/ecdsa/.eslintrc
  solidity/ecdsa/.prettierignore
  solidity/ecdsa/.prettierrc.js
  solidity/ecdsa/.solhint.json
  solidity/ecdsa/.solhintignore
  solidity/ecdsa/.tsconfig-eslint.json
  solidity/ecdsa/package.json
  solidity/ecdsa/slither.config.json
  solidity/ecdsa/yarn.lock
Due: none

Add initial hardhat configuration
  solidity/ecdsa/.gitignore
  solidity/ecdsa/hardhat.config.ts
  solidity/ecdsa/package.json
  solidity/ecdsa/tsconfig.json
  solidity/ecdsa/yarn.lock
Due: none

Rename GH workflow for random beacon contracts
  .github/workflows/contracts-random-beacon.yml
Due: none

Add GH workflow for solidity/ecdsa project
  .github/workflows/contracts-ecdsa.yml
Due: none

Renames and rewordings only
  solidity/random-beacon/contracts/DKGValidator.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Simplifying group members hashing
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Extracting keccak256 and encoding of uint array to util function
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/utils/groups.ts
Due: lint-eslint, lint-config

Cleanups and var renamings
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Moving comment a couple of lines above
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Refactor liquidity cards
  solidity-v1/dashboard/src/components/ActiveLiquidityRewardCard.jsx
  solidity-v1/dashboard/src/components/ExternalPoolLiquidityRewardCard.jsx
  solidity-v1/dashboard/src/components/InactiveLiquidityRewardCard.jsx
  solidity-v1/dashboard/src/components/LiquidityRewardCard.jsx
  solidity-v1/dashboard/src/components/LiquidityRewardCard2.jsx
  solidity-v1/dashboard/src/components/liquidity/KeepOnlyPoolCard.jsx
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
Due: format-dashboard

Moving isRequestInProgress back to submitEntry
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove dependencies that are already included
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Remove "@nomiclabs/hardhat-ethers" import
  solidity/ecdsa/hardhat.config.ts
Due: none

2k22 🥳
  solidity/ecdsa/LICENSE
Due: none

Pass NPM_TOKEN via env variable instead of writing it to file
  .github/workflows/contracts-v1.yml
Due: none

Remove not existing files from slither filters
  solidity/ecdsa/slither.config.json
Due: none

Add ignore eslint rule for dependencies
  solidity/ecdsa/.eslintrc
Due: none
