Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Handle relay entry timeout
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add reentrancy guards
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Eligibility check
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Move `selectGroup` to `Groups` library
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Outline of `requestRelayEntry` test scenario
  solidity/random-beacon/test/RandomBeacon-Relay.test.ts
Due: lint-eslint, lint-config

Set relay library parameters in constructor
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/yarn.lock
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Unit tests for `requestRelayEntry`
  solidity/random-beacon/contracts/MaintenancePool.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/TestToken.sol
  solidity/random-beacon/test/RandomBeacon-Relay.test.ts
  solidity/random-beacon/test/data/bls.ts
  solidity/random-beacon/test/data/functions.ts
  solidity/random-beacon/test/helpers/fixtures.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Outline of unit tests for `submitRelayEntry`
  solidity/random-beacon/test/RandomBeacon-Relay.test.ts
Due: lint-eslint, lint-config

Unit tests for `submitRelayEntry`
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/test/RandomBeacon-Relay.test.ts
  solidity/random-beacon/test/data/bls.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove `.only` from relay tests
  solidity/random-beacon/test/RandomBeacon-Relay.test.ts
Due: lint-eslint, lint-config

Add TODO about storing `Group` object
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Revert changes in yarn.lock
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Adjustments after branch rebase
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/test/RandomBeacon-Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/functions/index.ts
  solidity/random-beacon/test/helpers/fixtures.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adjust *.sol files headers
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Move license identifier at the file top
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use prettier in contracts linting
  solidity/random-beacon/package.json
Due: lint-eslint, lint-config

Fix formatting for solidity
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/AltBn128.sol
  solidity/random-beacon/contracts/libraries/BLS.sol
  solidity/random-beacon/contracts/libraries/BytesLib.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/ModUtils.sol
  solidity/random-beacon/contracts/test/TestAltBn128.sol
  solidity/random-beacon/contracts/test/TestModUtils.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add commithash to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Add prettier config file to cover solidity
  solidity/random-beacon/.prettierrc.js
Due: lint-eslint, lint-config

Apply linting rules
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/test/RandomBeacon-Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/functions/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Re-enabling slithering
  .github/workflows/contracts.yml
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/slither.config.json
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Ignoring 2 more functions: reentrency-no-eth
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add function to notify DKG timeout
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add function to accept a DKG result
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add function to challenge DKG result
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename dkg.notifyDkgTimeout to dkg.notifyTimeout
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Expose function to notify DKG timeout
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Expose function to accept dkg result
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Expose function to challenge the dkg result
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add events
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove `MaintenancePool` contract
  solidity/random-beacon/contracts/MaintenancePool.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/test/RandomBeacon-Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Scoping solidity-v1 sol files
  .pre-commit-config.yaml
Due: none

Removing unused function
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Changing visibility public -> external
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/BLS.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Constant state variables should be declared constant to save gas.
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Mitigating reentrancy events vulnerabilities
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Mitigating shadowing local vars
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Removed unused function
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
