Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Add link to UpgradeTokensTile component
  solidity-v1/dashboard/src/components/threshold/UpgradeTokensTile.jsx
  solidity-v1/dashboard/src/css/upgrade-tokens-tile.less
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Rename the modal actions
  solidity-v1/dashboard/src/actions/modal.js
Due: lint-js-v1, format-dashboard

Simplify code to reduce transactions costs
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update Groups unit tests
  solidity/random-beacon/test/Groups.test.ts
Due: lint-eslint, lint-config

Add tooltip to Grant Allocation
  solidity-v1/dashboard/src/components/threshold/UpgradeTokensTile.jsx
  solidity-v1/dashboard/src/constants/tooltips.js
  solidity-v1/dashboard/src/css/upgrade-tokens-tile.less
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: lint-js-v1, format-dashboard

Trimming callback events
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Callback.sol
  solidity/random-beacon/contracts/test/CallbackContractStub.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Scoping CallbackContractStub deployment to local test
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Basic unit tests for slashing and SP removing
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
  solidity/random-beacon/contracts/test/StakingStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/data/group.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Create useKeepBalanceInfo hook
  solidity-v1/dashboard/src/hooks/useKeepBalanceInfo.js
  solidity-v1/dashboard/src/pages/OverviewPage.jsx
  solidity-v1/dashboard/src/pages/delegation/WalletTokensPage.jsx
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: lint-js-v1, format-dashboard

Repair the slashing test scenario
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Exctract common part of a FormInput component
  solidity-v1/dashboard/src/components/FormInput.jsx
Due: format-dashboard

Handle confirmation modals w/ and w/o redux
  solidity-v1/dashboard/src/actions/modal.js
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/hooks/useModal.js
  solidity-v1/dashboard/src/sagas/utils.js
Due: lint-js-v1, format-dashboard

Use the new modal API to top-up a delgation
  solidity-v1/dashboard/src/components/AddTopUpModal.jsx
  solidity-v1/dashboard/src/components/DelegatedTokensTable.jsx
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/index.js
  solidity-v1/dashboard/src/components/modal-component/staking/top-up/ConfirmTopUpInitialization.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/top-up/TopUpInitialization.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/top-up/TopUpInitiatedConfirmation.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/top-up/components/DelegationDetails.jsx
  solidity-v1/dashboard/src/components/modal-component/staking/top-up/components/index.js
  solidity-v1/dashboard/src/components/modal-component/staking/top-up/index.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/hooks/useTypeTextToConfirmFormik.js
  solidity-v1/dashboard/src/sagas/staking.js
  solidity-v1/dashboard/src/sagas/subscriptions.js
Due: lint-js-v1, format-dashboard

Remove unnecessary console log
  solidity-v1/dashboard/src/components/modal-component/staking/top-up/ConfirmTopUpInitialization.jsx
Due: format-dashboard

Fix displaying the successful modal after top-up
  solidity-v1/dashboard/src/components/modal-component/staking/top-up/TopUpInitiatedConfirmation.jsx
  solidity-v1/dashboard/src/sagas/subscriptions.js
Due: lint-js-v1, format-dashboard

Resetting callback on every request
  solidity/random-beacon/contracts/libraries/Callback.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Extended unit tests for member punishment logic
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Extended unit tests for slashing factor logic
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename pending group to candidate group
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/TestGroups.sol
  solidity/random-beacon/test/Groups.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adding tests around callback
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
Due: lint-eslint, lint-config

Rename activateGroup to activateCandidateGroup
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/TestGroups.sol
  solidity/random-beacon/test/Groups.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Don't store and return group public key in DKG
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Create useGrantedBalaceInfo hook
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
  solidity-v1/dashboard/src/hooks/useGrantedBalanceInfo.js
  solidity-v1/dashboard/src/hooks/useKeepBalanceInfo.js
  solidity-v1/dashboard/src/pages/OverviewPage.jsx
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: lint-js-v1, format-dashboard

Tests for `reportRelayEntryTimeout` method
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Slithering
  solidity/random-beacon/contracts/libraries/Callback.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fetch liquid KEEP and Available KEEP
  solidity-v1/dashboard/src/components/threshold/UpgradeTokensTile.jsx
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Update documentation
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove redundant imports
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add docs to new contract functions
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove obsolete TODO about timeout reporting
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename TestGroups to GroupsStub
  solidity/random-beacon/contracts/test/GroupsStub.sol
  solidity/random-beacon/test/Groups.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add TODO about checking number of groups
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fetch grant data in Threshold page
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Remove TestGroups that was renamed
  solidity/random-beacon/contracts/test/TestGroups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update Relay tests to work with Groups
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Fix linting problems
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adding internal error case for callback
  solidity/random-beacon/contracts/test/CallbackContractStub.sol
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Using ethers provider to get latest block number
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
Due: lint-eslint, lint-config

Random Beacon v2 kicking out from sortition pool
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/GasStation.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

tBTC reward allocation 2021-10-15 -> 2021-10-22
  solidity/dashboard/src/rewards-allocation/rewards.json
Due: none
