Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Displaying of provided amount, not multiplied by 1e18
  solidity/ecdsa/tasks/increase-authorization.ts
  solidity/ecdsa/tasks/mint.ts
  solidity/ecdsa/tasks/stake.ts
Due: none

Displaying provided amount, not multiplied by 1e18
  solidity/random-beacon/tasks/increase-authorization.ts
  solidity/random-beacon/tasks/mint.ts
  solidity/random-beacon/tasks/stake.ts
Due: lint-eslint, lint-config

Changing log for staked authorization
  solidity/ecdsa/tasks/increase-authorization.ts
  solidity/random-beacon/tasks/increase-authorization.ts
Due: lint-eslint, lint-config

Improving help docs for install.sh
  scripts/install.sh
Due: none

recreate -> create
  scripts/install.sh
Due: none

Implement TSS round three
  pkg/ecdsa/dkg/gen/pb/message.pb.go
  pkg/ecdsa/dkg/gen/pb/message.proto
  pkg/ecdsa/dkg/marshaling.go
  pkg/ecdsa/dkg/member.go
  pkg/ecdsa/dkg/message.go
  pkg/ecdsa/dkg/protocol.go
  pkg/ecdsa/dkg/states.go
Due: none

Linting
  solidity/ecdsa/tasks/increase-authorization.ts
  solidity/ecdsa/tasks/mint.ts
  solidity/random-beacon/tasks/increase-authorization.ts
  solidity/random-beacon/tasks/mint.ts
Due: lint-eslint, lint-config

Implement TSS finalization
  pkg/ecdsa/dkg/marshaling_test.go
  pkg/ecdsa/dkg/member.go
  pkg/ecdsa/dkg/protocol.go
  pkg/ecdsa/dkg/result.go
  pkg/ecdsa/dkg/states.go
  pkg/tbtc/node.go
Due: none

Removing old TBTC_PATH const
  scripts/install.sh
Due: none

Add TSS pre-parameters pool
  pkg/ecdsa/dkg/dkg.go
  pkg/ecdsa/dkg/member.go
  pkg/ecdsa/dkg/params_pool.go
  pkg/tbtc/node.go
Due: none

Remove unused vars
  solidity/random-beacon/tasks/initialize.ts
Due: lint-eslint, lint-config

Disable no-console
  solidity/random-beacon/tasks/initialize.ts
Due: lint-eslint, lint-config

Move account balance logging
  solidity/random-beacon/tasks/initialize.ts
Due: lint-eslint, lint-config

Fix param for authorize task
  solidity/random-beacon/tasks/initialize.ts
Due: lint-eslint, lint-config

Remove `WaitingFor` guards
  pkg/ecdsa/dkg/protocol.go
Due: none

Fix a condition mistake
  pkg/ecdsa/dkg/protocol.go
Due: none

Docstrings adjustments
  pkg/ecdsa/dkg/member.go
  pkg/ecdsa/dkg/params_pool.go
Due: none

Add a missing unmarshaler
  pkg/ecdsa/dkg/dkg.go
Due: none

Use immutable fields for SortitionPool
  solidity/ecdsa/contracts/EcdsaDkgValidator.sol
  solidity/random-beacon/contracts/BeaconDkgValidator.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Validate the lengh of public key first
  solidity/ecdsa/contracts/libraries/Wallets.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Make TSS result channel buffered
  pkg/ecdsa/dkg/member.go
Due: none

Fix error logging
  pkg/ecdsa/dkg/protocol.go
Due: none

Extract `resolveSortedTssPartyID` function
  pkg/ecdsa/dkg/member.go
  pkg/ecdsa/dkg/protocol.go
Due: none

Tweaks around the ECDSA DKG test loop trigger
  pkg/chain/ethereum/tbtc.go
Due: none

Increase TSS pre-params target pool size
  pkg/tbtc/node.go
Due: none

Select DKG group using a real ECDSA sortition pool
  pkg/chain/ethereum/tbtc.go
Due: none

Rolled back the need check during DKG submission
  pkg/chain/ethereum/beacon.go
Due: none

Fail ECDSA DKG on detected inactivity
  pkg/ecdsa/dkg/states.go
  pkg/tbtc/node.go
Due: none

Use `reflect.DeepEqual` instead of `testEq`
  pkg/ecdsa/retry/retry_test.go
Due: none

Implement `EvaluateRetryParticipantsForKeyGeneration`
  pkg/ecdsa/retry/retry.go
Due: none

Read configuration in a PreRun function
  cmd/cmd.go
  cmd/start.go
Due: none

Set usage template in Start command
  cmd/start.go
  main.go
Due: none

Define flags for all configuration properties
  cmd/flag/flag_wei.go
  cmd/flags.go
  cmd/start.go
  config/config.go
Due: none

Define developer flags for contract addresses
  cmd/flags.go
  config/config.go
  config/contracts.go
Due: none

Update config env variables definition
  config/config.go
  main.go
Due: none

Lowercase network key
  config/config.go
Due: none

Read KeyFilePassword with os.Getenv
  config/config.go
Due: none

Extract configuration validation function
  config/config.go
Due: none

Chain ReadConfig with config type
  config/config.go
Due: none

Remove not needed &
  config/config.go
Due: none
