Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Fixing typo
  solidity/random-beacon/test/ReimbursmentPool.test.ts
Due: lint-eslint, lint-config

Using events name in past tense
  solidity/random-beacon/contracts/ReimbursmentPool.sol
  solidity/random-beacon/test/ReimbursmentPool.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Let to transfer WalletRegistry ownership to someone else
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Setting gas usage for refund()
  solidity/random-beacon/test/ReimbursmentPool.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Reading tx.gasPrice and calculating the refund
  solidity/random-beacon/test/ReimbursmentPool.test.ts
Due: lint-eslint, lint-config

Have one governance delay for all parameter
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Allow to update delay in RandomBeaconGovernance
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Linting
  solidity/random-beacon/test/Reimbursable.test.ts
Due: lint-eslint, lint-config

Let to transfer RandomBeacon ownership to someone else
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Governable sortition pool rewards ban duration for WalletRegistry
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistry.Parameters.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Mark members misbehaving during ECDSA DKG as ineligible for rewards
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/utils/dkg.ts
Due: lint-sol, lint-sol-v1

Hardcoding gas for dkg result submission and approval
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/deploy/02_deploy_reimbursement_pool.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: lint-sol, lint-sol-v1

Add workflow publishing ecdsa contracts for dev env
  .github/workflows/npm-ecdsa.yml
  solidity/ecdsa/package.json
Due: none

Ignore `external` directory in git and linters
  solidity/ecdsa/.gitignore
  solidity/ecdsa/.prettierignore
Due: none

Disallow registering zero-address operator
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: lint-sol, lint-sol-v1

Explained why operator is not needed to increase authorization
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
Due: lint-sol, lint-sol-v1

Fixed typos in EcdsaAuthorization
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: lint-sol, lint-sol-v1

Renamed AuthorizationIncreaseRequested to AuthorizationIncreased
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: lint-sol, lint-sol-v1

Aligned authorization decrease delay with other delays
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: lint-sol, lint-sol-v1

Explain the activation of authorization request
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
Due: lint-sol, lint-sol-v1

Post-merge fix of WalletRegistry authorization unit tests
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Explain the logic behind updating pool in involuntaryAuthorizationDecrease
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
Due: lint-sol, lint-sol-v1

Making submit & approval gas updatable by the DAO
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1

Fix typo in `paths` trigger
  .github/workflows/npm-ecdsa.yml
Due: none

Trigger workflow on changes to deployment scripts
  .github/workflows/npm-ecdsa.yml
Due: none

Remove `--network` option from `npm publish`
  .github/workflows/npm-ecdsa.yml
Due: none

Limit ignoring of `external` folder to `external/npm`
  solidity/ecdsa/.gitignore
  solidity/ecdsa/.prettierignore
Due: none

Remove `scripts/` from list of published artifacts
  solidity/ecdsa/package.json
Due: none

Emit event if sortition pool state can not be involuntarily updated
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: lint-sol, lint-sol-v1

Linting only
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1

Adding tests to upgradable submit & approval gas vars
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistry.Parameters.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Uncommented slashing/challenge test assertions
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

Set initial ECDSA sortition pool rewards ban duration to 2 weeks
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Make sure honest DKG participants are not marked ineligible for rewards
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: lint-sol, lint-sol-v1

Changing testing max gas price from 20 -> 200 gwei
  solidity/ecdsa/deploy/02_deploy_reimbursement_pool.ts
Due: none

Placing wallet registry authorization in a seperate deployment file
  solidity/ecdsa/deploy/06_authorize_wallet_registry.ts
  solidity/ecdsa/deploy/07_deploy_wallet_registry_governance.ts
  solidity/ecdsa/deploy/08_transfer_ownerships.ts
Due: none

Removing ownership transfer
  solidity/ecdsa/deploy/08_transfer_ownerships.ts
Due: none

submitterBalance->submitterInitialBalance
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/utils/dkg.ts
Due: none

Removing commented and unused tests
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

Tests cleanup
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none
