Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Fixing passing a wrong param to updateDkgParameters()
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1

Display tx is pending modal in migration to T flow
  solidity-v1/dashboard/src/components/modal/threshold/ThresholdLoadingModal.jsx
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
  solidity-v1/dashboard/src/sagas/web3.js
Due: lint-js-v1, format-dashboard

Making updateDkgParameters() governable
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/fixtures/index.ts
Due: lint-sol, lint-sol-v1

Change set up pre button link to the one in consts
  solidity-v1/dashboard/src/components/modal/threshold/StakeOnThreshold.jsx
Due: format-dashboard

Deployment scripts and unit testing for Governance contract
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/deploy/05_deploy_wallet_registry_governance.ts
  solidity/ecdsa/deploy/05_transfer_ownership_to_governance.ts
  solidity/ecdsa/deploy/06_transfer_ownerships.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: lint-sol, lint-sol-v1

Change operator to stakingProvider
  solidity-v1/dashboard/src/lib/keep/keep-to-t-staking/index.js
Due: lint-js-v1, format-dashboard

Fix fetching `Staked` event
  solidity-v1/dashboard/src/lib/keep/keep-to-t-staking/index.js
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Due: lint-js-v1, format-dashboard

Remove double `OperatorStaked` event fetching
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
  solidity-v1/dashboard/src/services/token-staking.service.js
Due: lint-js-v1, format-dashboard

Remove unnecessary console log
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
Due: lint-js-v1, format-dashboard

Remove unnecessary comment
  solidity-v1/dashboard/src/components/threshold/AuthorizeThresholdContracts.jsx
Due: format-dashboard

Add notifications for av. stakes to T
  solidity-v1/dashboard/src/components/Message.jsx
  solidity-v1/dashboard/src/components/messages/StakeReadyToBeStakedToT.jsx
  solidity-v1/dashboard/src/css/app.less
  solidity-v1/dashboard/src/css/stake-ready-to-be-staked-to-t.less
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
Due: lint-js-v1, format-dashboard

Fix fetching t auth after relogging
  solidity-v1/dashboard/src/sagas/index.js
Due: lint-js-v1, format-dashboard

Refresh IWalletStaking interface to align with T's TokenStaking contract
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/test/StakingStub.sol
Due: lint-sol, lint-sol-v1

Make slasing amount uint96
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/test/StakingStub.sol
Due: lint-sol, lint-sol-v1

Making walletOwner a governance param
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1

Linting
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1

Adding tests for wallet owner gov param
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: none

Remove reference to T in WalletRegistry
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/test/TStub.sol
  solidity/ecdsa/contracts/test/WalletRegistryStub.sol
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/ecdsa/test/utils/operators.ts
Due: lint-sol, lint-sol-v1

Add a modal that says the stake is not yet on T
  solidity-v1/dashboard/src/components/modal/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal/threshold/AuthorizedButNotStakedToTWarning.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
Due: lint-js-v1, format-dashboard

Change KeepAssetPool import back to AssetPool
  solidity-v1/dashboard/src/lib/keep/contracts/index.js
Due: lint-js-v1, format-dashboard

Remove undelegated stakes from authorization table
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Due: lint-js-v1, format-dashboard

Change SubmitButton to Buttom
  solidity-v1/dashboard/src/actions/keep-to-t-staking.js
  solidity-v1/dashboard/src/components/modal/threshold/StakeOnThreshold.jsx
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
Due: lint-js-v1, format-dashboard

Move t related util functions to Keep lib
  solidity-v1/dashboard/src/components/modal/threshold/StakeOnThreshold.jsx
  solidity-v1/dashboard/src/components/threshold/AuthorizeStakesBanner.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/lib/keep/keep-to-t-staking/index.js
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
  solidity-v1/dashboard/src/utils/stake-to-t.utils.js
Due: lint-js-v1, format-dashboard

Add additional dot to make an ellipsis
  solidity-v1/dashboard/src/components/modal/threshold/components/StakeOnThresholdTimeline.jsx
Due: format-dashboard

Update links
  solidity-v1/dashboard/src/constants/constants.js
Due: lint-js-v1, format-dashboard

Remove submission eligibility algorithm
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/DKG.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/ecdsa/test/utils/dkg.ts
  solidity/ecdsa/test/utils/submission.ts
Due: lint-sol, lint-sol-v1

Remove requestSignature and submitSignature functions
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
Due: lint-sol, lint-sol-v1

Update comments
  solidity/ecdsa/contracts/DKGValidator.sol
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/DKG.sol
Due: lint-sol, lint-sol-v1

Temporarily use fixed version of t-network contracts
  .github/workflows/dashboard-v1-testnet.yml
Due: none

Add operator param to updateOperatorStatus
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Add tests for sortition pool registration
  solidity/ecdsa/contracts/test/StakingStub.sol
  solidity/ecdsa/test/WalletRegistry.Pool.test.ts
  solidity/ecdsa/test/utils/operators.ts
Due: lint-sol, lint-sol-v1

Update submission stat offset tests
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

Surround staking.seize with try/catch
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/test/StakingStub.sol
  solidity/ecdsa/contracts/test/WalletRegistryStub.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: lint-sol, lint-sol-v1

Expose function to check if a Wallet was registered.
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
  solidity/ecdsa/test/WalletRegistry.Wallets.ts
Due: lint-sol, lint-sol-v1

Use hardhat-dependency-compiler for T.sol
  solidity/ecdsa/contracts/test/TStub.sol
  solidity/ecdsa/hardhat.config.ts
  solidity/ecdsa/package.json
Due: lint-sol, lint-sol-v1

Remove offchainDkgTime
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/DKG.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/ecdsa/test/utils/wallets.ts
Due: lint-sol, lint-sol-v1

Remove Signature struct and events
  solidity/ecdsa/contracts/libraries/Wallets.sol
Due: lint-sol, lint-sol-v1

Add TODO comments for Random Beacon integration
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/DKG.sol
Due: lint-sol, lint-sol-v1

Update comments
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Remove unused groupSize from DKG.sol
  solidity/ecdsa/contracts/libraries/DKG.sol
Due: lint-sol, lint-sol-v1
