Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Impreve Beacon* libraries import
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Moving governance delay to the lib contract
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/GovernanceBeaconParams.sol
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Moving governance delay to the beacon params lib
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/GovernanceBeaconParams.sol
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Set noImplicitAny for typescript
  solidity/random-beacon/tsconfig.json
Due: lint-eslint, lint-config

Set no-explicit-any to warn
  solidity/random-beacon/.eslintrc
Due: lint-eslint, lint-config

Update tests to not use `any` types
  solidity/random-beacon/test/BeaconDkgValidator.test.ts
  solidity/random-beacon/test/Groups.Expiration.test.ts
  solidity/random-beacon/test/Groups.Termination.test.ts
  solidity/random-beacon/test/RandomBeacon.Authorization.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/system/e2e.test.ts
  solidity/random-beacon/test/utils/dkg.test.ts
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-eslint, lint-config

Adding missing docs
  solidity/random-beacon/contracts/libraries/GovernanceBeaconParams.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Prettier-ignore hardhat-dependency-compiler
  solidity/random-beacon/.prettierignore
Due: lint-eslint, lint-config

Fixing type 256->96
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/GovernanceBeaconParams.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Test improvements
  solidity/random-beacon/test/RandomBeacon.Authorization.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-eslint, lint-config

Renaming to WalletRegistry.Inactivity.test.ts
  solidity/ecdsa/test/WalletRegistry.Inactivity.test.ts
Due: none

Prettier ignore hardhat-dependency-compiler
  solidity/random-beacon/.prettierignore
Due: lint-eslint, lint-config

Clarify test accounts configuration
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/test/utils/operators.ts
Due: lint-eslint, lint-config

Refunding ETH from Reimbursement Pool for calling notifyOperatorInactivity
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/deploy/02_deploy_reimbursement_pool.ts
  solidity/ecdsa/test/WalletRegistry.Inactivity.test.ts
Due: lint-sol, lint-sol-v1

Removing local ETH transfer
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

Adding gov functionality for notification operator inactivity gas offset
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistry.Parameters.test.ts
Due: lint-sol, lint-sol-v1

Adding the time remaining function before gas offset can be updated
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1

Adding gov params tests
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: none

Reordered inactive operators gas offsets in ECDSA governance contract
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1

Send 100 ETH to reimbursement pool only for hardhat tests
  solidity/ecdsa/deploy/02_deploy_reimbursement_pool.ts
Due: none

Improved test names for wallet registry governance
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: none

Removing rewards related fields that were replaced by the ETH pool
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Upgraded sortition-pools dependency for random beacon
  solidity/random-beacon/package.json
  solidity/random-beacon/test/BeaconDkgValidator.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Grouping gas related params together to save on contract size
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Added function to withdraw random beacon rewards from the pool
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.Rewards.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Define separate fixture in RandomBeaconGovernance test
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-eslint, lint-config

Removing a concept of paying fees along with a relay request
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Grouping a relay requesters authorization update into 1 function
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix RandomBeaconGovernance test (undefined randomBeacon)
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-eslint, lint-config

Use named signer for governance in beacon unit tests
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Unit tests for RandomBeacon.withdrawIneligibleRewards
  solidity/random-beacon/test/RandomBeacon.Rewards.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-eslint, lint-config

Upgraded sortition-pools dependency for ECDSA
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Renaming failedHeartbeat -> operatorInactivity
  solidity/ecdsa/test/utils/inactivity.ts
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Renames and small docs changes
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Do not pass TokenStaking to SortitionPool ctor during ECDSA deployment
  solidity/ecdsa/deploy/01_deploy_sortition_pool.ts
Due: none

Added function to withdraw ECDSA rewards from the pool
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/test/WalletRegistry.Rewards.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: lint-sol, lint-sol-v1

Added function to withdraw ineligible rewards from WalletRegistry
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistry.Rewards.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Remove Ownable from Reimbursable
  solidity/random-beacon/contracts/Reimbursable.sol
  solidity/random-beacon/contracts/test/ReimbursableImplStub.sol
  solidity/random-beacon/test/Reimbursable.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Define onlyReimbursableAdmin in WalletRegistry
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Replace Ownable with Governable
  solidity/ecdsa/contracts/Governable.sol
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/deploy/08_transfer_governance.ts
  solidity/ecdsa/test/WalletRegistry.Parameters.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/utils/governance.ts
Due: lint-sol, lint-sol-v1
