Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Stored variable in calldate for gas proce optimization
  solidity/random-beacon/contracts/DKGValidator.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Revert "Change initial parameters values in test fixture"
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Document Random Beacon v2 parameters
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Clean up BLS and Relay
  solidity/random-beacon/contracts/libraries/BLS.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove comment column to reduce table width
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Improve test execution time
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Drop governable from text
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Moved dkg parameters view functions to the tail of file
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Bump solidity version in Heartbeats lib to ^0.8.9
  solidity/random-beacon/contracts/libraries/Heartbeat.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Swagging all the things in beacon v2
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/AltBn128.sol
  solidity/random-beacon/contracts/libraries/Authorization.sol
  solidity/random-beacon/contracts/libraries/BLS.sol
  solidity/random-beacon/contracts/libraries/BytesLib.sol
  solidity/random-beacon/contracts/libraries/Callback.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/libraries/ModUtils.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Finalise optimisation cleanup
  solidity/random-beacon/contracts/libraries/BLS.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Set max 6 decimals for cov pools forms
  solidity-v1/dashboard/src/components/coverage-pools/AddAmountToWithdrawalForm.jsx
  solidity-v1/dashboard/src/components/coverage-pools/WithdrawAmountForm.jsx
  solidity-v1/dashboard/src/forms/common-validators.js
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
Due: lint-js-v1, format-dashboard

extend Tally, MM provider from InjectedConnector
  solidity-v1/dashboard/src/components/CurrentWalletIconTooltip.jsx
  solidity-v1/dashboard/src/components/WalletOptions.jsx
  solidity-v1/dashboard/src/connectors/injected-connector.js
  solidity-v1/dashboard/src/connectors/metamask-injected.js
  solidity-v1/dashboard/src/connectors/tally-injected.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/hooks/useAutoConnect.js
Due: lint-js-v1, format-dashboard

useAutoConnect DRY refactor
  solidity-v1/dashboard/src/hooks/useAutoConnect.js
Due: lint-js-v1, format-dashboard

Clarify what constitutes a malitious DKG result
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Modified validation of group members: iterate instead of hashing
  solidity/random-beacon/contracts/DKGValidator.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Added tests for genesis to cover different options
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Remove challenges tests TODOs
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Removed TODOs around dkg result verification
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Fix whitespaces
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Made all require messages uppercase
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/test/TestModUtils.sol
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Give names to governable parameters
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

add qr drop deployment
  deployments/mainnet/MerkleDrop128.json
Due: none

Clarify who gets reward for accepting DKG result
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

update nov drop
  .gitattributes
  src/data/21_08.json
  src/data/21_09.json
  src/data/21_10.json
  src/data/21_11.json
  src/data/bf.json
  src/parse.py
Due: none

minor
  src/gen_qr_drop.js
Due: none

Describe punishing of operators IA/DQ during DKG protocol
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Document UAC around group expiration
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Document value of callback gas limit
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Removed unnecessary TODO from random beacon
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

tBTC reward allocation 2021-11-26 -> 2021-12-03
  solidity/dashboard/src/rewards-allocation/rewards.json
Due: none

tBTC reward allocation 2021-11-26 -> 2021-12-03
  solidity-v1/dashboard/src/rewards-allocation/rewards.json
Due: format-dashboard

Remove TODO from Groups test
  solidity/random-beacon/test/Groups.test.ts
Due: lint-eslint, lint-config

Reward the notifier of hard timeout
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

`maintainance pool` -> `rewards pool`
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Clarify that 200k gas used limit does not include callback cost
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Don't verify eligibility to submit relay request on-chain
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Removed unused functions and constants
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/contracts/libraries/Submission.sol
  solidity/random-beacon/contracts/test/SubmissionStub.sol
  solidity/random-beacon/test/Submission.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Document the address of KeepToken contract deployed on testnet
  docs/run-random-beacon.adoc
Due: none
