Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Remove events for signatures
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

WalletRegistry.Wallets.ts -> WalletRegistry.Wallets.test.ts
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
Due: none

Keep hardhat-dependency-compiler
  solidity/ecdsa/.eslintignore
  solidity/ecdsa/.gitignore
  solidity/ecdsa/.prettierignore
  solidity/ecdsa/.solhintignore
  solidity/ecdsa/hardhat.config.ts
Due: none

Ignore reentrancy for DkgMaliciousResultSlashed
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Improve documentation
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
Due: lint-sol, lint-sol-v1

Replace walletID with publicKeyHash
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
  solidity/ecdsa/test/utils/wallets.ts
Due: lint-sol, lint-sol-v1

Add configuration for VSC test plugin
  solidity/ecdsa/.vscode/settings.json
  solidity/ecdsa/tsconfig.json
Due: none

Expose function to validate DKG result
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/DKG.sol
  solidity/ecdsa/test/DKGValidator.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/utils/dkg.ts
Due: lint-sol, lint-sol-v1

Update deployment scripts to include Random Beacon
  solidity/ecdsa/deploy/02_deploy_dkg_validator.ts
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
  solidity/ecdsa/test/DKGValidator.test.ts
Due: none

Integrate with Random Beacon to get relay entry
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Define IRandomBeacon interface
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Prepare tests for RandomBeacon
  solidity/ecdsa/contracts/test/RandomBeaconStub.sol
  solidity/ecdsa/contracts/test/WalletRegistryStub.sol
  solidity/ecdsa/test/utils/wallets.ts
Due: lint-sol, lint-sol-v1

Workaround typings generation for duplicated contracts
  solidity/ecdsa/README.adoc
  solidity/ecdsa/package.json
Due: none

Add unit tests
  solidity/ecdsa/test/WalletRegistry.RandomBeacon.test.ts
Due: none

Add revert message
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Fix slither and linter problems
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/test/RandomBeaconStub.sol
  solidity/ecdsa/slither.config.json
Due: lint-sol, lint-sol-v1

Add pretest script
  solidity/ecdsa/package.json
Due: none

Require fresh relay entry for DKG to start
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Set dependency to a specific package of cov-pools
  .github/workflows/dashboard-v1-testnet.yml
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Test refactored custom CI actions
  .github/workflows/client.yml
  .github/workflows/contracts-v1.yml
Due: none

Adding SubmitterPrecedencePeriodLength gov param
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/DKGValidator.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Specifying which contracts to use in deployments
  solidity/ecdsa/deploy/02_deploy_dkg_validator.ts
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
Due: none

Updating params over governance
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Fix mismatched yarn.lock
  solidity/ecdsa/yarn.lock
Due: none

Checks against zero address for wallet owner
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: lint-sol, lint-sol-v1

Linting
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1

Adding tests for DkgSubmitterPrecedencePeriodLength
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
Due: none

Add snapshots to suite level before/after
  solidity/ecdsa/test/DKGValidator.test.ts
  solidity/ecdsa/test/WalletRegistry.Pool.test.ts
  solidity/ecdsa/test/WalletRegistry.RandomBeacon.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
Due: none

Initialier Operator struct with signer
  solidity/ecdsa/test/DKGValidator.test.ts
  solidity/ecdsa/test/utils/dkg.ts
  solidity/ecdsa/test/utils/groups.ts
  solidity/ecdsa/test/utils/operators.ts
Due: none

Use smock to mock Random Beacon contract
  solidity/ecdsa/contracts/test/RandomBeaconStub.sol
  solidity/ecdsa/hardhat.config.ts
  solidity/ecdsa/package.json
  solidity/ecdsa/test/utils/randomBeacon.ts
  solidity/ecdsa/test/utils/wallets.ts
  solidity/ecdsa/yarn.lock
Due: lint-sol, lint-sol-v1
