Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Use the new modal API to display the cov pools deposit modals
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/deposit/InitiateDeposit.jsx
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/deposit/WarningBeforeDeposit.jsx
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/deposit/index.js
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/index.js
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/withTimeline.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/css/modal-with-timeline.less
  solidity-v1/dashboard/src/css/modal.less
  solidity-v1/dashboard/src/hooks/useAcceptTermToConfirmFormik.js
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
  solidity-v1/dashboard/src/sagas/coverage-pool.js
Due: lint-js-v1, format-dashboard

Add terminated group ID to `RelayEntryTimedOut`
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Rename `idealGroupSize` to `dkgGroupSize`
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Renames around `groupSize` in `Relay.sol`
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove underscores from `getInactiveMembers`
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

FIx the mistake in `RelayEntryTimedOut` event name
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add a banner below the timeline in cov pools modals
  solidity-v1/dashboard/src/components/Banner.jsx
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/withTimeline.jsx
Due: format-dashboard

Update timeline styles in the cov pools modals
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/withTimeline.jsx
Due: format-dashboard

Move slashing out of relay and emit events
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove unused `RandomBeaconStub` import
  solidity/random-beacon/test/utils/groups.ts
Due: lint-eslint, lint-config

Update modal with timeline styles
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/deposit/InitiateDeposit.jsx
  solidity-v1/dashboard/src/css/modal-with-timeline.less
Due: format-dashboard

Relay test improvements
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Use the new modal API to initialize cov pool withdraw
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/InitiateWithdraw.jsx
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/index.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
  solidity-v1/dashboard/src/sagas/coverage-pool.js
Due: lint-js-v1, format-dashboard

Improve `punishOperators` docs
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Additional docs for `depositSize` constant
  solidity/random-beacon/contracts/libraries/GasStation.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use the new modal API to calim tokens from cov pool
  solidity-v1/dashboard/src/components/coverage-pools/PendingWithdrawals.jsx
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/ClaimTokens.jsx
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/index.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/sagas/coverage-pool.js
Due: lint-js-v1, format-dashboard

Use the new modal API to reinitiate withdraw in cov pool
  solidity-v1/dashboard/src/actions/coverage-pool.js
  solidity-v1/dashboard/src/components/coverage-pools/AddAmountToWithdrawalForm.jsx
  solidity-v1/dashboard/src/components/coverage-pools/PendingWithdrawals.jsx
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/InitiateWithdraw.jsx
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/ReInitiateWithdraw.jsx
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/index.js
  solidity-v1/dashboard/src/components/modal-component/withBaseModal.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/sagas/coverage-pool.js
Due: lint-js-v1, format-dashboard

Create ONE_DAY_IN_SECONDS constant
  solidity-v1/dashboard/src/components/coverage-pools/IncreaseWithdrawalModal.jsx
Due: format-dashboard

Adding group status
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Created one function that deploys random beacon in tests
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Made argument optional in random beacon deployment function
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Renamed staking interface
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/contracts/test/StakingStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fixing existing tests
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Attach real sortition pool to relay tests
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/utils/sortitionpool.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Improve docs of `submitEntry` method
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add missing event check
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Update ProgressBar component
  solidity-v1/dashboard/src/components/ProgressBar.jsx
Due: format-dashboard

Create withWithdrawalOverview hoc
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/components/WithdrawalOverview.jsx
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/components/index.js
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/withWithdrawalOverview.jsx
  solidity-v1/dashboard/src/css/modal-with-timeline.less
Due: lint-js-v1, format-dashboard

Add the new color to the colors.js
  solidity-v1/dashboard/src/constants/colors.js
Due: lint-js-v1, format-dashboard

Use the new modal API to handle withdraw flow in cov pools
  solidity-v1/dashboard/src/actions/coverage-pool.js
  solidity-v1/dashboard/src/components/modal-component/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/ConfirmIncreaseWithdrawal.jsx
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/IncreaseWithdrawal.jsx
  solidity-v1/dashboard/src/components/modal-component/coverage-pools/index.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
  solidity-v1/dashboard/src/sagas/coverage-pool.js
  solidity-v1/dashboard/src/utils/coverage-pools.utils.js
Due: lint-js-v1, format-dashboard

Cleanup
  solidity-v1/dashboard/src/actions/modal.js
  solidity-v1/dashboard/src/components/ConfirmationModal.jsx
  solidity-v1/dashboard/src/components/Modal.jsx
  solidity-v1/dashboard/src/components/coverage-pools/ClaimTokensModal.jsx
  solidity-v1/dashboard/src/components/coverage-pools/IncreaseWithdrawalModal.jsx
  solidity-v1/dashboard/src/components/coverage-pools/InitiateCovPoolsWithdrawModal.jsx
  solidity-v1/dashboard/src/components/coverage-pools/InitiateDepositModal.jsx
  solidity-v1/dashboard/src/components/coverage-pools/ModalWithTImeline.jsx
  solidity-v1/dashboard/src/components/coverage-pools/ReinitiateWithdrawalModal.jsx
  solidity-v1/dashboard/src/components/coverage-pools/WithdrawalInfo.jsx
  solidity-v1/dashboard/src/components/coverage-pools/index.js
  solidity-v1/dashboard/src/css/app.less
  solidity-v1/dashboard/src/css/claim-tokens-modal.less
  solidity-v1/dashboard/src/css/increase-withdrawal-modal.less
  solidity-v1/dashboard/src/css/reinitiate-withdrawal-modal.less
  solidity-v1/dashboard/src/css/withdraw-modal.less
  solidity-v1/dashboard/src/reducers/modal.js
  solidity-v1/dashboard/src/sagas/coverage-pool.js
Due: lint-js-v1, format-dashboard

Move the CovPoolTimline component
  solidity-v1/dashboard/src/components/modal/coverage-pools/components/Timeline.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/components/index.js
  solidity-v1/dashboard/src/components/modal/coverage-pools/withTimeline.jsx
Due: lint-js-v1, format-dashboard

Sortition pool locking
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Unit tests for sortition pool locking
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix typos
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Update cov pools How it Works page
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
  solidity-v1/dashboard/src/components/AccordionItemHeadingWithPlusMinusSign.jsx
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/css/accordion.less
  solidity-v1/dashboard/src/css/app.less
  solidity-v1/dashboard/src/css/coverage-pools-page.less
  solidity-v1/dashboard/src/pages/coverage-pools/HowItWorksPage.jsx
  solidity-v1/dashboard/src/static/svg/cov-pools-how-it-works-diagram.svg
Due: format-dashboard

Document what happens with the tokens slashed due to DKG challenge
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Clarify what happens when relay entry can't be produced
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Clarify validation of the fee allowance for a realy request
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
