Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Update copy
  solidity-v1/dashboard/src/components/modal/staking/ConfirmDelegation.jsx
  solidity-v1/dashboard/src/components/modal/threshold/ContactYourGrantManagerWarning.jsx
  solidity-v1/dashboard/src/constants/constants.js
Due: lint-js-v1, format-dashboard

Document getRemainingAuthorizationDecreaseDelayUpdateTime function
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
Due: lint-sol, lint-sol-v1

Deploy real T TokenStaking contract
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
Due: none

Use IStaking in WalletRegistryStub
  solidity/ecdsa/contracts/test/WalletRegistryStub.sol
Due: lint-sol, lint-sol-v1

Removed unused WalletRegistryStub.setMaliciousDkgResultSlashingAmount
  solidity/ecdsa/contracts/test/WalletRegistryStub.sol
Due: lint-sol, lint-sol-v1

Removed StakingStub contract
  solidity/ecdsa/contracts/test/StakingStub.sol
Due: lint-sol, lint-sol-v1

Use real T TokenStaking in test fixture setup
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Reworked DKGValidator unit tests to use WalletRegistry fixture
  solidity/ecdsa/test/DKGValidator.test.ts
Due: none

EcdsaAuthorization library: insert operator into the network
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
Due: lint-sol, lint-sol-v1

Added T TokenStaking to dependencyCompiler list of contracts
  solidity/ecdsa/hardhat.config.ts
Due: none

Register operator into the network via WalletRegistry
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Auxiliary function to query sortition pool
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaDkg.sol
Due: lint-sol, lint-sol-v1

ECDSA wallet creation tests updated to work with T TokenStaking
  solidity/ecdsa/test/DKGValidator.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

Reworked operators unit tests library to work with T TokenStaking
  solidity/ecdsa/test/utils/operators.ts
Due: none

Unit tests for ECDSA operator authorization
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
  solidity/ecdsa/test/WalletRegistry.Pool.test.ts
Due: none

Fix styling issue
  solidity-v1/dashboard/src/components/modal/staking/ConfirmDelegation.jsx
  solidity-v1/dashboard/src/components/modal/threshold/ContactYourGrantManagerWarning.jsx
  solidity-v1/dashboard/src/css/vars.less
Due: format-dashboard

Update threshold auth data after staking
  solidity-v1/dashboard/src/actions/index.js
  solidity-v1/dashboard/src/actions/keep-to-t-staking.js
  solidity-v1/dashboard/src/reducers/threshold-authorization.js
  solidity-v1/dashboard/src/sagas/subscriptions.js
Due: lint-js-v1, format-dashboard

Set proper properties
  solidity-v1/dashboard/src/reducers/threshold-authorization.js
  solidity-v1/dashboard/src/sagas/subscriptions.js
Due: lint-js-v1, format-dashboard

Update auth data only for authorizer
  solidity-v1/dashboard/src/sagas/subscriptions.js
Due: lint-js-v1, format-dashboard

Set isFromGrant properly when updating t auth data
  solidity-v1/dashboard/src/reducers/threshold-authorization.js
Due: lint-js-v1, format-dashboard

Fix condition
  solidity-v1/dashboard/src/reducers/threshold-authorization.js
Due: lint-js-v1, format-dashboard

Adding abstract Reimbursable contract
  solidity/random-beacon/contracts/Reimbursable.sol
  solidity/random-beacon/contracts/ReimbursementPool.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update KEEP Token Dashboard version to v1.17.1
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Bump docker image version to v1.17.1
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
Due: none

Making notifyDkgTimeout refundable
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/test/WalletRegistryStub.sol
Due: lint-sol, lint-sol-v1

Deploying reimbursement pool and renames
  solidity/ecdsa/deploy/02_deploy_reimbursement_pool.ts
  solidity/ecdsa/deploy/03_deploy_dkg_validator.ts
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
  solidity/ecdsa/deploy/05_approve_wallet_registry.ts
  solidity/ecdsa/deploy/06_deploy_wallet_registry_governance.ts
  solidity/ecdsa/deploy/07_transfer_ownerships.ts
Due: none

Notify the Wallet Owner about a wallet creation
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/api/IWalletOwner.sol
Due: lint-sol, lint-sol-v1

Add onlyWalletOwner modifier
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Shift wallet owner initialization to post deployment
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/contracts/test/WalletRegistryStub.sol
Due: lint-sol, lint-sol-v1

Update deployment scripts for wallet owner initialization
  solidity/ecdsa/.eslintrc
  solidity/ecdsa/README.adoc
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
  solidity/ecdsa/hardhat.config.ts
  solidity/ecdsa/tasks/index.ts
  solidity/ecdsa/tasks/initialize-wallet-owner.ts
  solidity/ecdsa/tsconfig.json
Due: none

Add tests for Wallet Owner support
  solidity/ecdsa/test/WalletRegistry.Parameters.test.ts
  solidity/ecdsa/test/WalletRegistry.RandomBeacon.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletOwner.test.ts
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/ecdsa/test/utils/dkg.ts
  solidity/ecdsa/test/utils/wallets.ts
Due: none

Apply suggestions from code review
  solidity/random-beacon/README.adoc
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Emitting event when refunding eth didn't work
  solidity/random-beacon/contracts/ReimbursmentPool.sol
  solidity/random-beacon/test/ReimbursmentPool.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

slithering
  solidity/random-beacon/contracts/ReimbursmentPool.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Refunding ETH in Wallet Registry
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/test/WalletRegistryStub.sol
  solidity/ecdsa/deploy/02_deploy_reimbursement_pool.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/random-beacon/contracts/Reimbursable.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fixing tests and adding WithdrawnFunds event
  solidity/random-beacon/contracts/ReimbursmentPool.sol
  solidity/random-beacon/test/ReimbursmentPool.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

add Jan data
  src/data/22_01.json
  src/data/defiracer.csv
  src/parse.py
Due: none

Authorization decrease support
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: lint-sol, lint-sol-v1

Emit an event from approveAuthorizationDecrease
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: lint-sol, lint-sol-v1

Introduced isOperatorUpToDate on WalletRegistry
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
Due: lint-sol, lint-sol-v1
