Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Fix problems reported by slither
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Revert `KeepAssetPool` import
  solidity-v1/dashboard/src/lib/keep/contracts/index.js
Due: lint-js-v1, format-dashboard

Remove unnecessary modal when staking from grant
  solidity-v1/dashboard/src/sagas/staking.js
Due: lint-js-v1, format-dashboard

Clean code
  solidity-v1/dashboard/src/components/modal/threshold/StakeOnThreshold.jsx
  solidity-v1/dashboard/src/components/threshold/AuthorizeThresholdContracts.jsx
  solidity-v1/dashboard/src/pages/applications/ThresholdApplicationPage.jsx
  solidity-v1/dashboard/src/reducers/index.js
  solidity-v1/dashboard/src/reducers/threshold-authorization.js
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Due: lint-js-v1, format-dashboard

Add uppercase to Cancel buttons
  solidity-v1/dashboard/src/components/modal/coverage-pools/InitiateWithdraw.jsx
  solidity-v1/dashboard/src/components/modal/staking/ConfirmDelegation.jsx
  solidity-v1/dashboard/src/components/modal/threshold/StakeOnThreshold.jsx
Due: format-dashboard

Simplify `canBeMovedToT`
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Due: lint-js-v1, format-dashboard

Add owner to success modal
  solidity-v1/dashboard/src/components/modal/threshold/StakeOnThreshold.jsx
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
Due: lint-js-v1, format-dashboard

Prevent succes modal from displaying for wrong users
  solidity-v1/dashboard/src/sagas/keep-to-t-staking.js
Due: lint-js-v1, format-dashboard

Remove unnecessary margin
  solidity-v1/dashboard/src/components/threshold/ThresholdStakingAuthorizationHistory.jsx
Due: format-dashboard

Fix "View transaction in Etherscan" text
  solidity-v1/dashboard/src/components/Message.jsx
  solidity-v1/dashboard/src/components/ViewInBlockExplorer.jsx
Due: format-dashboard

Workaround slither's bug with BeaconDKG import
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove leftover comment
  solidity/random-beacon/test/system/e2e.test.ts
Due: lint-eslint, lint-config

Replacing getSlashingFactor with calculateSlashingAmount
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/contracts/test/RelayStub.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix creating a contrarct instance
  solidity-v1/dashboard/src/lib/keep/index.js
Due: lint-js-v1, format-dashboard

Update KEEP Token Dashboard version to v1.17.0
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Bump docker image version to v1.17.0
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
Due: none

Adding reentrancy check and slithering
  solidity/random-beacon/contracts/ReimbursmentPool.sol
  solidity/random-beacon/test/ReimbursmentPool.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

tBTC reward allocation 2022-01-22 -> 2022-02-22
  solidity-v1/dashboard/src/rewards-allocation/rewards.json
  solidity-v1/dashboard/src/utils/rewardsHelper.js
Due: lint-js-v1, format-dashboard

slithering - fixing shadows
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Updated @threshold-network/solidity contract dependency to >1.1.0-dev
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Ignore postinstall scripts for dashboard installation
  solidity-v1/dashboard/Dockerfile
Due: format-dashboard

Build docker image for dashboard in GitHub actions
  .github/workflows/dashboard-v1-mainnet.yml
Due: none

Update parameters documentation
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/random-beacon/README.adoc
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix displaying undelegated stakes in app->threshold
  solidity-v1/dashboard/src/services/threshold-authorization.service.js
Due: lint-js-v1, format-dashboard

Update auth data after undelegating stake
  solidity-v1/dashboard/src/actions/index.js
  solidity-v1/dashboard/src/actions/keep-to-t-staking.js
  solidity-v1/dashboard/src/reducers/threshold-authorization.js
  solidity-v1/dashboard/src/sagas/subscriptions.js
Due: lint-js-v1, format-dashboard

Update test case name
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Disable hardhat contractSizer check for TokenStaking
  solidity/ecdsa/hardhat.config.ts
Due: none

Authorization parameters for WalletRegistrycontract
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/contracts/libraries/EcdsaAuthorization.sol
  solidity/ecdsa/test/WalletRegistry.Parameters.test.ts
  solidity/ecdsa/test/WalletRegistry.Pool.test.ts
  solidity/ecdsa/test/WalletRegistry.RandomBeacon.test.ts
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
  solidity/ecdsa/test/utils/operators.ts
Due: lint-sol, lint-sol-v1

Init staticGas & maxGasPrice in the constructor
  solidity/random-beacon/contracts/ReimbursmentPool.sol
  solidity/random-beacon/test/ReimbursmentPool.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Governance -> owner
  solidity/random-beacon/contracts/ReimbursmentPool.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Updated minimum auth and auth decrease delay parameters for ECDSA
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/test/fixtures/index.ts
Due: none

Initialize authentication parameters in WalletRegistry constructor
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol, lint-sol-v1

Ignoring result when refunding ETH
  solidity/random-beacon/contracts/ReimbursmentPool.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Refactoring withdrawAll and placing receive() at the top
  solidity/random-beacon/contracts/ReimbursmentPool.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Clearly stating that we deal with new static gas & new max price
  solidity/random-beacon/contracts/ReimbursmentPool.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

console.log cleanup
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
