Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: 'solidity/random-beacon\/.*'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Post-merge adjustments
  pkg/bitcoin/chain_test.go
  pkg/bitcoin/hash_test.go
  pkg/bitcoin/transaction_builder.go
  pkg/bitcoin/transaction_builder_test.go
  pkg/bitcoin/transaction_test.go
Due: none

Next part of post-merge adjustments
  pkg/tbtc/deposit_sweep_test.go
Due: none

Change the way how node's operator address and ID are determined
  pkg/tbtc/dkg.go
  pkg/tbtc/dkg_test.go
  pkg/tbtc/node.go
Due: none

Update go.mod
  go.mod
Due: none

Add assertConfirmationsCloseTo function
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Update `@threshold-network/solidity-contracts` dependency
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Use bigger timeouts in integration tests
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Increasing local storage size to 4096Mi across all the clients
  infrastructure/kube/keep-test/keep-client/gen/template.yaml
  infrastructure/kube/keep-test/keep-client/keep-clients.yaml
Due: none

Removed unnecessary comment
  pkg/bitcoin/block.go
Due: none

Fix badges after change in shields.io syntax
  README.adoc
  solidity/ecdsa/README.adoc
  solidity/random-beacon/README.adoc
Due: lint-eslint, lint-config

Document `GetOperatorID` Ethereum implementation
  pkg/chain/ethereum/beacon.go
  pkg/chain/ethereum/tbtc.go
Due: none

Additional validation within `SelectGroup`
  pkg/chain/ethereum/tbtc.go
Due: none

Clarify the need of sorted indexes in the `convertSignaturesToChainFormat` docs
  pkg/chain/ethereum/tbtc.go
Due: none

Refactor the code responsible for dealing with DKG result hashes
  pkg/chain/ethereum/tbtc.go
  pkg/chain/ethereum/tbtc_test.go
  pkg/tbtc/chain.go
  pkg/tbtc/chain_test.go
  pkg/tbtc/dkg_submit.go
  pkg/tbtc/dkg_submit_test.go
  pkg/tecdsa/dkg/dkg.go
  pkg/tecdsa/dkg/marshaling.go
  pkg/tecdsa/dkg/marshaling_test.go
  pkg/tecdsa/dkg/member.go
  pkg/tecdsa/dkg/message.go
  pkg/tecdsa/dkg/protocol_test.go
  pkg/tecdsa/dkg/result.go
Due: none

Additional improvements to `CalculateDKGResultSignatureHash`
  pkg/chain/ethereum/tbtc.go
  pkg/tbtc/chain.go
  pkg/tbtc/chain_test.go
  pkg/tbtc/dkg_submit.go
  pkg/tbtc/dkg_submit_test.go
  pkg/tecdsa/dkg/result.go
Due: none

Refactoring of the `tbtc.Chain` interface
  pkg/chain/ethereum/tbtc.go
  pkg/chain/ethereum/tbtc_test.go
  pkg/tbtc/chain.go
  pkg/tbtc/chain_test.go
  pkg/tbtc/dkg_submit.go
  pkg/tbtc/dkg_test.go
Due: none

Remove `operatorsIDs` from the `tbtc.localChain` component
  pkg/tbtc/chain_test.go
  pkg/tbtc/dkg_submit_test.go
  pkg/tbtc/dkg_test.go
Due: none

Introduce `generateHandlerID` to calculate IDs without relying on `local_v1` pkg
  pkg/tbtc/chain_test.go
Due: none

Remove redundant fields from `dkgRetryLoop`
  pkg/tbtc/dkg_loop.go
Due: none

Make the DKG retry loop responsible for computing the attempt timeout
  pkg/tbtc/dkg.go
  pkg/tbtc/dkg_loop.go
  pkg/tbtc/dkg_loop_test.go
Due: none

Cosmetic improvement in `activeWalletPublicKey` function
  pkg/chain/ethereum/tbtc.go
Due: none

Upgrade version of Node used in CI to `v18`
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/npm-ecdsa.yml
Due: none

Update downstream dependendencies
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: none

Added initial structure for wallet maintainer
  cmd/flags.go
  cmd/flags_test.go
  config/config_test.go
  pkg/tbtc/maintainer/bitcoin_difficulty.go
  pkg/tbtc/maintainer/chain.go
  pkg/tbtc/maintainer/config.go
  pkg/tbtc/maintainer/maintainer.go
  pkg/tbtc/maintainer/wallet.go
  test/config.json
  test/config.toml
  test/config.yaml
Due: none

Added checking conditions for requesting new wallet
  cmd/tbtc_maintainer.go
  pkg/tbtc/maintainer/chain.go
  pkg/tbtc/maintainer/maintainer.go
  pkg/tbtc/maintainer/wallet.go
Due: none

Added random beacon stub contract for chaosnet
  solidity/random-beacon/contracts/RandomBeaconStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Remove the TODO about acting on result challenges
  pkg/tbtc/tbtc.go
Due: none

Change SemVer range for @tenderly/hardhat-tenderly dependency
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Fix `@tenderly/hardhat-tenderly` version to `1.0.12`
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Added seed update in RandomBeaconChaosnet contract
  solidity/random-beacon/contracts/RandomBeaconChaosnet.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Fix possible reentrancy error
  solidity/random-beacon/contracts/RandomBeaconChaosnet.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Updated descriptions
  solidity/random-beacon/contracts/RandomBeaconChaosnet.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Replaced seed hashing with relay entry hashing
  solidity/random-beacon/contracts/RandomBeaconChaosnet.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Updated unit tests for Random Beacon Chaosnet contract
  solidity/random-beacon/test/RandomBeaconChaosnet.Callback.test.ts
Due: lint-eslint, lint-config

Harden the DKG result validation logic
  pkg/tbtc/deduplicator.go
  pkg/tbtc/deduplicator_test.go
  pkg/tbtc/dkg.go
  pkg/tbtc/tbtc.go
Due: none

Increase DKG result submission and aproval delay steps
  pkg/tbtc/dkg.go
  pkg/tbtc/dkg_test.go
Due: none

Remove the chain config from `tbtc.Chain` interface
  pkg/chain/ethereum/tbtc.go
  pkg/tbtc/chain.go
  pkg/tbtc/chain_test.go
  pkg/tbtc/dkg.go
  pkg/tbtc/dkg_loop.go
  pkg/tbtc/dkg_loop_test.go
  pkg/tbtc/dkg_submit.go
  pkg/tbtc/dkg_submit_test.go
  pkg/tbtc/dkg_test.go
  pkg/tbtc/node.go
  pkg/tbtc/node_test.go
  pkg/tbtc/signing.go
  pkg/tbtc/signing_done_test.go
  pkg/tbtc/signing_loop.go
  pkg/tbtc/signing_loop_test.go
  pkg/tbtc/signing_test.go
  pkg/tbtc/tbtc.go
  pkg/tbtc/wallet.go
Due: none

Add TODO about updating `DKGResultSubmittedEvent` subscription
  pkg/tbtc/dkg.go
Due: none

Improve docs of `finalSigningGroup`
  pkg/tbtc/dkg.go
Due: none

Fix docstring of `calculateDKGResultSignatureHash` function
  pkg/chain/ethereum/tbtc.go
Due: none
