Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Update List component
  solidity-v1/dashboard/src/components/List.jsx
Due: format-dashboard

Solve `Stack too deep` error
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Create new modals for undelegate flow
  solidity-v1/dashboard/src/components/DelegatedTokens.jsx
  solidity-v1/dashboard/src/components/DelegatedTokensTable.jsx
  solidity-v1/dashboard/src/components/UndelegateStakeButton.jsx
  solidity-v1/dashboard/src/components/modal/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal/staking/ConfirmUndelegation.jsx
  solidity-v1/dashboard/src/components/modal/staking/index.js
  solidity-v1/dashboard/src/components/modal/staking/undelegate/UndelegateStake.jsx
  solidity-v1/dashboard/src/components/modal/staking/undelegate/UndelegationInitiated.jsx
  solidity-v1/dashboard/src/components/modal/staking/undelegate/components/InfoList.jsx
  solidity-v1/dashboard/src/components/modal/staking/undelegate/components/index.js
  solidity-v1/dashboard/src/components/modal/staking/undelegate/index.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/sagas/subscriptions.js
Due: lint-js-v1, format-dashboard

Moving expiration tests to its own test file
  solidity/random-beacon/test/Groups.Expiration.test.ts
  solidity/random-beacon/test/Groups.test.ts
Due: lint-eslint, lint-config

Fixed bug in managed grant check loop
  solidity-v1/scripts/resolve-owners.js
Due: lint-js-v1

Create new modals for the staking recovery flow
  solidity-v1/dashboard/src/components/RecoverStakeButton.jsx
  solidity-v1/dashboard/src/components/Undelegations.jsx
  solidity-v1/dashboard/src/components/modal/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal/staking/claim/ClaimTokens.jsx
  solidity-v1/dashboard/src/components/modal/staking/claim/TokensClaimed.jsx
  solidity-v1/dashboard/src/components/modal/staking/claim/index.js
  solidity-v1/dashboard/src/components/modal/staking/index.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/sagas/subscriptions.js
Due: lint-js-v1, format-dashboard

Update modal component
  solidity-v1/dashboard/src/components/modal/Modal.jsx
  solidity-v1/dashboard/src/components/modal/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal/withBaseModal.jsx
Due: format-dashboard

Cleanup modal reducer
  solidity-v1/dashboard/src/reducers/modal.js
Due: lint-js-v1, format-dashboard

Update cov pool InitiateDeposit modal
  solidity-v1/dashboard/src/components/modal/coverage-pools/deposit/InitiateDeposit.jsx
Due: format-dashboard

Unit tests for DKG challenge
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Configurable stake amount for operator registration
  solidity/random-beacon/test/utils/sortitionpool.ts
Due: lint-eslint, lint-config

Remove duplicated UAC
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Rename sortitionpools.ts to operators.ts
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/utils/dkg.ts
  solidity/random-beacon/test/utils/groups.ts
  solidity/random-beacon/test/utils/operators.ts
Due: lint-eslint, lint-config

Use sortition pool in group creation tests
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
Due: lint-eslint, lint-config

Linter made happy
  solidity-v1/scripts/resolve-owners.js
Due: lint-js-v1

Update sortition pools dependency to the latest
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Remove unnecessary `console.log`
  solidity-v1/dashboard/src/components/RecoverStakeButton.jsx
  solidity-v1/dashboard/src/reducers/staking.js
Due: lint-js-v1, format-dashboard

Change the btn text in Undelegations table component
  solidity-v1/dashboard/src/components/Undelegations.jsx
Due: format-dashboard

Modify method of punishment for misbehaviour
  docs/acceptance-criteria/uacs-rfc-19-random-beacon-v2.adoc
Due: none

Add renderButton prop to UpdateTokensTiel
  solidity-v1/dashboard/src/components/threshold/UpgradeTokensTile.jsx
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: format-dashboard

Add functionality to withdraw from grant btn
  solidity-v1/dashboard/src/components/modal/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/pages/threshold/ThresholdUpgradePage.jsx
Due: lint-js-v1, format-dashboard

Fix typos in `RandomBeacon` docs
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use `hardhat clean`
  solidity/random-beacon/package.json
Due: lint-eslint, lint-config

Zero out KEEP-only pool APY
  solidity-v1/dashboard/src/components/KeepOnlyPool.jsx
Due: format-dashboard

Disable deposit button in KEEP-only pool card
  solidity-v1/dashboard/src/components/KeepOnlyPool.jsx
Due: format-dashboard

Convert the TBTC/ETH pool to a incentives removed
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
Due: lint-js-v1, format-dashboard

Install react-accessible-accordion
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
  solidity-v1/dashboard/src/components/FormCheckbox.jsx
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/css/accordion.less
  solidity-v1/dashboard/src/css/app.less
Due: format-dashboard

Remove unnecessary console.logs
  solidity-v1/dashboard/src/hooks/useAutoWalletAddressInjectIntoUrl.js
Due: lint-js-v1, format-dashboard

Remove duplicated code
  solidity-v1/dashboard/src/hooks/useAutoWalletAddressInjectIntoUrl.js
Due: lint-js-v1, format-dashboard

Remove unused `tx` in tests
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
  solidity/random-beacon/yarn.lock
Due: lint-eslint, lint-config

Place `no-await-in-loop` ignore on top of file
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Rename `signers` to `members` in relay tests
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Adding termination tests
  solidity/random-beacon/contracts/test/GroupsStub.sol
  solidity/random-beacon/test/Groups.Expiration.test.ts
  solidity/random-beacon/test/Groups.Termination.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Add styles to accordion
  solidity-v1/dashboard/src/components/FormCheckbox.jsx
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/css/accordion.less
  solidity-v1/dashboard/src/css/app.less
  solidity-v1/dashboard/src/css/forms.less
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
Due: format-dashboard

Display total amount to withdraw modal
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
Due: format-dashboard

Add border to accordion rows
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
Due: format-dashboard

Add proper styles for one accordion row
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
Due: format-dashboard

Fix arguments passed to map function
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
Due: format-dashboard

Add View More button
  solidity-v1/dashboard/src/components/modal/threshold/WithdrawGrantedTokens.jsx
  solidity-v1/dashboard/src/css/withdraw-granted-tokens.less
Due: format-dashboard

Refactor Inline Progress Bar
  solidity-v1/dashboard/src/components/ProgressBar.jsx
  solidity-v1/dashboard/src/components/TokenGrantOverview.jsx
  solidity-v1/dashboard/src/components/TokenOverview.jsx
  solidity-v1/dashboard/src/components/coverage-pools/PendingWithdrawals.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/components/WithdrawalOverview.jsx
  solidity-v1/dashboard/src/components/threshold/AllocationProgressBar.jsx
  solidity-v1/dashboard/src/pages/rewards/TBTCRewardsPage.jsx
Due: format-dashboard

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
