Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Making gas offsets & gas for dkg result submision updatable
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Making gas updatable in the gov contract for random-beacon
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Adding contract authorization tests
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Adding tests for contract authorizations
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-eslint, lint-config

Adding an empty line
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Update KEEP Token Dashboard version to v1.18.0
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Bump docker image version to v1.18.0
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
Due: none

Restore unauthenticated git protocol fix
  solidity-v1/dashboard/package-lock.json
Due: format-dashboard

Bump the dashboard version to v1.19.0-pre
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: format-dashboard

Define library properties in Parameters struct
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/Authorization.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

tBTC reward allocation 2022-02-22 -> 2022-03-22
  solidity-v1/dashboard/src/rewards-allocation/rewards.json
  solidity-v1/dashboard/src/utils/rewardsHelper.js
Due: lint-js-v1, format-dashboard

Further cleaning after dkgApproval/dkgResultApproval rename
  solidity/ecdsa/contracts/WalletRegistryGovernance.sol
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: lint-sol, lint-sol-v1

Indexed groupId in beacon's InactivityClaim event
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Make Relay a linked library
  solidity/random-beacon/contracts/libraries/Relay.sol
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

notifyOperatorInactivity for WalletRegistry
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaInactivity.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
  solidity/ecdsa/test/WalletRegistry.Inactivity.ts
  solidity/ecdsa/test/utils/inactivity.ts
Due: lint-sol, lint-sol-v1

RandomBeacon.notifyOperatorInactivity docs improved
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

RandomBeacon notifyOperatorInactivity test improvements
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Remove functions from RandomBeaconStub
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Post-merge problem resolution
  solidity/ecdsa/contracts/libraries/Wallets.sol
  solidity/ecdsa/deploy/04_deploy_wallet_registry.ts
  solidity/ecdsa/test/WalletRegistry.Inactivity.ts
Due: lint-sol, lint-sol-v1

Removed unused imports from WalletRegistryStub
  solidity/ecdsa/contracts/test/WalletRegistryStub.sol
Due: lint-sol, lint-sol-v1

Adjusted precision in notifySeedTimeout ETH refund test
  solidity/ecdsa/test/WalletRegistry.WalletCreation.test.ts
Due: none

Move dkgLockState function to the stub
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Implemented WalletRegistry.closeWallet
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/Wallets.sol
  solidity/ecdsa/test/WalletRegistry.Inactivity.ts
  solidity/ecdsa/test/WalletRegistry.Wallets.test.ts
Due: lint-sol, lint-sol-v1

Handle RandomBeaconStub typing in Relay test
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Impreve groupLifetime test
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
Due: lint-eslint, lint-config

Simplify RandomBeaconStub for groups actions
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Intergrate RandomBeacon with T TokenStaking
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Authorization.sol
  solidity/random-beacon/contracts/test/RandomBeaconStub.sol
  solidity/random-beacon/contracts/test/StakingStub.sol
  solidity/random-beacon/package.json
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Exclude TokenStaking from contract sizer check
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/package.json
Due: lint-eslint, lint-config

Remove minimumStake constant
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/utils/operators.ts
Due: lint-eslint, lint-config

Define slashing amounts as uint96
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/Relay.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Compile dependencies from @threshold-network/solidity-contracts
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/package.json
Due: lint-eslint, lint-config

Remove TestToken
  solidity/random-beacon/contracts/test/TestToken.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Store signer in Operator object
  solidity/random-beacon/test/BeaconDkgValidator.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/utils/dkg.ts
  solidity/random-beacon/test/utils/groups.ts
  solidity/random-beacon/test/utils/inacvitity.ts
  solidity/random-beacon/test/utils/operators.ts
Due: lint-eslint, lint-config

Provide types for contract factories
  solidity/random-beacon/test/AltBn128.test.ts
  solidity/random-beacon/test/Groups.Expiration.test.ts
  solidity/random-beacon/test/Groups.Termination.test.ts
  solidity/random-beacon/test/Groups.test.ts
  solidity/random-beacon/test/ModUtils.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Use actual TokenStaking and T token contracts in tests
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/package.json
  solidity/random-beacon/test/BeaconDkgValidator.test.ts
  solidity/random-beacon/test/RandomBeacon.Authorization.test.ts
  solidity/random-beacon/test/RandomBeacon.Callback.test.ts
  solidity/random-beacon/test/RandomBeacon.GroupCreation.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/mocks/staking.ts
  solidity/random-beacon/test/system/e2e.test.ts
  solidity/random-beacon/test/utils/operators.ts
Due: lint-eslint, lint-config

Update authorization parameters used in tests
  solidity/random-beacon/test/fixtures/index.ts
Due: lint-eslint, lint-config

Remove Poll tests
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
Due: lint-eslint, lint-config

Added bool flag to ECDSA inactivity claim indicating if heartbeat failed
  solidity/ecdsa/contracts/libraries/EcdsaInactivity.sol
  solidity/ecdsa/test/WalletRegistry.Inactivity.ts
  solidity/ecdsa/test/utils/inactivity.ts
Due: lint-sol, lint-sol-v1

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
