Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Extract `tecdsa.PrivateKeyShare` marshaling code to a separate file
  pkg/tecdsa/key.go
  pkg/tecdsa/marshaling.go
  pkg/tecdsa/marshalling_test.go
Due: none

Align all WalletRegistryV2 test contracts with the original one
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MisplacedNewSlot.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MissingSlot.sol
Due: lint-sol, lint-sol-v1

Marshaling of `tbtc.wallet` and `tbtc.signer`
  pkg/tbtc/gen/gen.go
  pkg/tbtc/gen/pb/wallet.pb.go
  pkg/tbtc/gen/pb/wallet.proto
  pkg/tbtc/marshaling.go
  pkg/tbtc/marshaling_test.go
Due: none

Removed outdated TODO from WalletRegistry upgrade test contracts
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MisplacedNewSlot.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MissingSlot.sol
Due: lint-sol, lint-sol-v1

Fixed spelling errors
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MisplacedNewSlot.sol
  solidity/ecdsa/contracts/test/upgrades/WalletRegistryV2MissingSlot.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/BeaconAuthorization.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Use newer version (v3) of the `setup-node` action
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
  .github/workflows/npm-ecdsa.yml
  .github/workflows/npm-random-beacon.yml
  .github/workflows/submitter-testnet.yaml
Due: none

Forgot to update the test expectation :) again :)
  pkg/ecdsa/retry/retry_test.go
Due: none

Use newer version (v3) of the `setup-node` action
  .github/workflows/contracts-v1.yml
  .github/workflows/dashboard-v1-mainnet.yml
  .github/workflows/dashboard-v1-testnet.yml
  .github/workflows/genesis-testnet.yml
  .github/workflows/npm-v1.yml
Due: none

Use newer version (v3) of the `checkout` action
  .github/workflows/client.yml
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
  .github/workflows/contracts-v1.yml
  .github/workflows/dashboard-v1-format.yaml
  .github/workflows/dashboard-v1-mainnet.yml
  .github/workflows/dashboard-v1-testnet.yml
  .github/workflows/docs.yml
  .github/workflows/genesis-testnet.yml
  .github/workflows/npm-ecdsa.yml
  .github/workflows/npm-random-beacon.yml
  .github/workflows/npm-v1.yml
  .github/workflows/submitter-testnet.yaml
Due: none

Added extra gas requirement for Beacon DKG result challenge
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/ecdsa/contracts/libraries/EcdsaDkg.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/libraries/BeaconDkg.sol
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeacon.Relay.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
  solidity/random-beacon/test/utils/dkg.ts
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Build docker image for contracts in CI
  .github/workflows/common-docker.yml
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
  solidity/ecdsa/.dockerignore
  solidity/ecdsa/Dockerfile
  solidity/random-beacon/.dockerignore
  solidity/random-beacon/Dockerfile
Due: lint-eslint, lint-config

Removing development's env OZ manifest only
  scripts/install.sh
Due: none

Added missing test case for DKG result challenge extra gas
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
Due: lint-eslint, lint-config

Spelling errors fix
  solidity/ecdsa/contracts/WalletRegistry.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/BeaconDkg.sol
Due: lint-sol, lint-eslint, lint-config, lint-sol-v1

Actual wallet storage implementation
  pkg/tbtc/node.go
  pkg/tbtc/storage.go
  pkg/tbtc/storage_test.go
  pkg/tbtc/wallet.go
Due: none

App-specific persistence initialization
  cmd/start.go
Due: none

Make gofmt happy
  pkg/tecdsa/marshaling.go
  pkg/tecdsa/marshalling_test.go
Due: none

Fix failing ECDSA DKG protocol test
  pkg/tecdsa/dkg/protocol_test.go
Due: none

#3012 Expand PV capacity
  infrastructure/kube/keep-test/geth-node/eth-goerli-node.yaml
Due: none

Fix state duration context
  pkg/tecdsa/dkg/states.go
Due: none

Call docker build and publish as a custom action
  .github/actions/docker-build-push/action.yml
  .github/workflows/common-docker.yml
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
Due: none

Use docker/build-push-action@v3
  .github/actions/docker-build-push/action.yml
Due: none

Clear cacue by moving its content
  .github/actions/docker-build-push/action.yml
Due: none

Improve comment
  Makefile
Due: none

Add targets to PHONY
  Makefile
Due: none

Rename `solidity-contracts-version` > `threshold-contracts-version`
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
Due: none

Remove all the unknown-* (local chains) OZ manifest
  scripts/install.sh
Due: none

Replace env.<property> with inputs.<property>
  .github/actions/docker-build-push/action.yml
Due: none

Don't specify the licence when running etherscan-verify
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
Due: none

Use custom action to configure tenderly
  .github/actions/tenderly-config/action.yml
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
  solidity/ecdsa/config_tenderly.sh
  solidity/random-beacon/config_tenderly.sh
Due: lint-eslint, lint-config

Fix the publishing of Docker images
  .github/actions/docker-build-push/action.yml
Due: none

Make TSS round two state longer
  pkg/tecdsa/dkg/states.go
Due: none

Limit the length of the wallet storage key
  pkg/tbtc/storage.go
Due: none

Update action reference name
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
Due: none

Remove `checkout` from `docker-build-push` custom action
  .github/actions/docker-build-push/action.yml
Due: none

Adjusted state durations when ECDSA DKG is performed
  pkg/ecdsa/dkg/states.go
Due: none

Update eth-account-info configmap
  infrastructure/kube/keep-test/eth-account-info-configmap.yaml
Due: none

Remove no longer used configurations
  infrastructure/kube/keep-test/eth-network-internal-configmap.yaml
  infrastructure/kube/keep-test/eth-network-ropsten-configmap.yaml
Due: none

Update configuration for keep-client-0
  infrastructure/kube/keep-test/keep-client-0-service.yaml
  infrastructure/kube/keep-test/keep-client-0-statefulset.yaml
  infrastructure/kube/keep-test/keep-client-0.yaml
Due: none

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: solidity/random-beacon\/.*
  lint-config: any of: solidity/random-beacon\/.*
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: \.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
